
.bnFont {
    line-height: 27px;
    font-family: "Times New Roman", Times, serif, nikosh !important;
    font-size: 16px;
}
.enFont {
    line-height: 27px;
    font-family: "Times New Roman", Times, serif, nikosh !important;
    font-size: 15px;
}

table, th, td {
    border: 1px solid #b9b1b1;
    border-collapse: collapse;
}
td{
    text-align: center;
}

.field-size-right {
    text-align: center;
    width: 50px !important;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.AddComments {
    position: absolute;
    left: 0;
}
.AddCommentsField{
    width: 100% !important;
    border: 1px solid #CCC;
    padding-left: 26px;
}

// input[disabled] {
//     background-color: #adaaaa !important;  //use your prefered color here
//  }
 .active {
    background-color: #bfbbbb !important;
    color: #080808 !important;
}