@import "src/styles/styles";
.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.hideRow{
    display: none;
}
.rightAlign{
    text-align: right;
}

.required {
    color: red
}

.padding1 {
    padding-right: 10px
}
.hideRow{
    display: none;
}

table {
    width: 100%;
    border: 1px solid #ccc;

    .top-header {
        font-weight: bold;
        background-color: $base-color;
        color: #FFFFFF;
        border: 1px solid #ccc;
        text-align: center;
        height: 40px;
    }

    .sub-header {
        font-weight: bold;
        background-color: $base-color;
        color: #FFFFFF;
        border: 1px solid #ccc;
        text-align: center;
        padding: 5px;
    }

    td {
        text-align: center;
        border: 1px solid #ccc;
    }

    tr {
        text-align: center;
        border: 1px solid #ccc;
    }

    body {
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }
}

mat-form-field {
    width: 90% !important;
    font-size: 12px;
}

.body-color {
    background-color: #EEF2FF;
}

.tab-color {
    background-color: #F0FDF4 !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
