.header1{
    font-weight: bold;
    display: inline-flex;
    font-size: 16px;
    font-family: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    th{
        background-color: #49a58b;
        color: #FFFFFF;
        font-weight: bold;
        font-family: auto;
        font-size: 14px;
        border: 1px solid #CCC;
        padding: 0px 3px;
    }
    td{
        border: 1px solid #CCC;
        padding: 0px 3px;
        font-family: arial;
    }

}
::ng-deep{
    .mat-form-field-label-wrapper, .mat-option {
        font-family: AdorshoLipi, nikosh !important;
        font-size: 17px;
    }
}
