.required {
    color: red
}

table {
    width: 100%;

    th {
        font-size: small;
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF !important;
        text-align: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 3px;
    }

    td {
        text-align: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px;
    }
}
.buttons {
    display: flex;
    align-items: center;
}
mat-form-field {
    width: 200px !important;
    font-size: 12px;
}

.font-bold {
    font-weight: bold;
}
