<div class="width-100">
    <!-- Header -->
    <app-form-header [title]="'headerTitle' | translate" [subTitle]="'headerSubTitle' | translate"></app-form-header>
    <div *ngIf="spinner" class="flex items-center justify-center">
        <div style="border-top-color:transparent; position: absolute;z-index: 9999;"
            class="absolute top-1/2 left-1/2 w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin">
        </div>
    </div>


    <!-- Main Start -->
    <div class="flex-auto m-7 body-color">
        <mat-card class="tab-color -mt-4">

            <div class="flex flex-col bg-card shadow rounded overflow-hidden">
                <div class="heading">
                    <h1>{{'formTitle' | translate}}</h1>
                </div>
            </div>
            <!-- Card Body -->

            <form [formGroup]="frmGroup" #inputForm="ngForm" class="p-4 border3 form-bg-color">

                <!-- -----------1st Row----------- -->
                <div class="md:flex">

                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'stFiscalYear' | translate}} <strong class="required">*</strong>
                        </span>
                    </div>

                    <div class="w-full sm:w-auto md:w-30 lg:w-30">
                        <mat-form-field class="w-full">
                            <mat-select [formControlName]="'stFiscalYearId'" [compareWith]="compareFn">
                                <mat-option *ngFor="let f of fiscalYearList" [value]="f">{{f.fiscalYear}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Fiscal year is requerd!</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="w-full sm:w-auto md:w-20 ml-2 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'stCommitteeType' | translate}} <strong class="required">*</strong>
                        </span>
                    </div>

                    <div class="w-full sm:w-auto md:w-30 lg:w-30">
                        <mat-form-field class="w-full">
                            <mat-select [formControlName]="'stCommitteeTypeId'" [compareWith]="compareFn">
                                <mat-option *ngFor="let c of commiteeTypeList" [value]="c">{{c.committeeName}}
                                </mat-option>
                            </mat-select>
                            <mat-error>Committee name is required!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- -----------/1st Row----------- -->


                <!-- -----------2nd Row----------- -->
                <div class="md:flex">

                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'effectiveFromDate' | translate}} <strong class="required">*</strong>
                        </span>
                    </div>

                    <div class="w-full sm:w-auto md:w-30 lg:w-30">
                        <mat-form-field class="w-full">
                            <input matInput [matDatepicker]="datepicker1" name="effectiveFromDate"
                                formControlName="effectiveFromDate" (click)="datepicker1.open()">
                            <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker1></mat-datepicker>
                            <mat-error>Effective from date is required!</mat-error>
                        </mat-form-field>
                    </div>


                    <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'effectiveEndDate' | translate}} <strong class="required">*</strong>
                        </span>
                    </div>

                    <div class="w-full sm:w-auto md:w-30 lg:w-30">
                        <mat-form-field class="w-full">
                            <input matInput [matDatepicker]="datepicker2" name="effectiveEndDate"
                                formControlName="effectiveEndDate" (click)="datepicker2.open()">
                            <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker2></mat-datepicker>
                            <mat-error>Effective end date is required!</mat-error>
                        </mat-form-field>
                    </div>

                </div>
                <!-- -----------/2nd Row----------- -->


                <!-- -----------3nd Row----------- -->
                <div class="md:flex">
                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'chairman' | translate}} <strong class="required">*</strong>
                        </span>
                    </div>

                    <div class="w-full sm:w-auto md:w-30 lg:w-30 md:pt-3">

                        <label class="inline-flex items-center">
                            <input type="radio" class="form-radio" name="isChairman" [value]="1"
                                formControlName="isChairman">
                            <span class="ml-2">Yes</span>
                        </label>

                        <label class="inline-flex items-center ml-6">
                            <input type="radio" class="form-radio" name="isChairman" [value]="0"
                                formControlName="isChairman">
                            <span class="ml-2">No</span>
                        </label>
                    </div>

                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left ml-2 pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'uploadENothiAppFiles' | translate}} <strong class="required">*</strong>
                        </span>
                    </div>

                    <div class="w-full sm:w-auto md:w-30 lg:w-30">
                        <mat-form-field class="w-full">
                            <input matInput formControlName="uploadENothiAppFiles">
                            <mat-error>Upload E-Nothi App Files is required!</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- -----------/3nd Row----------- -->

                <!-- -----------4th Row----------- -->
                <div class="md:flex">
                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'status' | translate}} <strong class="required">*</strong>
                        </span>
                    </div>

                    <div class="w-full sm:w-auto md:w-30 lg:w-30">
                        <mat-form-field class="w-full">
                            <mat-select formControlName="active">
                                <mat-option value="true">Active</mat-option>
                                <mat-option value="false">Inactive</mat-option>
                            </mat-select>
                            <mat-error>Status is required!</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="w-full sm:w-auto md:w-20 ml-2 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'User' | translate}} <strong class="required">*</strong>
                        </span>
                    </div>

                    <div class="w-full sm:w-auto md:w-30 lg:w-30">
                        <mat-form-field class="w-full">
                            <mat-select formControlName="userId">
                                <mat-option *ngFor="let f of userList" [value]="f.id">{{f.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>User is required!</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- -----------/4th Row----------- -->
                <div class="flex justify-end mt-3 mr-2">
                    <button class="px-5 mr-2" mat-flat-button color="accent" (click)="formReset()" type="reset">
                        <mat-icon class="mr-1">refresh</mat-icon>
                        {{'reset' | translate}}
                    </button>

                    <button class="px-5" mat-flat-button color="primary" (click)="onSubmit()">
                        <mat-icon class="mr-1">save</mat-icon>
                        <div *ngIf="formTitle=='Edit'; else temp ">{{'update' | translate}}</div>
                        <ng-template #temp>{{'save' | translate}}</ng-template>
                    </button>
                </div>
            </form>


            <!-- List Grid -->
            <div class="md:flex tbl-title">
                <div class="w-full sm:w-auto md:w-60 lg:w-60 md:text-left md:pt-6">
                    <h1 class="header1">
                        <mat-icon class="tblMatIcon mr-1">view_list</mat-icon>
                        {{'searchTitle' | translate}}
                    </h1>
                </div>

                <div class="w-full sm:w-auto md:w-40 lg:w-40 md:text-left md:pt-3">
                    <mat-form-field fxFlex="100%" style="width: 300px !important;">
                        <!--<mat-label>Filter</mat-label>-->
                        <input matInput (keyup)="applyFilter($event)" [placeholder]="'search'|translate" #input />
                        <button mat-button matPrefix mat-icon-button>
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>

            <!-- Data Table -->
            <div class="flex flex-col bg-card shadow rounded overflow-x-auto sm:overflow-y-auto mt-4">
                <!--<mat-card>-->
                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full">
                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef class="w-16"> {{'sl' | translate}} </th>
                            <td mat-cell *matCellDef="let element; let i = index" class="text-center">
                                {{ (paginatorRef.pageIndex * paginatorRef.pageSize) + (i + 1) }}
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="stFiscalYear">
                            <th mat-header-cell *matHeaderCellDef> {{'stFiscalYear' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                <!-- <ng-container *ngFor="let f of fiscalYearList">
                                    <span *ngIf="element.stFiscalYearId==f.id">{{f.fiscalYear}}</span>
                                </ng-container> -->
                                {{element.stFiscalYearId.fiscalYear}}
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="stCommitteeType">
                            <th mat-header-cell *matHeaderCellDef> {{'stCommitteeType' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                <!-- <ng-container *ngFor="let c of commiteeTypeList">
                                    <span *ngIf="element.stCommitteeTypeId==c.id">{{c.committeeName}}</span>
                                </ng-container> -->
                                {{element.stCommitteeTypeId.committeeName}}
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="effectiveFromDate">
                            <th mat-header-cell *matHeaderCellDef> {{'effectiveFromDate' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.effectiveFromDate}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="effectiveEndDate">
                            <th mat-header-cell *matHeaderCellDef> {{'effectiveEndDate' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.effectiveEndDate}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="chairman">
                            <th mat-header-cell *matHeaderCellDef> {{'chairman' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{element.isChairman ? 'Chairman' : 'Member'}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="user">
                            <th mat-header-cell *matHeaderCellDef> {{'User' | translate}} </th>


                            <td mat-cell *matCellDef="let element">
                                <ng-container *ngFor="let c of userList">
                                    <span *ngIf="element.userId==c.id">{{c.name}}</span>
                                </ng-container>
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="active">
                            <th mat-header-cell *matHeaderCellDef class="w-32"> {{'status' | translate}} </th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <span class="active" *ngIf="element.active; else elseDiv">Active</span>
                                <ng-template #elseDiv><span class="inactive">Inactive</span></ng-template>
                            </td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="pl-4 w-32"> {{'action' | translate}} </th>
                            <td mat-cell *matCellDef="let element" class="text-center">
                                <div class="buttons">
                                    <button (click)="editRow(element)" mat-icon-button class="toggle-sidebar-folded"
                                        matTooltip="Edit" fxHide.lt-lg>
                                        <mat-icon color="accent">edit
                                        </mat-icon>
                                    </button>

                                    <button (click)="openDialog(element.uuid)" mat-icon-button
                                        class="toggle-sidebar-folded" matTooltip="Delete" fxHide.lt-lg>

                                        <mat-icon color="warn">delete
                                        </mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <!-- Initialized Table Header And Dataset-->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <!-- mat-paginator -->
                <mat-paginator #paginatorRef [length]="totalElements" [pageSize]="pageSize"
                    [pageSizeOptions]="[5, 10, 25, 100]" (page)="onChangePage($event)">
                </mat-paginator>
            </div>
        </mat-card>


    </div>
    <!-- Main End -->
</div>
