<div fxLayout="row" fxLayoutAlign="center center" *ngIf="show">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="spinner" class="flex items-center justify-center">
    <div style="border-top-color:transparent; position: absolute;z-index: 9999;"
         class="absolute top-1/2 left-1/2 w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin">
    </div>
</div>
<div class="flex flex-col flex-auto min-w-0">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">

            <!--New Header start-->
            <div class="header flex justify-between items-center">
                <app-list-header [title]="'DPP.heading1' | translate" class="crop-text"
                                 [subTitle]="'DPP.heading2' | translate"></app-list-header>
                <div class="mr-12">

                    <button matTooltip="View Dashboard" *ngIf="actionPermission?.includes('View Dpp Tapp Dashboard')" (click)="gotToViewDashboard()" mat-button type="button">
                        <mat-icon style="color: #FFF;" svgIcon="heroicons_outline:eye"></mat-icon>
                    </button>
                    <button matTooltip="Project List" (click)="navigateToList()" mat-button type="button">
                        <mat-icon>dashboard</mat-icon>&nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-6 outside-body">
        <div class="max-w-8xl">
            <div class="flex items-center justify-end mb-3">
            </div>

            <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
                <div class="flex-auto mt-6 space-y-1 bg-card shadow rounded overflow-hidden">
                    <div class="heading"><h1>{{'DPP.projectInfo' | translate}}</h1></div>
                    <div>
                        <div class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'DPP.projectNameEn' | translate}}</div>
                            <div class="basic-info-right-lbl">
                                {{projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'dpp' ? rdppObjModel?.projectTitleEn : rtappObjModel?.projectTitleEn}}
                            </div>
                        </div>
                        <div class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'DPP.projectNameBn' | translate}}</div>
                            <div class="basic-info-right-lbl">
                                {{projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'dpp' ? rdppObjModel?.projectTitleBn : rtappObjModel?.projectTitleBn}}
                            </div>
                        </div>
                        <div class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'DPP.projectType' | translate}}</div>
                            <div *ngIf="isEnLabel" class="basic-info-right-lbl">
                                {{projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'dpp' ? "Revised Development Project ":"Revised Technical Assistance Project "}}(R{{projectSummary?.projectTypeDTO.nameEn}})
                            </div>
                            <div *ngIf="!isEnLabel" class="basic-info-right-lbl">
                                সংশোধিত উন্নয়ন প্রকল্প (আর{{projectSummary?.projectTypeDTO.nameBn}})
                            </div>
                        </div>
                        <div *ngIf="userGroupModel?.ministryDivision" class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'Ministry_Name' | translate}}</div>
                            <div class="basic-info-right-lbl">{{isEnLabel? userGroupModel?.ministryDivision?.nameEn:userGroupModel?.ministryDivision?.nameBn}}</div>
                        </div>
                        <div *ngIf="userGroupModel?.agency" class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'Agency_name' | translate}}</div>
                            <div *ngIf="isEnLabel" class="basic-info-right-lbl">{{userGroupModel?.agency?.nameEn}}</div>
                            <div *ngIf="!isEnLabel" class="basic-info-right-lbl">{{userGroupModel?.agency?.nameBn}}</div>
                        </div>
                        <div class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'Adp_sector' | translate}}</div>
                            <div *ngIf="isEnLabel" class="basic-info-right-lbl">{{sector?.sectorNameEn}}</div>
                            <div *ngIf="!isEnLabel" class="basic-info-right-lbl">{{sector?.sectorNameBn}}</div>
                        </div>
                        <div class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'Adp_sub_sector' | translate}}</div>
                            <div *ngIf="isEnLabel" class="basic-info-right-lbl">{{subSector?.subSectorNameEn}}</div>
                            <div *ngIf="!isEnLabel" class="basic-info-right-lbl">{{subSector?.subSectorNameBn}}</div>
                        </div>
                        <div class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'Sector_division' | translate}}</div>
                            <div *ngIf="isEnLabel" class="basic-info-right-lbl">{{sectorDivision?.sectorDivisionNameEn}}</div>
                            <div *ngIf="!isEnLabel" class="basic-info-right-lbl">{{sectorDivision?.sectorDivisionNameBn}}</div>
                        </div>
                        <div class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'DPP.projectStatus' | translate}}</div>
                            <div *ngIf="dppMasterId != null" class="basic-info-right-lbl"><span class="project-proposal-heading" style="border-radius: 5%;">{{projectStatus}}</span></div>
                        </div>
                        <div class="basic-info-row">
                            <div class="basic-info-left-lbl" style="border-right: 1px solid #c7c7c7;">{{'DPP.Implementation_period' | translate}}</div>
                            <div class="basic-info-right-lbl" style="border: none !important;">
                                <!-- <span *ngIf="year > 0">{{(isEnLabel) ? year : numberPipe.convertToBanglaNumber(year)}} {{'Year' | translate}} </span>
                                <span *ngIf="month > 0">{{(isEnLabel) ? month : numberPipe.convertToBanglaNumber(month)}} {{'Month' | translate}}</span> -->
                                <span *ngIf="projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'dpp'">
                                {{!isEnLabel ? numberPipe.convertToBanglaNumber(rdpp_date_commencement) : rdpp_date_commencement}}
                                </span>
                                <span *ngIf="projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'tapp'">
                                    {{rtappObjModel?.dateCommencement}}
                                </span>
                                <span>{{'DPP.to' | translate}}</span>
                                <span *ngIf="projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'dpp'">
                                    {{!isEnLabel ? numberPipe.convertToBanglaNumber(rdpp_date_completion) : rdpp_date_completion}}
                                </span>
                                <span *ngIf="projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'tapp'">
                                    {{rtappObjModel?.dateCompletion}}
                                </span>
                            </div>
                        </div>
                        <div class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'DPP.dateOfCommencement' | translate}}</div>
                            <div class="basic-info-right-lbl">
                                <span *ngIf="projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'dpp'">
                                {{!isEnLabel ? numberPipe.convertToBanglaNumber(rdpp_date_commencement) : rdpp_date_commencement}}
                                </span>
                                <span *ngIf="projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'tapp'">
                                    {{datePipe.transform(rtappObjModel?.dateCommencement)}}
                                </span>
                            </div>
                        </div>
                        <div class="basic-info-row">
                            <div class="basic-info-left-lbl">{{'DPP.dateOfCompletion' | translate}}</div>
                            <div class="basic-info-right-lbl">
                                <span *ngIf="projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'dpp'">
                                    {{!isEnLabel ?numberPipe.convertToBanglaNumber(rdpp_date_completion) : rdpp_date_completion}}
                                </span>
                                <span *ngIf="projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'tapp'">
                                    {{datePipe.transform(rtappObjModel?.dateCompletion)}}
                                </span>
                            </div>
                        </div>
                        <!--                        <div class="basic-info-row">-->
                        <!--                            <div class="basic-info-left-lbl">Project Stage</div>-->
                        <!--                            <div *ngIf="dppMasterId != null" class="basic-info-right-lbl"><span class="heading" style="border-radius: 5%;">{{projectStage}}</span></div>-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="flex-auto mt-6 space-y-1 bg-card shadow rounded overflow-hidden">
                    <div class="flex flex-col bg-card shadow rounded overflow-hidden">
                        <div class="heading">
                            <h1>{{'DPP.costInfo' | translate}}</h1>
                        </div>
                        <div>
                            <div fxLayout="row wrap" fxLayoutAlign="start center" class="flex flex-wrap">
                                <div id="chart" style="width: 100%;height: 100%;margin: 0 auto;">

                                    <apx-chart
                                        [series]="chartOptions?.series"
                                        [chart]="chartOptions?.chart"
                                        [labels]="chartOptions?.labels"
                                        [colors]="chartOptions?.colors"
                                        [fill]="chartOptions?.fill"
                                        [plotOptions]="chartOptions?.plotOptions"
                                        [dataLabels]="chartOptions?.dataLabels"
                                        [theme]="chartOptions?.theme"
                                        [responsive]="chartOptions?.responsive"
                                    ></apx-chart>
                                </div>
                                <div style="width: 100%;text-align: center">

                                    <label class="balance-label"><span *ngIf="!spinner">{{'Total_Allocation' | translate}}</span><br/>
                                        <span *ngIf="!spinner">({{isEnLabel ? totalAllocationByAgency.toFixed(2) : numberPipe.convertToBanglaNumber(totalAllocationByAgency.toFixed(2))}})</span>
                                        <mat-progress-spinner *ngIf="spinner" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                                    </label>
                                    <label class="balance-label"><span *ngIf="!spinner">{{'Total_Expense' | translate}}</span><br/>
                                        <span *ngIf="!spinner">({{isEnLabel ? totalExpenseByAgency.toFixed(2) : numberPipe.convertToBanglaNumber(totalExpenseByAgency.toFixed(2))}})</span>
                                        <mat-progress-spinner *ngIf="spinner" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                                    </label>
                                    <label class="balance-label"><span *ngIf="!spinner">{{'Due_Balance' | translate}}</span><br/>
                                        <span *ngIf="!spinner">({{isEnLabel ? (totalAllocationByAgency-totalExpenseByAgency).toFixed(2): numberPipe.convertToBanglaNumber((totalAllocationByAgency-totalExpenseByAgency).toFixed(2))}})</span>
                                        <mat-progress-spinner *ngIf="spinner" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col bg-card shadow rounded overflow-hidden mt-3">
                        <div class="heading">
                            <h1>{{'DPP.gisMap' | translate}}</h1>
                        </div>
                        <div class="">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0"
                                            marginwidth="0"
                                            src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=planning ministry&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                                    <a href="https://www.fridaynightfunkin.net/">Friday Night Funkin</a></div>
                                <style>.mapouter {
                                    position: relative;
                                    text-align: right;
                                    width: 100%;
                                    height: 100%;
                                }

                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    width: 600px;
                                    height: 400px;
                                }

                                .gmap_iframe {
                                    width: 100% !important;
                                    height: 100% !important;
                                }</style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col bg-card shadow rounded overflow-hidden mt-5">
                <div class="heading" style="height: 60px;">
                    <div style="display: inline-block;margin-top: 12px"><h1>{{'ProjectDetails' | translate}}</h1></div>

                </div>
                <div class="m-2" style="background-color: #e7f6ee;">
                    <table *ngIf="projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'dpp'" class="project-details">
                        <tr>
                            <td (click)="getProjectSummaryId('add-new')"><mat-icon class="icon-size">gpp_good</mat-icon>{{isEnLabel ? "RDPP (" : "আরডিপিপি ("}}{{isEnLabel ? rdppObjModel?.revisedVersion : rdppObjModel?.revisedVersionBn}})</td>
                            <td (click)="getProjectSummaryId('add-annexurewokrs')"><mat-icon class="icon-size">miscellaneous_services</mat-icon>{{'DPP.annexure3B' | translate}}</td>
                        </tr>
                        <tr>
                            <td (click)="getProjectSummaryId('location-wise-cost-breakdown')"><mat-icon class="icon-size">details</mat-icon>{{'DPP.annexure1' | translate}}</td>
                            <td (click)="getProjectSummaryId('add-annexureservices','')"><mat-icon class="icon-size">money</mat-icon>{{'DPP.annexure3C' | translate}}</td>
                        </tr>
                        <tr>
                            <td (click)="getProjectSummaryId('/year-wise-fin-plan')"><mat-icon class="icon-size">location_on</mat-icon>{{'DPP.annexure2' | translate}}</td>
                            <td (click)="getProjectSummaryId('amortization_schedule')"><mat-icon class="icon-size">money</mat-icon>{{'DPP.annexure4' | translate}}</td>
                        </tr>
                        <tr>
                            <td (click)="getProjectSummaryId('add-annexuregoods')"><mat-icon class="icon-size">settings</mat-icon>{{'DPP.annexure3A' | translate}}</td>
                            <td (click)="getProjectSummaryId('add-new-annual-phasing-cost')"><mat-icon class="icon-size">location_on</mat-icon>{{'DPP.annexure5B' | translate}}</td>
                        </tr>
                    </table>
                    <table *ngIf="projectSummary?.projectTypeDTO.nameEn.toLowerCase() === 'tapp'" class="project-details">

                        <tr>
                            <td (click)="getProjectSummaryId('tapp-project-summery')"><mat-icon class="icon-size">gpp_good</mat-icon>RTAPP ({{rtappObjModel?.revisedVersion}})</td>
                            <td (click)="getProjectSummaryId('rtapp-annexure-two')"><mat-icon class="icon-size">task</mat-icon>TAPP Annexure - II : Implementation/Work Schedule</td>
                        </tr>
                        <tr>
                            <td (click)="getProjectSummaryId('tapp-annexure-goods-first')"><mat-icon class="icon-size">location_on</mat-icon>Annexure - I (a): GOODS</td>
                            <td (click)="getProjectSummaryId('tapp-annexure-one')"><mat-icon class="icon-size">location_on</mat-icon>Cumulative Progress and Year Wise Breakdown</td>

                        </tr>
                        <tr>
                            <td (click)="getProjectSummaryId('tapp-annexure-service')"><mat-icon class="icon-size">details</mat-icon>Annexure - I (b): SERVICES</td>

                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div class="flex flex-col bg-card shadow rounded overflow-hidden mt-5" fxFlex="49" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" style="height: 280px;">
                    <div class="heading" style="min-height: 60px;"><h1 style="margin-top: 12px;">{{'DPP.commentAndObserbation' | translate}}</h1></div>
                    <div class="comment-btn" style="background-color: #89a583;">
                        <label style="float: left">{{'DPP.inAgency' | translate}}</label>
                        <button style="float: right" (click)="showComments('A')"><mat-icon class="icon">comment</mat-icon></button>
                    </div>
                    <div class="comment-btn" style="background-color: #7baf8f;">
                        <label style="float: left">{{'DPP.ministryDivision' | translate}}</label>
                        <button style="float: right" (click)="showComments('MD')"><mat-icon class="icon">comment</mat-icon></button>
                    </div>
                    <div class="comment-btn" style="background-color: #b396b2;">
                        <label style="float: left">{{'DPP.palnningCommition' | translate}}</label>
                        <button style="float: right" (click)="showComments('PC')"><mat-icon class="icon">comment</mat-icon></button>
                    </div>
                </div>
                <div class="mt-5" fxFlex="2" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%"></div>
                <div class="flex flex-col bg-card shadow rounded overflow-hidden mt-5" fxFlex="49" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" style="height: 280px;">
                    <div class="heading" style="height: 60px;">
                        <h1 style="display: inline-block;margin-top: 13px">{{'DPP.attachment_other_information' | translate}}</h1>
                        <div style="display: inline-block;float: right;margin-left: 10px;"><button style="font-size: 12px" (click)="openDialog()" color="primary" mat-raised-button>{{'DPP.addAttacment' | translate}}</button></div>
                        <div style="display: inline-block;float: right;">
                            <mat-form-field style="width: 200px; color: black" class="fuse-mat-dense flex-auto">
                                <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
                                <!--                                <button mat-button matPrefix mat-icon-button><mat-icon>search</mat-icon></button>-->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="m-2 overflow-x-auto sm:overflow-y-auto">
                        <div cdkScrollable>
                            <table mat-table [dataSource]="dataSource" class="attachment-table mat-elevation-z8 bg-transparent" matSort>
                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <th class="text-alignment"
                                        mat-header-cell
                                        *matHeaderCellDef>
                                        {{'DPP.sl' | translate}}
                                    </th>
                                    <td mat-cell *matCellDef="let row, let i = index;">{{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}</td>
                                    <!--                                        {{(!projectSummary.isForeignAid && projectSummary.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? convertToBanglaNumber(i + 1) :(i+1)}}</td>-->
                                </ng-container>

                                <!-- Progress Column -->
                                <ng-container matColumnDef="name">
                                    <th class="text-alignment"
                                        mat-header-cell
                                        *matHeaderCellDef>
                                        <!--                                                Title-->
                                        {{'DPP.title' | translate}}
                                    </th>
                                    <td style="text-align: left !important;" mat-cell *matCellDef="let row">
                                        {{ row.name }}
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="fileType">
                                    <th class="text-alignment"
                                        mat-header-cell
                                        *matHeaderCellDef>
                                        <!--                                                Title-->
                                        {{'DPP.fileType' | translate}}
                                    </th>
                                    <td style="text-align: left !important;" mat-cell *matCellDef="let row">
                                        {{ row.fileType }}
                                    </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="progress">
                                    <th class="text-alignment"
                                        mat-header-cell
                                        *matHeaderCellDef>
                                        <!--                                                Download-->
                                        {{'DPP.attachDownload' | translate}}
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <button mat-icon-button color="primary" (click)="openUrl(row)">
                                            <mat-icon>file_download</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row
                                    *matHeaderRowDef="displayedColumns">
                                </tr>
                                <tr mat-row
                                    *matRowDef="let row; columns: displayedColumns">
                                </tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">
                                        <!--                                                No data Found-->
                                        {{'DPP.dataNotFound' | translate}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <mat-paginator
                            [length]="total"
                            [pageSize]="size"
                            [pageSizeOptions]="[2, 3, 5, 10, 25, 100]"
                            (page)="onChangePage($event)">
                        </mat-paginator>
                    </div>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">

                <div class="flex flex-col bg-card shadow rounded overflow-hidden mt-5" fxFlex="49" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" style="background-color: rgb(230,230,230) !important;height: 400px; overflow-y: scroll !important">
                    <div class="heading"><h1>{{'NothiMovementStatus' | translate}}</h1></div>
                    <ul class="timesheet" *ngIf="movementStatusList.length>0">

                        <li *ngFor="let movement of movementStatusList; let i=index">
                            <!-- [ngClass]="i%2==0?'direction-r':'direction-l'" -->
                            <div>
                                <div class="direction-l" >
                                    <p  style="text-align: center;font-weight: 600;">প্রেরক</p>
                                    <img *ngIf="i==movementStatusList.length-1" [src]="'http://training.nothi.gov.bd'" class="img-l" >
                                    <img *ngIf="i<movementStatusList.length-1" [src]="'http://training.nothi.gov.bd'+movementStatusList[i+1].current_desk_user_info?.user_photo" class="img-l" >
                                    <p *ngIf="i<movementStatusList.length-1" class="desc" style="margin-top: 0%;color: blue;">{{movementStatusList[i+1].current_desk_user_info?.officer_name}}</p>
                                    <p *ngIf="i<movementStatusList.length-1" class="desc" style="margin-top: 0%;color: blue;">{{movementStatusList[i+1].current_desk_user_info?.office_name}}</p>
                                </div>
                                <div  class="direction-r">

                                    <div class="flag-wrapper">
                                        <span class="flag" *ngIf="movement.decision_note!=null">{{movement.decision_note}}</span>
                                        <span class="flag" *ngIf="movement.nothi_message!=null && movement.decision_note==null">{{movement.nothi_message}}</span>
                                        <span class="time-wrapper" *ngIf="isEnLabel"><span class="time">{{movement.feedbackDateTime | date}}</span></span>
                                        <span class="time-wrapper" *ngIf="!isEnLabel"><span class="time">{{isEnLabel ? datePipe.transform(movement.feedbackDateTime, 'dd/MM/yyyy') : numberPipe.convertToBanglaNumber(datePipe.transform(movement.feedbackDateTime, 'dd/MM/yyyy'))}}</span></span>
                                    </div>
                                    <div class="desc">
                                        <p style="font-weight: 600;">মূল প্রাপক</p>
                                        {{movement.current_desk_user_info?.officer_name}},
                                        {{movement.current_desk_user_info?.designation_label}}
                                        <p>{{movement?.current_desk_user_info?.office_name}}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="mt-5" fxFlex="2" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%"></div>

                <div class="flex flex-col bg-card shadow rounded overflow-hidden mt-5" fxFlex="49" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%" style="height: 400px;overflow-y: scroll !important">
                    <div class="heading"><h1>{{'ProjectMovementStatus' | translate}}</h1></div>
                    <div style="margin: 0 auto;margin-top: 15px;margin-bottom: 15px;">
                        <div *ngFor="let stage of movementStageList">
                            <div class="project-movement-status-div">
                                <mat-icon style="display:inline-block;color: #FFFFFF" svgIcon="heroicons_outline:clock"></mat-icon>
                                <div style="display:inline-block;margin-left: 10px;">
                                    <p>{{isEnLabel ? datePipe.transform(stage.movementDate, 'dd/MM/yyyy') : numberPipe.convertToBanglaNumber(datePipe.transform(stage.movementDate, 'dd/MM/yyyy'))}}</p>
                                    <p>{{stage.movementTime}}</p>
                                </div>
                            </div>
                            <img class="stick-line" src="/assets/images/logo/stick.png" alt="">
                            <label style="margin-top: 30px; vertical-align: top;">{{stage.currentStage}}</label>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<ng-template fxFlex="100%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xs="70%" class="mr-20" #callAPIDialog>
    <div fxFlex="100" class="flex flex-col bg-card shadow rounded overflow-hidden">
        <div class="heading">
            <h1>{{'DPP.uploadAttachment' | translate}}</h1>
        </div>
        <mat-dialog-content class="mat-typography">
            <form [formGroup]="frmGroup" class="p-8">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                        <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <mat-label style="margin-top: -15px" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="40%"
                                       fxFlex.xs="100%">
<!--                                Title-->
                                {{'DPP.title' | translate}}
                                <strong class="required">*</strong>
                            </mat-label>
                            <mat-form-field class="fuse-mat-dense flex-auto" fxFlex="60%" fxFlex.md="60%"
                                            fxFlex.sm="60%"
                                            fxFlex.xs="100%">
                                <input matInput formControlName="title">
                                <mat-error>Title is required!</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                        <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <mat-label style="margin-top: -15px" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="40%"
                                       fxFlex.xs="100%">
<!--                                Attachment-->
                                {{'DPP.attachment' | translate}}
                                <strong class="required">*</strong>
                            </mat-label>
                            <mat-form-field fxFlex="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%"
                                            class="fuse-mat-dense flex-auto mt-5">
                                <ngx-mat-file-input formControlName="attachmentId"
                                                    (change)="uploadFile($event.target.files)" [accept]="'.pdf'"
                                                    placeholder="Basic outline placeholder"></ngx-mat-file-input>
                                <mat-icon matSuffix>folder</mat-icon>
                                <mat-error>Attachment is required!</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button (click)="resetValue()" mat-flat-button color="accent" type="button" mat-dialog-close>{{'DPP.cancel' | translate}}</button>
            <button (click)="create()" *ngIf="!frmGroup.value.uuid" [disabled]="!frmGroup.valid" class="mr-2"
                    mat-flat-button color="primary" type="button"
                    [mat-dialog-close]="true" cdkFocusInitial>
<!--                Save-->
                {{'DPP.save' | translate}}
            </button>
            <button (click)="update()" *ngIf="frmGroup.value.uuid" [disabled]="!frmGroup.valid" class="mr-2"
                    mat-flat-button color="primary" type="button"
                    [mat-dialog-close]="true" cdkFocusInitial>Update
            </button>
        </mat-dialog-actions>

    </div>
</ng-template>


