#loginPage {
    background: url('/assets/images/logos/login-page-bg-2.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}

.tab-color {
    background-color: #F0FDF4 !important;
}

.banner-lbl {
    font-size: 24px;
    font-weight: 600;
    color: #396b4e;
    text-shadow: 0 0 black;
}

.sddp-lbl {
    margin: 0;
    color: #396b4e;
    font-weight: 500;
    font-size: 17px;
}

.btn-4 {
    font-weight: 500 !important;
    border: 1px solid #102dad !important;
    color: #4f9688 !important;
    border-radius: 5px !important;
}

@media only screen and (max-width: 1024px) {
    #login-page-footer {
        position: relative !important;
        bottom: unset !important;
    }
}

@media only screen and (max-width: 1024px) {
    #topImageWrap {
        position: relative !important;
        top: unset !important;
    }
}

.top-image-wrapper {
    top: 0px;
    position: absolute;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

