
    .t1{
        width: 95%;text-align: center; border-collapse: collapse;
     }
    .t1 .tr1 .td1 {
         border: 1px solid black ;padding-bottom: 12px;
     }
     .th1 {
        border: 1px solid black ;padding-bottom: 12px;
    }