.tab-bar .mat-horizontal-stepper-header-container {
  border: 1px solid #ccc !important;
}

.body-color {
  background-color: #eef2ff;
}
.tab-color {
  background-color: #f0fdf4 !important;
}
.obj_cost {
  background-color: red !important;
  color: white !important;
  font-weight: bold;
}

.tab-font-size {
  font-size: 10px;
}
#mat-step-header[aria-selected="true"] {
  padding: 10px !important;
}
