table {
    width: 100%;

    th {
        font-size: small;
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF;
        text-align: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 3px;
    }

    td {
        text-align: center;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        padding: 5px;
    }
}

.header1 {
    color: #FFFFFF
}
