// table {
//   font-family: arial, sans-serif;
//   border-collapse: collapse;   
//   width: 80%;
//   margin-left: 6%;  
// }

// .annexure-head{
//   padding-bottom: 40px;
//   margin-left: 65%;
//   font-size: 25px;
// }

// .container {
//   width: 110%;   
//   margin-left: 15%;
// }

// .table-distence { 
//   margin-bottom: 60px;
// }
// .report-table-raper {
//   // padding: 12%;
//   padding-bottom: 15%;
//   background: #fff; 
//   margin: auto; 
// }

// .border-none td{
//   border: 0px;
//   text-align: left;
//   padding: 8px;
// }

// .border-none span {  
//   padding: 20px;
// }

// .border td, th {
//     border: 1px solid #000000;
//     text-align: left;
//     padding: 8px;
//     font-size: 15px;
//     font-weight: normal;
// }

// .border-none  {
//  margin-left: 17%;
// }

// .border-none tr td {
//   // font-size: 20px;
//   font-size: 15px;
//  }

// .list-none{
//     list-style: none;
// }

// .table-wrap{
//     max-width: 953px;
//     margin: auto;
//     position: relative;
//     left: 0px;
//     top: 70px;
// }

// .top-head{
//     text-align: center;
//     padding-bottom: 35px;
//     // font-size: 25px;
//     font-size: 15px;
// }

// .head-text{
//   padding-left: 16%;
//   padding-top: 15px;
//   // padding-bottom: 6px;
//   padding-bottom: 10px;
//   font-size: 15px;
//   // font-size: 22px;
// }
// .pl-20{
//     padding-left: 20px;
// }

// .font-text {
//   font-weight: normal!important;
// }
// span {
//   font-weight: normal!important;
// }

// @media print{
//   .report-table-raper{
//     margin-left: 0%;
//     padding: 0%;
//   }
//   .container{
//     width: 100%;   
//     margin-left: 0%;
//   }
// }


@page {
	margin-top: 2cm;
	margin-left: 1.5cm;
	margin-right: 1.5cm;
	margin-bottom: 1.5cm;
	size: A4 portrait;
}

body {
	font-family: arial, sans-serif;
}

table {
	border-collapse: collapse;
	width: 90%;
}

.annexure-head {
  padding-bottom: 40px;
  margin-left: 68%;
  font-size: 25px;
}

.table-distence {
	margin-bottom: 60px;	
}

.report-table-raper {
  padding-left: 12%;
  padding-bottom: 15%;
  background: #fff;
  margin: auto;
  width: 108%;
}

.border-none td {
	border: 0px;
	text-align: left;
	padding: 8px;
}

.border-none span {
	padding: 20px;
}

.border td, th {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
	font-size: 15px;
	font-weight: normal;
}

.border-none {
	margin-left: 5%;
}

.border-none tr td {
	font-size: 18px;	
}

.list-none {
	list-style: none;
}

.table-wrap {
	max-width: 953px;
	margin: auto;
	position: relative;
	left: 0px;
	top: 70px;
}

.top-head {
	text-align: center;
	padding-bottom: 35px;	
	font-size: 20px;
}

.head-text {
  padding-left: 5%;
    padding-top: 15px;
    font-size: 20px;	
}

.pl-20 {
	padding-left: 20px;
}

.font-text {
	font-weight: normal !important;
}

span {
	font-weight: normal !important;
}