th {
    background: #b8e0da !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

td, th {
    border: 1px solid #b3b3b3 !important;
}

//tr:nth-child(even) {
//    background-color: #d9d9d9 !important;
//}
//
//tr:nth-child(odd) {
//    background-color: #f2f2f2 !important;
//}

.col-1 {
    width: 6%;
}

.col-2 {
    width: 12%;
}

.col-3 {
    width: 17%;
}

.col-4 {
    width: 65%;
}

.header-font-size {
    font-size: medium;
}

.text-align-top-left {
    vertical-align: top;
    text-align: left;
}

.text-align-top-center {
    vertical-align: top;
    text-align: center;
}
