//.body {
//    width: 100% !important;
//    //padding: 20px;
//    background-color: #FFFFFF;
//}


.input-class{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.row-color {
    color: #FFFFFF;
    background: #0d9488;
}
/*------------------ indicateTbl ------------------*/
#indicateTbl{
    width: 100% !important;
}

#indicateTbl th,
#indicateTbl td {
    border: 1px solid #CCC !important;
}
#indicateTbl tr.text-center td,
#indicateTbl th{
    text-align: center;
}
#indicateTbl tr.text-right td{
    text-align: right;
}

.table_overflow{
     //height: 150px !important;
     //overflow-y: scroll;
     //overflow-x: scroll;

     th {
         text-align: center;
         //position: sticky;
         //z-index: 999999 !important;
         background-color: #0d9488;
         color: #ffffff;
     }
     //thead tr:nth-child(1) th {
     //    top: 0px;
     //}
     //thead tr:nth-child(2) th {
     //    top: 45px;
     //}
 }

.table_overflow_y{
    th {
        text-align: center;
        //position: sticky;
        //z-index: 999999 !important;
        background-color: #0d9488;
        color: #ffffff;
        border: 1px solid #CCC !important;
    }
    //thead tr:nth-child(1) th {
    //    top: 0px;
    //}
    //thead tr:nth-child(2) th {
    //    top: 45px;
    //}
    //thead tr:nth-child(3) th {
    //    top: 80px;
    //}

}
/*------------------ /indicateTbl ------------------*/

/*------------------ comparativeTbl ------------------*/
#comparativeTbl{
    width: 100% !important;
}

#comparativeTbl th {
    padding: 5px;
}
#comparativeTbl td {
    border: 1px solid #CCC !important;
}
#comparativeTbl tr.text-center td,
#comparativeTbl th{
    text-align: center;
}
#comparativeTbl tr.text-right td{
    text-align: right;
}

.ck-editor-header {
    background-color: #0d9488;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 10px;
}
.w-full-td{
    padding: 15px;
    margin-top: 10px;
}

/*------------------ /comparativeTbl ------------------*/


input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 31.5%;
    float: right;
}

.custom-image-icon {
   margin-left: -10px;
}

.custom-file-upload-div{
    width: 100%;
    position: absolute;
    margin-top: -25%;    
}

