<div class="flex flex-col flex-auto max-w-full">
    <!-- Header Start-->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">

            <!--New Header start-->
            <div class="header flex justify-between items-center">
                <app-list-header [title]="titleEn" class="crop-text"
                                 [subTitle]="'project_title_sub' | translate"></app-list-header>
                <div class="mr-12">
                    <button class="btn btn-home flex justify-center items-center" (click)="goBackToHome()" mat-button type="button">
                        <!-- <mat-icon>keyboard_backspace</mat-icon>&nbsp; -->
                        <span class="material-icons" style="color: white;">keyboard_backspace</span>&nbsp;
                        {{'homePage' | translate}}
                    </button>
                </div>
            </div>
            <!-- / New Header end-->

            <!-- Header -->
            <!--<div class="dark bg-card dark:border-b">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto  sm:px-8">
                    <div class="m-5">
                        &lt;!&ndash; Avatar and name &ndash;&gt;
                        <div class="flex flex-auto items-center min-w-0">
                            <div class="flex flex-col min-w-0 ml-4">
                                <div class="header-font-title font-semibold tracking-tight leading-7 md:leading-10 truncate"
                                    style=" font-size: 1.50rem; padding-bottom: 2px;">{{"project_title" | translate}}
                                </div>
                                <div class="flex items-center">
                                    <div class="leading-5 truncate text-secondary">{{"project_title_sub" | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        &lt;!&ndash; Actions &ndash;&gt;
                        <div class="flex justify-end" style="margin-top: -50px; color: #FFFFFF !important;">
                            <button
                                (click)="goBackToHome()"
                                mat-button
                                type="button">
                                <mat-icon>home</mat-icon>&nbsp;
                                {{"homePage" | translate}}
                            </button>
                        </div>

                    </div>
                </div>
            </div>-->
        </div>
    </div>

    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between border-b bg-card dark:bg-transparent">
        <div class="flex-1 max-w-full">
            <!-- Main -->
            <!--============================== transaction spinner ===================-->
            <div *ngIf="spinner">
                <app-common-loader-spinner></app-common-loader-spinner>
            </div>
            <!--============================== // transaction spinner ===================-->
            <div>
                <div class="max-w-8xl">
                    <mat-card class="tab-color">
                        <div style="overflow-x: auto">
                            <mat-card>
                                <div class="heading mb-2">{{"project_goods" | translate}}</div>
                                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>
                                    <form>
                                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                                <div cdkScrollable
                                                    class="overflow-x-auto sm:overflow-y-auto">
                                                    <table class="mat-elevation-z8" style="width: 600px">

                                                        <!-- Table Body-->
                                                        <tbody class="projectInfo">
                                                            <tr>
                                                                <th class="text-left">
                                                                    {{"ministry" | translate}}
                                                                </th>
                                                                <td>
                                                                    :
                                                                </td>
                                                                <td>
                                                                    {{rdppMasterData?.ministryDivision}}
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <th>
                                                                    {{"agency" | translate}}
                                                                </th>
                                                                <td>
                                                                    :
                                                                </td>
                                                                <td>
                                                                    {{rdppMasterData?.implementingAgency}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th>
                                                                    {{"entityName" | translate}}
                                                                </th>
                                                                <td>
                                                                    :
                                                                </td>
                                                                <td></td>
                                                            </tr>

                                                            <tr>
                                                                <th>
                                                                    {{"projectName" | translate}}
                                                                </th>
                                                                <td>
                                                                    :
                                                                </td>
                                                                <td>
                                                                    <!-- {{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? rdppMasterData?.projectTitleBn : rdppMasterData?.projectTitleEn}} <br> <br> ({{rdppMasterData?.referenceId}}) -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        <!-- Table Body End-->
                                                    </table>
                                                    <!--Table End-->
                                                </div>
                                            </div>

                                            <div>
                                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                                    <div>
                                                        <form class="form">
                                                            <div>
                                                                <div cdkScrollable
                                                                    class="overflow-x-auto sm:overflow-y-auto">
                                                                    <p class="proCostTitle">
                                                                        {{"projectCost" | translate }}
                                                                    </p>
                                                                    <!--Table Start-->
                                                                    <table id="projectCostsInfo" class="mat-elevation-z8">
                                                                        <thead>
                                                                            <tr class="text-right">
                                                                                <th class="sub-header" style="
                                                                                width: 100px;">
                                                                                    {{"total" | translate }}
                                                                                </th>
                                                                                <th class="sub-header">
                                                                                    {{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? numberPipe.convertToBanglaNumber(projectCost.totalAmount.toFixed(2)) : projectCost.totalAmount.toFixed(2)}}
                                                                                </th>
                                                                            </tr>
                                                                        </thead>

                                                                        <!-- Table Body-->
                                                                        <!-- Table Body-->
                                                                        <tbody>
                                                                            <tr>
                                                                                <!-- TODO: Those value dynamically come from server-->
                                                                                <td>
                                                                                    {{"gob" | translate }}<br>
                                                                                    {{"fe" | translate }}
                                                                                </td>
                                                                                <td>
                                                                                    {{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? numberPipe.convertToBanglaNumber(projectCost.gobAmount.toFixed(2)) : projectCost.gobAmount.toFixed(2)}} <br>
                                                                                    ({{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? numberPipe.convertToBanglaNumber(projectCost.gobFeAmount.toFixed(2)) : projectCost.gobFeAmount.toFixed(2)}})
                                                                                </td>
                                                                            </tr>

                                                                            <tr *ngIf="'paRpa' | translate">
                                                                                <!-- TODO: Those value dynamically come from server-->
                                                                                <td>
                                                                                    {{"pa" | translate }}<br>
                                                                                    {{"rpa" | translate }}
                                                                                </td>
                                                                                <td>
                                                                                    {{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? numberPipe.convertToBanglaNumber(projectCost.paAmount.toFixed(2)) : projectCost.paAmount.toFixed(2)}} <br>
                                                                                    ({{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? numberPipe.convertToBanglaNumber(projectCost.paRpaAmount.toFixed(2)) : projectCost.paRpaAmount.toFixed(2)}})
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <!-- TODO: Those value dynamically come from server-->
                                                                                <td>
                                                                                    {{"ownFund" | translate }}<br>
                                                                                    {{"fe" | translate }}
                                                                                </td>
                                                                                <td>
                                                                                    {{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? numberPipe.convertToBanglaNumber(projectCost.ownFundAmount.toFixed(2)) : projectCost.ownFundAmount.toFixed(2)}} <br>
                                                                                    ({{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? numberPipe.convertToBanglaNumber(projectCost.ownFeAmount.toFixed(2)) : projectCost.ownFeAmount.toFixed(2)}})
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <!-- TODO: Those value dynamically come from server-->
                                                                                <td>
                                                                                    {{"others" | translate }}<br>
                                                                                    {{"fe" | translate }}
                                                                                </td>
                                                                                <td>
                                                                                    {{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? numberPipe.convertToBanglaNumber(projectCost.othersAmount.toFixed(2)) : projectCost.othersAmount.toFixed(2)}} <br>
                                                                                    ({{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? numberPipe.convertToBanglaNumber(projectCost.otherFeAmount.toFixed(2)) : projectCost.otherFeAmount.toFixed(2)}})
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <!-- Table Body End-->
                                                                    </table>
                                                                    <!--Table End-->
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tblOverflow mt-5">

                                            <form [formGroup]="frmGroup" (ngSubmit)="onSubmit()">
                                                <div style="overflow-x: auto;">
                                                <table mat-table [dataSource]="dataSource" class="formTable mat-elevation-z8" formArrayName="list">
                                                    <!-- Row definitions -->
                                                    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                                                    <tr mat-header-row *matHeaderRowDef="subHeader"></tr>
                                                    <tr mat-row *matRowDef="let row; let i = index; columns: displayColumns;"></tr>

                                                    <!-- Second header row -->
                                                    <ng-container matColumnDef="num1">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                          {{'num1' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num2">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                        {{'num2' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num3">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                        {{'num3' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num4">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                        {{'num4' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num5">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                        {{'num5' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num6">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                            {{'num6' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num7">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                            {{'num7' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num8">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                            {{'num8' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num9">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                            {{'num9' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num10">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                            {{'num10' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num11">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                            {{'num11' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num12">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                            {{'num12' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num13">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                            {{'num13' | translate}}
                                                        </th>
                                                      </ng-container>

                                                      <ng-container matColumnDef="num14">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>
                                                            {{'num14' | translate}}
                                                        </th>
                                                      </ng-container>
                                                    <!-- /Second header row -->

                                                    <!-- Serial no column -->
                                                    <ng-container matColumnDef="sl">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>{{'sl' | translate}}</th>
                                                        <td mat-cell *matCellDef="let element; let i = index;">
                                                            {{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? numberPipe.convertToBanglaNumber(i + 1) : (i + 1)}}
                                                        </td>
                                                    </ng-container>

                                                    <!-- Package name field and header column-->
                                                    <ng-container matColumnDef="packageNumCol">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>{{'packegeNo' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <input matInput type="text" value="" formControlName="packageName">
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Tapp goods field and header column-->
                                                    <ng-container matColumnDef="tappGoodsCol">
                                                        <th class="sub-header col-size" mat-header-cell *matHeaderCellDef>{{'package_as_per_dpp_tpp_goods' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <textarea formControlName="tappGoods" matInput></textarea>
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Unit type field and header column-->
                                                    <ng-container matColumnDef="unitId">
                                                        <th class="sub-header col-size" mat-header-cell *matHeaderCellDef>{{'unit' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <mat-select formControlName="unitId">
                                                                    <mat-option [value]=""> --- Select ---
                                                                    </mat-option>
                                                                    <mat-option
                                                                        *ngFor="let data of unitTypeList"
                                                                        [value]=data.id>
                                                                        {{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? data.unitTypeNameBng : data.unitTypeNameEng}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Quantity field and header column-->
                                                    <ng-container matColumnDef="quantityCol">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>{{'quantity' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <input NumbersOnly matInput type="number" formControlName="quantity" (input)="calculateCostAndQty()">
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Procurement method field and header column-->
                                                    <ng-container matColumnDef="procurementMethodIdCol">
                                                        <th class="sub-header col-size" mat-header-cell *matHeaderCellDef>{{'procurement_method' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <mat-select formControlName="procurementMethodId">
                                                                    <mat-option [value]=""> --- Select ---</mat-option>
                                                                    <mat-option
                                                                        *ngFor="let data of procMethodsList"
                                                                        [value]=data.id>
                                                                        {{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? data.nameBn : data.nameEn}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                     <!-- Procurement type id field and header column-->
                                                     <ng-container matColumnDef="procurementTypeIdCol">
                                                        <th class="sub-header col-size" mat-header-cell *matHeaderCellDef>{{'procurement_type' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <mat-select formControlName="procurementTypeId">
                                                                    <mat-option [value]=""> --- Select ---</mat-option>
                                                                    <mat-option
                                                                        *ngFor="let data of procTypeList"
                                                                        [value]=data.id>
                                                                        {{(!projectSummary?.isForeignAid && projectSummary?.projectTypeDTO.nameEn.toUpperCase() == 'DPP') ? data.nameBn : data.nameEn}}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Contract approve authoriity field and header column-->
                                                    <ng-container matColumnDef="contractApproveAuthoriityCol">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>{{'contract_approving_authority' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <input matInput type="text" value="" formControlName="contractApproveAuthoriity">
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                     <!-- Source of fund field and header column-->
                                                    <ng-container matColumnDef="sourceOfFundCol">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>{{'source_of_fund' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <input matInput type="text" value="" formControlName="sourceOfFund">
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                     <!-- Estimated cost field and header column-->
                                                    <ng-container matColumnDef="estdCostAmountCol">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>{{'estd_cost' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <input TwoDigitDecimalNumber matInput formControlName="estdCostAmount" (input)="calculateCostAndQty()">
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                     <!-- Invitation for tender field and header column-->
                                                    <ng-container matColumnDef="invitationForTenderCol">
                                                        <th class="sub-header date-col-size" mat-header-cell *matHeaderCellDef>{{'invitation_for_tender' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <input (click)="picker1.open()"
                                                                        [matDatepicker]="picker1"
                                                                        formControlName="invitationForTender" matInput
                                                                        readonly required>
                                                                    <mat-datepicker-toggle [for]="picker1" matSuffix>
                                                                    </mat-datepicker-toggle>
                                                                    <mat-datepicker #picker1></mat-datepicker>
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Signing Of contract field and header column-->
                                                    <ng-container matColumnDef="signingOfContractCol">
                                                        <th class="sub-header date-col-size" mat-header-cell *matHeaderCellDef>{{'signing_of_contract' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <input (click)="picker2.open()"
                                                                        [matDatepicker]="picker2"
                                                                        formControlName="signingOfContract" matInput
                                                                        readonly required>
                                                                    <mat-datepicker-toggle [for]="picker2" matSuffix>
                                                                    </mat-datepicker-toggle>
                                                                    <mat-datepicker #picker2></mat-datepicker>
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Completion of contract field and header column-->
                                                    <ng-container matColumnDef="completionOfContractCol">
                                                        <th class="sub-header date-col-size" mat-header-cell *matHeaderCellDef>{{'completion_of_contract' | translate}}</th>
                                                        <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                                                            <mat-form-field class="fuse-mat-dense flex-auto mt-5">
                                                                <input (click)="picker3.open()"
                                                                        [matDatepicker]="picker3"
                                                                        formControlName="completionOfContract" matInput
                                                                        readonly required>
                                                                    <mat-datepicker-toggle [for]="picker3" matSuffix>
                                                                    </mat-datepicker-toggle>
                                                                    <mat-datepicker #picker3></mat-datepicker>
                                                            </mat-form-field>
                                                        </td>
                                                    </ng-container>

                                                     <!-- Delete and header column-->
                                                    <ng-container matColumnDef="action">
                                                        <th class="sub-header" mat-header-cell *matHeaderCellDef>{{'action' | translate}}</th>
                                                        <td mat-cell *matCellDef="let element; let i = index">
                                                            <div class="buttons">
                                                                <button type="button" mat-icon-button class="toggle-sidebar-folded"
                                                                        fxHide.lt-lg>
                                                                    <mat-icon (click)="confirmationDelete(i)" color="warn">delete</mat-icon>
                                                                </button>

                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                </table>
                                                </div>

                                                <!-- Total amount field-->
                                                <div class="md:flex">
                                                    <div class="w-full sm:w-auto md:w-1/2 lg:w-1/2">
                                                        <div class="mt-5">
                                                            <mat-label style=" text-align: center; font-weight: bold;">
                                                                {{ "goods_procurement" | translate }}
                                                            </mat-label>
                                                            <div style="width: 230px">
                                                                <span>{{ "bdt" | translate }}</span>
                                                                <mat-form-field class="text-right w-full readOnly">
                                                                    <input formControlName="totalAmountView" readonly autocomplete="off" matInput/>
                                                                    <input formControlName="totalAmount" type="hidden" />
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Add new row button and save button -->
                                                    <div class="flex sm:justify-start md:justify-end w-full sm:w-auto md:w-1/2 lg:w-1/2">
                                                        <div class="mt-5">
                                                            <button class="mb-1 mt-1" type="button" (click)="addRow()"
                                                                color="primary" mat-raised-button>
                                                                {{ "add_new_row" | translate }}
                                                            </button>

                                                            <button class="ml-3 mb-1 mt-1" type="submit" color="primary"
                                                                    [disabled]="spinner"
                                                                mat-raised-button>
                                                                {{ "save" | translate }}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </form>
                                </div>
                            </mat-card>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
