

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.required {
    color: red
}

.padding1 {
    padding-right: 10px
}

.formTable{
    width: 2500px !important;
}
table#projectCostsInfo{
    width: 250px;
    tr:nth-child(odd) {background-color: #E0EFFD;}
    tr:nth-child(even) {background-color: #FADEF8;}
    th, td{
        padding: 3px !important;
    }
    tr th:nth-child(2), tr td:nth-child(2){
        text-align: right !important;
    }
}
.proCostTitle{
    background: #f39e58;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
}

table {
    width: 100%;
    border: 1px solid #ccc;
    vertical-align: top;
    .projectInfo{
        tr th, tr td{
            border: none;
            text-align: left;
        }
        tr:nth-child(odd) {background-color: #E0EFFD;}
        tr:nth-child(even) {background-color: #FADEF8;}
    }
    .top-header {
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF;
        border: 1px solid #ccc;
        text-align: center;
        height: 90px;
    }

    .sub-header {
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF;
        border: 1px solid #ccc;
        text-align: center;
    }

    th.col-size{
        width: 250px !important;
    }
    th.date-col-size{
        width: 175px !important;
    }

    th, td{
        border: 1px solid #ccc;
        padding: 8px;
    }

    td {
        text-align: center;
    }

    tr {
        border: 1px solid #ccc;
    }

    body {
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }
}

mat-form-field {
    width: 90% !important;
    font-size: 12px;
}

.body-color {
    background-color: #EEF2FF;
}

.tab-color {
    background-color: #F0FDF4 !important;
}

.tblOverflow{
    width: 100% !important;
    overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
