.tbl-details {
    width: 100%;
    border-collapse: collapse;
}

.tbl-details th {
    vertical-align: top;
    font-weight: bold;
    //padding: 2px;
    text-align: left;
    background: none !important;
}

.tbl-details td {
    text-align: justify;
    vertical-align: top;
}

.tbl-details th, .tbl-details td {
    // border: 1px solid #CCC;
    padding: 4px;
}

.educationTbl th {
    background: #6fada2 !important;
    color: #FFFFFF !important;
}

#profileOuterBody {
    background: url('/assets/images/logos/div_outer.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}

table.data-tb {
    width: 100%;

    thead {
        border-bottom: 3px solid #fff;
    }

    tr {
        border-bottom: 3px solid #fff;
        color: #000000;
        background-color: #e5e3e3 !important;
    }

    th {
        border: 1px solid #ccc;
        background-color: #d7bfe1 !important;
        text-align: center;
        color: #000000 !important;
    }
}

table.info-table {
    width: 100%;
    th {
        background: none !important;
        vertical-align: top;
        text-align: left;
        font-weight: bold;
        padding-top: 12px;
    }

    td{
        vertical-align: top;
        padding-top: 12px;
    }
}
