table {
    width: 100%;

    th {
        text-align: center;
        //font-size: small;
        //color: white;
        //font-weight: bold;
        //background-color: #0d9488;
    }

    th:nth-child(1), td:nth-child(1)
    {
        width: 8%;
        text-align: center;
    }

    th:nth-child(2), td:nth-child(2)
    {
        width: 32%;
    }

    th:nth-child(3), td:nth-child(3)
    {
        width: 10%;
        text-align: center;
    }

    th:nth-child(4), td:nth-child(4)
    {
        width: 10%;
        text-align: center;
    }

    th:nth-child(5), td:nth-child(5)
    {
        width: 10%;
        text-align: center;
    }

    th:nth-child(6), td:nth-child(6)
    {
        width: 10%;
        text-align: center;
    }

    th:last-child, td:last-child {
        width: 20%;
        text-align: center;
    }
}

.researcher-feedback-btn-color {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    ///*optional*/
    //font-family: arial, sans-serif;
    ///*input has OS specific font-family*/
    color: #4308ff !important;
    text-decoration: underline !important;
    cursor: pointer !important;

}

.evaluator-feedback-btn-color {
    background: none !important;
    border: none !important;
    padding: 0 !important;
    ///*optional*/
    //font-family: arial, sans-serif;
    ///*input has OS specific font-family*/
    color: #1E96F7 !important;
    text-decoration: underline !important;
    cursor: pointer !important;

}

.exp-icon {
    color: white;
    cursor: pointer;
    float:right
}

.OrganizationTbl{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.OrganizationTbl th, .OrganizationTbl td{
    border: 1px solid #CCC;
    line-height: 38px;
    padding: 0px 4px;
}
