td {
    padding-top: 12px;
}
.t1 {
    border: 1px solid red !important;text-align: left;max-width:max-content;
}
.tr1{
    border: 1px solid black !important;max-width: max-content;;
}
.td1{
    border: 1px solid black !important;width: 55%;padding: 12px;
} 
 

.tds{
    border: 1px solid black !important;width: 5%;text-align: center;
} 
.tds1{
    border: 1px solid black !important;width: 30%;padding: 12px;
} 
.tds2{
    border: 1px solid black !important;width:5%;text-align: center;
} 


.s {
    padding-top: 80px;
}

.s1 {
    padding-left: 130px;
    padding-top: 65px;
}
.s2{
   padding-left: 340px;
   padding-top: 65px;
   padding-bottom: 10px;
}

// span {
//     border-top: 1px solid #000;
// }
.bold{
    font-weight: bold;
}
.r{
    padding-left: 40px;
}
.f{
    font-size: 10pt;margin-top: 15px;font-family: Verdana, Geneva, Tahoma, sans-serif;margin-left: 6%;
}



// table, th, td {
//     border: 1px solid black; 
//     padding-bottom: 10px;
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     font-size: 14px;    
//   }

//   .tableOne tr td{
//     width: 200%;
//     border: 1px solid black; 
//     padding-bottom: 10px;
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     font-size: 14px; 
//   }