@media print {
    .tblTitle {
        border: 1px solid #90cec5;
        padding: 3px;
        background-color: #90cec5 !important;
        -webkit-print-color-adjust: exact;
    }
    .no-print {
        display: none !important;
    }
    .mat-card {
        box-shadow: none !important;
    }
}