/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.numberField{
    text-align: right;
}
.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}
.card-design {
    border: 1px solid #ccc;
    padding: 10px;
}
table {
    width: 100%;
    border: 1px solid #ccc;
    text-align: center;
    margin: 4px;
    th {
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF;
      //  padding: 10px;
        text-align: center;
        border: 1px solid #CCC !important;

    }
    td {
        padding-top: 10px;
        border: 1px solid #CCC !important;
    }
    body {
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }
}
mat-form-field {
    width: 90% !important;
    font-size: 12px;
}

.body-color {
    background-color: #EEF2FF;
}

.tab-color {
    background-color: #F0FDF4 !important;
}

.rightPadding{
    text-align: right !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
