/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;

@font-face {
    font-family: 'nikosh';
    src: local('nikosh'), url(font/Nikosh.ttf) format('ttf');
  }

@font-face {
    font-family: 'AdorshoLipi';
    src: url('./font/AdorshoLipi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.nikoshFont{
  font-family: "Times New Roman", Times, serif, 'AdorshoLipi', 'nikosh' !important;
}