.card-center{
    border: 1px dotted yellow;
    border-radius: 15px;
    max-width: 430px;
    height: 363px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    background-color: white;


}
