
.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.required {
    color: red
}
.required-field{
    border: 1px solid red;
}

.padding1 {
    padding-right: 10px
}

table {
    width: 100%;
    border: 1px solid #ccc;

    .projectInfo {
        tr th, tr td {
            border: none;
            text-align: left;
        }

        tr:nth-child(odd) {
            background-color: #E0EFFD;
        }

        tr:nth-child(even) {
            background-color: #FADEF8;
        }
    }

    .top-header {
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF;
        border: 1px solid #ccc;
        text-align: center;
        height: 90px;
    }

    .sub-header {
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF;
        border: 1px solid #ccc;
        text-align: center;
    }

    th.col-size {
        width: 250px !important;
    }

    th.date-col-size {
        width: 175px !important;
    }

    th, td {
        border: 1px solid #ccc;
       // padding: 8px;
    }

    td {
        text-align: center;
    }

    tr {
        border: 1px solid #ccc;
    }

    body {
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }
}

mat-form-field {
    width: 90% !important;
    font-size: 12px;
}
.fixed-input {
    display: flex;
    align-self: stretch;
    min-height: 60px !important;
    height: auto;
    margin: 0px 0 !important;
    padding: 0px 0px 0px 0 !important;
    transform: none;
}

.body-color {
    background-color: #EEF2FF;
}

.tab-color {
    background-color: #F0FDF4 !important;
}


.firstTbl th{
    text-align: center;
    background: #0d9488 !important;
    color: #ffffff;
}
table.firstTbl td {
    border: 1px solid #CCC !important;
}
.RevenueTbl {
    // width: 150%;
    border-collapse: collapse;
    display: inline-block;
    vertical-align: top !important;
}

:host ::ng-deep .mat-horizontal-content-container {
    padding: 0 !important;
}

.card-bg-color {
    background: #f0fdf4;
}

.RevenueTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

.RevenueTbl tr:nth-child(odd) {
    background-color: #ffffff;
}

.RevenueTbl th {
    text-align: center;
    background: #0d9488 !important;
    color: #ffffff;
}

.RevenueTbl tr.text-center td,
.RevenueTbl td.text-center {
    text-align: center;
}

.RevenueTbl th,
.RevenueTbl td {
    border: 1px solid #ccc;
    width: 35px;
}

.RevenueTbl td {
    vertical-align: top !important;
}

.RevenueTbl td:nth-child(1) {
    vertical-align: middle !important;
}

.RevenueTbl {

    th,
    thead tr:nth-child(5) td {
        text-align: center;
        // position: sticky;
        z-index: 999999 !important;
    }

    thead tr:nth-child(1) th {
        top: 0px;
    }

    thead tr:nth-child(2) th {
        top: 40px;
    }

    thead tr:nth-child(3) th {
        top: 64px;
    }

    thead tr:nth-child(4) th {
        top: 88px;
    }

    thead tr:nth-child(5) td {
        top: 112px;
        background: #e8f1eb;
        color: #000000;
        font-weight: bold;
    }
}

.status-done {
    background-color: green;
    height: 23px;
}

.status-progress {
    background-color: darkkhaki;
    height: 23px;
}

.status-notdone {
    background-color: chocolate;
    height: 23px;
}

.default {
    background-color: rgb(255, 252, 250);
    height: 23px;
}
.table-scroll {
    overflow: auto;
    height: 330px;
}

mat-form-field {
    font-size: 15px !important;
    height: 35px !important;
    margin-bottom: 0px !important;
}
