.mat-form-field {
    font-size: 14px;
}

table {
    width: 100%;

    th {
        font-size: small;
        color: white;
        font-weight: bold;
        background-color: #0d9488;
    }
    th, td{
        border: 1px solid #e2e8f0;
        padding: 0px 4px;
        width: 28%;
    }
    th:nth-child(4), td:nth-child(4)
    {
        width: 10%;
    }
    th:nth-child(5), td:nth-child(5)
    {
        width: 10%;
    }
    th:nth-child(1), td:nth-child(1)
    {
        width: 10%;
        text-align: center;
    }
    th:last-child, td:last-child {
        width: 14%;
        text-align: center;
    }
}

.header1 {
    font-size: 16px;
    color: black;
}

.required {
    color: red
}

.tab-color {
    background-color: #F0FDF4 !important;
}
.text-alignment {
    text-align: center;
}
