.contentDiv{
    background: url('/assets/images/profile_bg.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}
.tbl-details th{
    background-color: none !important;
}
.personalInfoTbl{
    td:nth-child(1) {
        @apply text-left font-bold
    }
}
.researchInfo{
    width: 100%;
    td{
        border: 1px solid #CCC;
        padding: 3px;
    }
    th{
        border: 1px solid #CCC;
        background-color: #d8d8d8 !important;
    }
}
.publication{
    padding: 2px;
    cursor: pointer;
}
.tblTitle{
    border: 1px solid #90cec5;
    padding: 3px;
    background-color: #90cec5 !important;
    @apply font-semibold text-lg;
}
.grantTotal td{
    background-color: #f6f7c6;
    @apply font-semibold text-right
}
.editButton{
    border: 1px solid;
    width: 108px;
    padding: 3px;
    background: #4b60bd;
    text-align: center;
    border: 1px solid #4b60bd;
    border-radius: 4px;
}

table.researchInfo tr:nth-child(odd) td{
    background: #f7f5f5;
}
table.researchInfo tr:nth-child(even) td{
    background: #ffffff;
}