<div style="width: 100%">
    <!-- Header -->
    <app-form-header [subTitle]="'headerOfSubtitle' | translate" [title]="'header' | translate"></app-form-header>

    <div *ngIf="spinner" class="flex items-center justify-center">
        <div class="absolute top-1/2 left-1/2 w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin" style="border-top-color:transparent; position: absolute;z-index: 9999;">
        </div>
    </div>


    <!-- Main Start -->
    <div class="body m-5">
        <form name="frmGroup">
            <!-- Form Body -->
            <div class="flex justify-end mb-3">
                <button [routerLink]="['/participant-list/view/all']" class="mr-1" color="primary" mat-raised-button>
                    <mat-icon *ngIf="saveIcon">{{saveIcon}}</mat-icon>
                    {{'seeAll' | translate}}
                </button>

                <button [routerLink]="['/participant-list/download/all']" class="ml-1 mr-1" class="downloadBtn" class="mr-1" mat-raised-button style="background: #17a2b8 !important;color: white;">
                    <mat-icon *ngIf="pdfIcon">{{pdfIcon}}</mat-icon>
                    {{'downloadAllParticipant' | translate}}
                </button>

                <button [routerLink]="['/add-new-participant']" class="mr-1" color="primary" mat-raised-button >
                    <mat-icon *ngIf="addNewIcon">{{addNewIcon}}</mat-icon>
                    {{'AddMore' | translate}}
                </button>
            </div>
            <!-- CARD ONE-->
            <mat-card class="tab-color">

                <div class="md:flex tbl-title">
                    <div class="w-full sm:w-auto md:w-60 lg:w-60 md:text-left md:pt-3">
                        <mat-form-field *ngIf="userType != 'Rms_Training_Institute' " class="fuse-mat-dense flex-auto"
                                        floatLabel="always"
                                        fxFlex="60%" fxFlex.md="60%" fxFlex.sm="60%" fxFlex.xs="100%">
                            <mat-select (selectionChange)="filterByInstitute()" [(ngModel)]="selectedInstitute"
                                        [ngModelOptions]="{standalone: true}" placeholder="Select training institute">
                                <mat-option value="">All</mat-option>
                                <mat-option *ngFor="let elm of trainingInstitutes"
                                            [value]="elm.organigationName"> {{elm.organigationName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="w-full sm:w-auto md:w-60 lg:w-60 md:text-right">
                        <mat-form-field fxFlex="100%" style="width: 300px !important;">
                            <!--<mat-label>Filter</mat-label>-->
                            <input #input (keyup)="applyFilter($event)" [placeholder]="'search'|translate" matInput/>
                            <button mat-button mat-icon-button matPrefix>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <!-- Data Table -->
                <div class="flex flex-col bg-card shadow rounded overflow-x-auto sm:overflow-y-auto mt-4">
                    <div cdkScrollable class="overflow-x-auto sm:overflow-y-auto">
                        <table [dataSource]="dataSource" class="mat-elevation-z8 w-full" mat-table>
                            <ng-container matColumnDef="sl">
                                <th *matHeaderCellDef class="w-16" class="capitalize" mat-header-cell> {{'Sl' | translate}} </th>
                                <td *matCellDef="let row; let i = index;" class="text-center" mat-cell>
                                    {{(i + 1) + (page * size)}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="participantName">
                                <th *matHeaderCellDef class="capitalize" mat-header-cell> {{'participantName' | translate}} </th>
                                <td *matCellDef="let element" mat-cell> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="courseTitle">
                                <th *matHeaderCellDef class="capitalize" mat-header-cell> {{'courseTitle' | translate}} </th>
                                <td *matCellDef="let element" mat-cell>
                                    {{ element.trainingName }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="sex">
                                <th *matHeaderCellDef  mat-header-cell> {{'sex' | translate}} </th>
                                <td *matCellDef="let element" style="text-transform: lowercase" mat-cell>
                                    {{element.gender}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="mobileNo">
                                <th *matHeaderCellDef class="capitalize" mat-header-cell> {{'mobileNo' | translate}} </th>
                                <td *matCellDef="let element" mat-cell>
                                    <!--                                    +880{{element.phoneNo}}-->
                                    {{element.phoneNo}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th *matHeaderCellDef class="capitalize" mat-header-cell> {{'email' | translate}} </th>
                                <td *matCellDef="let element" class="text-center" mat-cell>
                                    {{element.email}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="completeStatus">
                                <th *matHeaderCellDef mat-header-cell> {{'completeStatus' | translate}} </th>
                                <td *matCellDef="let element" class="text-center" mat-cell>
                                    <mat-checkbox (change)="onCheckBoxChange($event.checked, element.id)"  [checked]="element.isCompleted" class="example-margin">
                                        <p>{{element.completed}}</p>
                                    </mat-checkbox>

                                </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <th *matHeaderCellDef class="pl-4 w-32" class="capitalize" mat-header-cell> {{'action' | translate}} </th>
                                <td *matCellDef="let element" class="text-center" mat-cell>
                                    <div class="buttons">
                                        <button (click)="viewDetails(element.id)" class="toggle-sidebar-folded" fxHide.lt-lg
                                                mat-icon-button matTooltip="visibility">
                                            <mat-icon color="primary">visibility
                                            </mat-icon>
                                        </button>
                                        <button (click)="edit(element.id)" [disabled]="!element.editable"
                                                class="toggle-sidebar-folded" fxHide.lt-lg
                                                mat-icon-button matTooltip="Edit">
                                            <mat-icon color="accent">edit
                                            </mat-icon>
                                        </button>
                                        <button (click)="openDialog(element.id)" [disabled]="!element.editable"
                                                class="toggle-sidebar-folded" fxHide.lt-lg
                                                mat-icon-button matTooltip="delete">
                                            <mat-icon color="warn">delete
                                            </mat-icon>
                                        </button>

                                    </div>
                                </td>
                            </ng-container>

                            <!-- Initialized Table Header And Dataset-->
                            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                        </table>
                    </div>
                    <!-- mat-paginator -->
                    <mat-paginator (page)="onChangePage($event)" [length]="total" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="size">
                    </mat-paginator>
                </div>
            </mat-card>

        </form>
    </div>

    <!-- Main End -->
</div>
