//.body{
//    width: 100%;
//    padding: 20px;
//    background-color: #FFFFFF;
//}
.sub-item{
    margin-left: 15px;
}

a {
    color: #69B899;
}
p{
    margin: 10px;
}

.ck-editor {
    background-color: #69B899;
    color: #FFFFFF;
    border-radius: 3px;
    padding-bottom: 3px;
    padding-top: 3px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 31.5%;
    float: right;
}

.custom-image-icon {
    margin-left: -10px;
}

.custom-file-upload-div{
    width: 100%;
    position: absolute;
    margin-top: -30%;
}

table {
    width: 100%;
    border: 1px solid #ccc;

    .top-header {
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF;
        border: 1px solid #ccc;
        text-align: center;
        height: 90px;
    }

    .sub-header {
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF;
        border: 1px solid #ccc;
        text-align: center;
        padding: 10px;
    }

    td {
        text-align: center;
        border: 1px solid #ccc;
    }

    tr {
        border: 1px solid #ccc;
    }

    body {
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }
}

mat-form-field {
    width: 90% !important;
    font-size: 12px;
}

.body-color {
    background-color: #EEF2FF;
}
.wd{
    width: 22% !important;
}
