<!--Loder-->
<div *ngIf="spinner" class="flex items-center justify-center">
    <div style="border-top-color:transparent; position: absolute;z-index: 9999;"
        class="absolute top-1/2 left-1/2 w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin">
    </div>
</div>


<h1 class="p-2" style="color: red;" *ngIf="!canSave"><strong>{{'ResearcherProposalReq' | translate}}</strong></h1>

<div style="width: 100%;" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-label class="heading w-full">
        {{'Information' | translate}}
    </mat-label>
</div>

<mat-card>

    <form #f="ngForm">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label style="margin-top: -15px" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                        {{'SupervisorName' | translate}}
                        <strong class="required">*</strong>
                    </mat-label>
                    <mat-form-field class="fuse-mat-dense flex-auto" fxFlex="60%" fxFlex.md="60%" fxFlex.sm="60%"
                        fxFlex.xs="100%">
                        <input #supervisorName="ngModel" matInput required
                            [(ngModel)]="supervisorInformation.supervisorName" [ngModelOptions]="{standalone: true}">

                        <mat-hint
                            *ngIf="(supervisorName.touched || f.submitted || (supervisorName.dirty && !(supervisorName.value | required))) && supervisorName.errors?.required"
                            style="color: crimson !important;">
                            {{'SupervisorNameReq' | translate}}
                        </mat-hint>

                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label style="margin-top: -15px" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                        {{'PresentOfficeName' | translate}}
                        <strong class="required">*</strong>
                    </mat-label>
                    <mat-form-field class="fuse-mat-dense flex-auto" fxFlex="60%" fxFlex.md="60%" fxFlex.sm="60%"
                        fxFlex.xs="100%">
                        <input #presentOfficeName="ngModel" matInput required
                            [(ngModel)]="supervisorInformation.presentOfficeName" [ngModelOptions]="{standalone: true}">
                        <mat-hint
                            *ngIf="(presentOfficeName.touched || f.submitted || (presentOfficeName.dirty && !(presentOfficeName.value | required))) && presentOfficeName.errors?.required"
                            style="color: crimson !important;">
                            {{'PresentOfficeNameReq' | translate}}
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label style="margin-top: -15px" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                        {{'PresentOfficeAddress' | translate}}
                        <strong class="required">*</strong>
                    </mat-label>
                    <mat-form-field class="fuse-mat-dense flex-auto" fxFlex="60%" fxFlex.md="60%" fxFlex.sm="60%"
                        fxFlex.xs="100%">
                        <input #presentOfficeAddress="ngModel" matInput required
                            [(ngModel)]="supervisorInformation.presentOfficeAddress"
                            [ngModelOptions]="{standalone: true}">
                        <mat-hint
                            *ngIf="(presentOfficeAddress.touched || f.submitted || (presentOfficeAddress.dirty && !(presentOfficeAddress.value | required))) && presentOfficeAddress.errors?.required"
                            style="color: crimson !important;">
                            {{'PresentOfficeAddressReq' | translate}}
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label style="margin-top: -15px" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                        {{'MobileNo' | translate}}
                        <!-- <strong class="required">*</strong> -->
                    </mat-label>
                    <mat-form-field class="fuse-mat-dense flex-auto" fxFlex="60%" fxFlex.md="60%" fxFlex.sm="60%"
                        fxFlex.xs="100%">
                        <input matInput [(ngModel)]="supervisorInformation.mobileNo"
                            [ngModelOptions]="{standalone: true}">
                        <!-- <mat-error>{{'MobileNoReq' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label style="margin-top: -15px" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                        {{'EmailAddress' | translate}}
                        <!-- <strong class="required">*</strong> -->
                    </mat-label>
                    <mat-form-field class="fuse-mat-dense flex-auto" fxFlex="60%" fxFlex.md="60%" fxFlex.sm="60%"
                        fxFlex.xs="100%">
                        <input matInput [(ngModel)]="supervisorInformation.emailAddress"
                            [ngModelOptions]="{standalone: true}">
                        <!-- <mat-error>{{'EmailAddressReq' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label style="margin-top: -15px" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                        {{'NidNo' | translate}}
                        <!-- <strong class="required">*</strong> -->
                    </mat-label>
                    <mat-form-field class="fuse-mat-dense flex-auto" fxFlex="60%" fxFlex.md="60%" fxFlex.sm="60%"
                        fxFlex.xs="100%">
                        <input matInput [(ngModel)]="supervisorInformation.nidNumber"
                            [ngModelOptions]="{standalone: true}">
                        <!-- <mat-error>{{'NidNoReq' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label style="margin-top: -15px" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                        {{'TinNo' | translate}}
                        <!-- <strong class="required">*</strong> -->
                    </mat-label>
                    <mat-form-field class="fuse-mat-dense flex-auto" fxFlex="60%" fxFlex.md="60%" fxFlex.sm="60%"
                        fxFlex.xs="100%">
                        <input matInput [(ngModel)]="supervisorInformation.tinNumber"
                            [ngModelOptions]="{standalone: true}">
                        <!-- <mat-error>{{'TinNoReq' | translate}}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>
            <!-- <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <div class="pr-4" fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-label style="margin-top: -15px" fxFlex="40%" fxFlex.md="40%" fxFlex.sm="40%"
                               fxFlex.xs="100%">
                        {{'IsEditable' | translate}}
                    </mat-label>
                    <mat-radio-group [(ngModel)]="supervisorInformation.isEditable"
                                     [ngModelOptions]="{standalone: true}" required fxFlex="50%" fxFlex.md="70%"
                                     fxFlex.sm="70%" fxFlex.xs="100%">
                        <mat-radio-button [value]='1'>Yes</mat-radio-button>&nbsp;&nbsp;
                        <mat-radio-button [value]='0'>No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div> -->
        </div>

        <div class="flex justify-end mt-3 mr-2">

            <button mat-flat-button [color]="'primary'" (click)="previousTab()" type="submit"
                class="px-3 mr-2 toggle-sidebar-folded previousBtn">
                <mat-icon *ngIf="previousIcon" class="mr-1">{{previousIcon}}</mat-icon>
                {{ "Previous" | translate }}
            </button>

            <button mat-flat-button style="background-color: green; color: #FFFFFF" type="submit"
                (click)="onSubmit(false)" [disabled]="!canSave" color="primary"
                class="px-3 mr-2 toggle-sidebar-folded saveBtn">
                <mat-icon *ngIf="saveIcon" class="mr-1">{{saveIcon}}</mat-icon>
                <span>{{ "Save" | translate }}</span>
            </button>

            <button mat-flat-button (click)="onSubmit(true)" [disabled]="!canSave" type="button" color="primary"
                class="px-3 mr-2 toggle-sidebar-folded saveAndNextBtn">
                <mat-icon *ngIf="saveIcon" class="mr-1">{{saveIcon}}</mat-icon>
                <span> {{ "SaveAndNext" | translate }}</span>
            </button>

            <button mat-flat-button (click)="nextTab()" style="background-color: green; color: #FFFFFF" type="button"
                color="primary" class="px-3 mr-2 toggle-sidebar-folded nextBtn">
                {{ "Next" | translate }}
                <mat-icon *ngIf="nextIcon" class="mr-1">{{nextIcon}}</mat-icon>
            </button>
        </div>

    </form>

    <!--    </mat-card>-->


</mat-card>
<!-- Main End -->