<div class="header flex justify-between items-center">
    <div class="pl-3 pt-5 pb-5">
        <p class="text-xl sm:text-3xl font-semibold tracking-tight leading-7 md:leadinflex justify-center items-centerg-10 truncate pt-1">
            <span [innerHTML]="title"></span>
        </p>
        <p class="leading-5 truncate text-secondary text-sm md:text-base pt-2">
            <span [innerHTML]="subTitle"></span>
        </p>
    </div>
    <div class="pr-6">
        <a class="btn btn-home flex justify-center items-center" href="{{navigationPage}}">
            <mat-icon class="text-white">home</mat-icon>
            <p class="pt-1">Home</p>
        </a>
    </div>
</div>
