.div1 {
    background-color: darkslateblue;
    padding: 10px;
}

.header1 {
    color: #FFFFFF
}

.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.required{
    color: red
}

.padding1{
    padding-right: 10px
}

.padding2{
    padding-top: 20px;
}

.dropdown{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

.matLabel1{
    text-align: right;
    padding-right: 5px;
}

.matLabel2{
    color: #02075d;
}

.exp-icon {
    color: white;
    cursor: pointer;
    float:right
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    // width: 100%;
    // //position: absolute;
    // right: 2px;
    top:0;
    float: right;
}

.custom-image-icon {
    margin-left: -10px;
}

.custom-file-upload-div{
    width: 100%;
    position: absolute;
    margin-top: -25%;

}


