.tab-bar .mat-horizontal-stepper-header-container {
    border: 1px solid #CCC !important;
}

.body-color{
    background-color: #EEF2FF;
}
.tab-color{
    background-color: #F0FDF4 !important;
}
.obj_cost{
    background-color: red !important;
    color: white !important;
    font-weight: bold;
}

.tab-font-size{
    font-size: 15px !important;
}
