<div style="width: 100%">
    <!-- Header -->
    <app-form-header [title]="'headerTitle' | translate" [subTitle]="'headerSubTitle' | translate"></app-form-header>

    <!-- added for spinner -->
    <div *ngIf="spinner" class="flex items-center justify-center">
        <div style="border-top-color:transparent; position: absolute;z-index: 9999;"
            class="absolute top-1/2 left-1/2 w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin">
        </div>
    </div>

    <!-- Main Start -->
    <div class="flex-auto m-7 body-color">
        <mat-card class="tab-color -mt-4">

            <div class="flex flex-col bg-card shadow rounded overflow-hidden">
                <div class="heading">
                    <h1>{{'formTitle' | translate}}</h1>
                </div>
            </div>

            <!-- Card Body -->
            <form [formGroup]="formGroup" #changePassForm="ngForm" (submit)="submitForm()"
                class="p-4 border3 form-bg-color">

                <!-- -----------1st Row----------- -->
                <div class="md:flex" style="margin-left: -10px">
                    <div class="w-full sm:w-auto md:w-30 lg:w-30 ml-2 pr-2 mt-1">
                        <span>{{'oldPassword' | translate}}</span>&nbsp;<strong class="required">*</strong>
                    </div>
                    <div class="w-full">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <input [type]="fieldTextType1 ? 'text' : 'password'" matInput formControlName="oldPassword"
                                placeholder="Enter Old Password">
                            <mat-icon matSuffix (click)="fieldTextType1 = !fieldTextType1">{{fieldTextType1 ?
                                'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <!-- -----------1st Row----------- -->

                <!-- -----------2nd Row----------- -->
                <div class="md:flex mt-5" style="margin-left: -10px">
                    <div class="w-full sm:w-auto md:w-30 lg:w-30 ml-2 pr-2 mt-1">
                        <span>{{'newPassword' | translate}}</span>&nbsp;<strong class="required">*</strong>
                    </div>
                    <div class="w-full">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <input [type]="fieldTextType2 ? 'text' : 'password'" matInput formControlName="newPassword"
                                placeholder="Enter New Password">
                            <mat-icon matSuffix (click)="fieldTextType2 = !fieldTextType2">{{fieldTextType2 ?
                                'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <!-- -----------2nd Row----------- -->

                <!-- -----------3rd Row----------- -->
                <div class="md:flex mt-5" style="margin-left: -10px">
                    <div class="w-full sm:w-auto md:w-30 lg:w-30 ml-2 pr-2 mt-1">
                        <span>{{'confirmNewPassword' | translate}}</span>&nbsp;<strong class="required">*</strong>
                    </div>
                    <div class="w-full">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <input [type]="fieldTextType3 ? 'text' : 'password'" matInput
                                formControlName="confirmNewPassword" required placeholder="Enter Confirm New Password"
                                (keyup)="checkMatch($event)">
                            <mat-icon matSuffix (click)="fieldTextType3 = !fieldTextType3">{{fieldTextType3 ?
                                'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="formGroup.get('confirmNewPassword').hasError('doesNotMatch')">Password
                                Doesn't Match !</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- -----------3rd Row----------- -->

                <!-- -----------Button Row----------- -->
                <div class="flex justify-end mt-3" style="margin-left: -10px">
                    <button class="px-3 mr-2" mat-flat-button color="accent" (click)="resetFormValue()" type="reset"
                        [matTooltip]="'reset' | translate">
                        <mat-icon *ngIf="refreshIcon" class="mr-1">{{refreshIcon}}</mat-icon>
                        {{'reset' | translate}}
                    </button>
                    <button class="px-3" mat-flat-button color="primary" type="submit" [disabled]="spinner"
                        [matTooltip]="'save' | translate">
                        <mat-icon *ngIf="saveIcon" class="mr-1">{{saveIcon}}</mat-icon>
                        <div>{{'save' | translate}}</div>
                    </button>
                </div>
                <!-- -----------Button Row----------- -->
            </form>

        </mat-card>
    </div>
</div>