::ng-deep .mat-horizontal-stepper-header{
    //pointer-events: none !important;
}
.tab-font-size{
    font-size: 8px;

}



::ng-deep .mat-step:hover{
    background-color: green;
}


// ::ng-deep .mat-step-header[aria-selected="true"]  {
    ::ng-deep .mat-step-header[aria-selected="true"] {
        // background-color: #8eaa97;
        background-color: rgba(11, 89, 0, 0.2);
        font-weight: 10px;
    
        & div.mat-step-label.mat-step-label-active.mat-step-label-selected {
            color: #050505;
        }
    }
