.seminaTbl{
    width: 100%;
}
.seminaTbl th,
.seminaTbl td{
    border: none;
}

.researchTbl th,
.researchTbl td{
    padding: 5px;
}

.researchTbl th, 
.researchTbl td{
    border: 1px solid #CCC !important;
}
.researchTbl th{
    text-align: center;
}
