    td {
        padding-top: 12px;
    }

    

    .t1{
        width: 95%;text-align: center; border-collapse: collapse;
     }
    .t1 .tr1 .td1{
         border: 1px solid black ;padding-bottom: 12px;
     }
    


    .t2{
       width: 95%;text-align: center; border-collapse: collapse;
    }
   .t2 .tr2 .td2{
        border: 1px solid black ;padding-bottom: 12px;
    }

    .t3{
        width: 95%;text-align: center; border-collapse: collapse;
     }
    .t3 .tr3 .td3{
         border: 1px solid black ;padding-bottom: 12px;
     }
  


    #s {
        padding-top: 80px;
    }

    #s1 {
        padding-left: 130px;
        padding-top: 65px;
    }
    #s2{
       padding-left: 340px;
       padding-top: 65px;
       padding-bottom: 10px;
    }

    span {
        border-top: 1px solid #000;
    }