.basic-info-row{
    margin: 5px;
    background-color: #ededed;
    border: 1px solid #c7c7c7;
}

.basic-info-left-lbl{
    display: inline-block;
    text-align: left;
    width: 30%;
    padding: 8px;
    vertical-align: middle;
}

.basic-info-right-lbl{
    display: inline-block;
    border-left: 1px solid #c7c7c7;
    font-weight: 500;
    text-align: left;
    width: 70%;
    padding: 8px;
    vertical-align: middle;
}

table.attachment-table {
    width: 100% !important;

    th {
        font-size: small;
    }
    th, td{
        border: 1px solid #e2e8f0;
        padding: 0px 4px;
        text-align: center !important;
    }
    th:nth-child(1), td:nth-child(1)
    {
        width: 8%;
        text-align: center;
    }
    th:nth-child(3), td:nth-child(3)
    {
        width: 20%;
        text-align: center;
    }
    th:last-child, td:last-child {
        width: 20%;
        text-align: center;
    }
}

.comment-btn{
    margin: 15px;
    box-shadow: 3px 3px 3px 3px #757677;
    padding: 20px 20px 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.icon {
    color: #FFFFFF !important;
}
.btn-project-concept-edit {
    margin: 5px;
    min-height: 40px;
    max-height: 40px;
    color: #ffffff !important;
    font-size: 15px;
    border-radius: 0%;
    background-color:  #424f9e !important;
}
.close-button{
    float: right;
    margin-top: -15px;
    margin-right: -10px;
    padding-top: 13px;
}

.close-icon {
    transition: 1s ease-in-out;
}

.close-icon:hover {
    transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset
}
