.tbl-details{
    width: 100%;
    border-collapse: collapse;
}
.tbl-details th{
    font-weight: bold;
    padding: 5px;
    text-align: left;
    background:none !important;
}
.tbl-details td{
    // text-align: justify;
}
.tbl-details th, .tbl-details td{
    // border: 1px solid #CCC;
    padding: 8px;
}
.educationTbl th{

}
table, th, td {
    border: 1px solid black !important;
}
table.testTbl {
    border: 1px solid red;
}
