.tables{
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

th{
    border: 1px solid #ccc;
    background-color: #0d9488;
    color: #FFFFFF;
    padding: 4px;
    text-align: center;
}
td{
    border: 1px solid #ccc;
    text-align: right;
    padding: 4px;
}
.cards{
    width: 100%;
    background-color: rgb(247, 247, 247);
    border-radius: 7px;
    margin-bottom: 20px;
}

.body-color {
    background-color: #EEF2FF;
}

.tab-color {
    background-color: #F0FDF4 !important;
}

.txt-left{
    text-align: left !important;
}

// tr:nth-child(odd){background-color: #d8d5d5}










