.letterBtn{
    margin: 0px 4px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}

.finalBtn{
    background: #38a169;
    padding: 8px 11px;
    color: #FFFFFF;
    border: 1px solid #38a169;
    border-radius: 4px;
    @apply cursor-pointer hover:bg-green-800
}
.draftBtn{
    background: #cf6868;
    padding: 8px 11px;
    color: #FFFFFF;
    border: 1px solid #cf6868;
    border-radius: 4px;
    @apply cursor-pointer hover:bg-red-800
}

.catWiseBudget{
    border:1px solid #CCC;
}

.budgetTitle{
    border-bottom: 1px solid;
    background-color: #7bc57b;
    color: #FFF;
    font-weight: bold;
    line-height: 39px;
    padding-left: 5px;
    margin-bottom: 10px;
    position: relative;
}

.AddMore {
    cursor: pointer;
    width: 91px;
    text-align: center;
    line-height: 31px;
    background: #0d9488;
    color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 14px;
    margin: 4px 0px;
}
.removeRow {
    position: absolute;
    top: 13px;
    right: 0px;
    cursor: pointer;
}