<div class="body">
    <div class="md:flex justify-center">

        <h1 class="text-2xl">
            {{'installmentText1' | translate}} {{newPaymentModel.proposalModel?.trainingInstituteProfileModel.trainingInstituteName}}
            {{'installmentText2' | translate}} {{installment.totalAmount}}.
        </h1>

    </div>
    <form #myForm="ngForm">

        <div class="heading mt-2">
            <h1>{{'submitInstallment' | translate}}</h1>
        </div>
        <mat-card class="tab-color">
            <div class="md:flex">
                <!--                                <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                                                    <span class="text-gray-700">
                                                            {{'proposal' | translate}}
                                                        </span>
                                                </div>
                                                <div class="w-full sm:w-auto md:w-30 lg:w-30">
                                                    <mat-form-field class="w-full">
                                                        <mat-select (selectionChange)="changeProposal($event.value)" [(ngModel)]="newPaymentModel.proposalId"
                                                                    [ngModelOptions]="{standalone: true}" placeholder="Select One">
                                                            <mat-option *ngFor="let proposal of proposals"
                                                                        [value]="proposal.id"> {{proposal.trainingName}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>-->

                <!--<div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                    <span class="text-gray-700">
                            {{'installmentType' | translate}}
                        </span>
                </div>
                <div class="w-full sm:w-auto md:w-30 lg:w-30">
                    <mat-form-field class="w-full">
                        <mat-select (selectionChange)="onInstallmentChange($event.value)"
                                    [(ngModel)]="newPaymentModel.installmentType"
                                    [ngModelOptions]="{standalone: true}" placeholder="Select One">
                            <mat-option *ngFor="let agreementInstallment of agreementInstallments"
                                        [value]="agreementInstallment.installmentName"> {{agreementInstallment.installmentName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>-->

                <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                    <span class="text-gray-700">
                                        {{'fiscalYear' | translate}}
                                    </span>
                </div>
                <div class="w-full sm:w-auto md:w-30 lg:w-30">
                    <mat-form-field class="w-full">
                        <mat-select [(ngModel)]="newPaymentModel.fiscalYearId"
                                    [(value)]="newPaymentModel.fiscalYearId" name="itemOfExpenditure" disabled>
                            <mat-option *ngFor="let item of fiscalYears" [value]="item.id">{{item.fiscalYear}}</mat-option>
                        </mat-select>
                        <mat-error> {{'fiscalYear' | translate}} {{ 'required' | translate }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                    <span class="text-gray-700">
                           {{'installmentDate' | translate}}
                        </span>
                </div>
                <div class="w-full sm:w-auto md:w-30 lg:w-30">
                    <mat-form-field class="w-full" class="example-form-field" style="width: 99%;">

                        <input [(ngModel)]="newPaymentModel.installmentDate" [matDatepicker]="datepicker" matInput name="date">
                        <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>

                        </mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <!-- Row 2-->
            <div class="md:flex">
                <div *ngIf="newPaymentModel.installmentType != 'Advance Installment'"
                     class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'installmentAmount' | translate}}
                        </span>
                </div>
                <div *ngIf="newPaymentModel.installmentType != 'Advance Installment'"
                     class="w-full sm:w-auto md:w-30 lg:w-30">
                    <mat-form-field class="w-full">
                        <input [(ngModel)]="newPaymentModel.installmentAmount" [ngModelOptions]="{standalone: true}"
                               disabled matInput type="number">
                    </mat-form-field>
                </div>
                <div *ngIf="newPaymentModel.installmentType == 'Advance Installment'"
                     class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                           {{'advanceAmount' | translate}}
                        </span>
                </div>
                <div *ngIf="newPaymentModel.installmentType == 'Advance Installment'"
                     class="w-full sm:w-auto md:w-30 lg:w-30">
                    <mat-form-field class="w-full">
                        <input [(ngModel)]="newPaymentModel.installmentAmount" [ngModelOptions]="{standalone: true}"
                               matInput type="number">
                    </mat-form-field>
                </div>

                <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                    <span class="text-gray-700">
                           {{'chalanNumber' | translate}}
                        </span>
                </div>
                <div class="w-full sm:w-auto md:w-30 lg:w-30">
                    <mat-form-field class="w-full">
                        <input [(ngModel)]="newPaymentModel.chalanNo" [ngModelOptions]="{standalone: true}" matInput>
                    </mat-form-field>
                </div>
            </div>
            <!-- Row 3-->
            <div class="md:flex">
                <!--                <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                                    <span class="text-gray-700">
                                                        {{'fiscalYear' | translate}}
                                                    </span>
                                </div>
                                <div class="w-full sm:w-auto md:w-30 lg:w-30">
                                    <mat-form-field class="w-full">
                                        <mat-select [(ngModel)]="newPaymentModel.fiscalYearId"
                                                    [(value)]="newPaymentModel.fiscalYearId" name="itemOfExpenditure" required>
                                            <mat-option *ngFor="let item of fiscalYears" [value]="item.id">{{item.fiscalYear}}</mat-option>
                                        </mat-select>
                                        <mat-error> {{'fiscalYear' | translate}} {{ 'required' | translate }}</mat-error>
                                    </mat-form-field>
                                </div>-->
                <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">

                </div>
                <div class="w-full sm:w-auto md:w-30 lg:w-30">

                </div>
            </div>

        </mat-card>
    </form>
    <!-- Data Table -->
    <div *ngIf="newPaymentModel.installmentType != 'Advance Installment'"
         class="flex flex-col bg-card shadow rounded overflow-x-auto sm:overflow-y-auto my-4">
        <!--<mat-card>-->
        <div cdkScrollable class="overflow-x-auto sm:overflow-y-auto">
            <table [dataSource]="dataSource" class="mat-elevation-z8 w-full" mat-table>
                <!-- Position Column -->
                <ng-container matColumnDef="sl">
                    <th *matHeaderCellDef class="w-16" mat-header-cell> {{'sl' | translate}} </th>
                    <td *matCellDef="let row; let i = index;" class="text-center" mat-cell>
                        {{(i + 1)}}
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="trainingBudgetId">
                    <th *matHeaderCellDef mat-header-cell> {{'itemOfExpenditure' | translate}} </th>
                    <td *matCellDef="let element" class="text-center" mat-cell>
                        {{getItemOfExpenditure(element.trainingBudgetModel.itemOfExpenditureId)}}
                    </td>
                    <td *matFooterCellDef mat-footer-cell><b>{{'totalNetPayment' | translate}}</b></td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="totalBudget">
                    <th *matHeaderCellDef mat-header-cell> {{'totalBudget' | translate}} </th>
                    <td *matCellDef="let element" class="text-center" mat-cell>
                        {{element.trainingBudgetModel.expenditureAmount | number }}
                    </td>
                    <td *matFooterCellDef class="text-center"
                        mat-footer-cell> {{getTotalAmountOfTotal("totalBudget") | number}} </td>
                </ng-container>

                <ng-container matColumnDef="expenditureAmount">
                    <th *matHeaderCellDef mat-header-cell> {{'expenditureAmount' | translate}} </th>
                    <td *matCellDef="let element; let idx = index;" class="text-center" mat-cell>
                        <mat-form-field class="w-full pt-2">
                            <input (keyup)="calculateOtherFields(idx)" [(ngModel)]="element.expenditureAmount"
                                   [ngModelOptions]="{standalone: true}" matInput
                                   type="number">
                        </mat-form-field>
                    </td>
                    <td *matFooterCellDef class="text-center"
                        mat-footer-cell> {{getTotalAmountOf("expenditureAmount") | number}} </td>
                </ng-container>


                <!-- Name Column -->
                <ng-container matColumnDef="vatAndTaxPercentage">
                    <th *matHeaderCellDef mat-header-cell> {{'vatTaxPercent' | translate}} </th>
                    <td *matCellDef="let element; let idx = index;" class="text-center" mat-cell>
                        <mat-form-field class="w-full pt-2">
                            <input (keyup)="calculateOtherFields(idx)" [(ngModel)]="element.vatAndTaxPercentage"
                                   [ngModelOptions]="{standalone: true}" matInput max="100" min="0" type="number">
                        </mat-form-field>
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>

                <ng-container matColumnDef="vatAndTaxAmount">
                    <th *matHeaderCellDef mat-header-cell> {{'vatAndTaxAmount' | translate}} </th>
                    <td *matCellDef="let element" class="text-center" mat-cell>
                        <mat-form-field class="w-full pt-2">
                            <input [(ngModel)]="element.vatAndTaxAmount" [ngModelOptions]="{standalone: true}" matInput min="0"
                                   disabled type="number">
                        </mat-form-field>
                    </td>
                    <td *matFooterCellDef class="text-center"
                        mat-footer-cell> {{getTotalAmountOf("vatAndTaxAmount") | number}} </td>
                </ng-container>
                <ng-container matColumnDef="netPaymentAmount">
                    <th *matHeaderCellDef mat-header-cell> {{'netPaymentAmount' | translate}} </th>
                    <td *matCellDef="let element" class="text-center" mat-cell>
                        <mat-form-field class="w-full pt-2">
                            <input [(ngModel)]="element.netPaymentAmount" [ngModelOptions]="{standalone: true}" matInput
                                   disabled type="number">
                        </mat-form-field>
                    </td>
                    <!--                    <td *matFooterCellDef class="text-center"-->
                    <!--                        mat-footer-cell (change)="checkTotal()"> {{getTotalAmountOf("netPaymentAmount") | number}} </td>-->
                    <td *matFooterCellDef class="text-center"
                        mat-footer-cell> {{getTotalAmountOf("netPaymentAmount") | number}} </td>
                </ng-container>
                <ng-container matColumnDef="voucherNumber">
                    <th *matHeaderCellDef mat-header-cell> {{'voucherNumber' | translate}} </th>
                    <td *matCellDef="let element" class="text-center" mat-cell>
                        <mat-form-field class="w-full pt-2">
                            <input [(ngModel)]="element.voucherNumber" [ngModelOptions]="{standalone: true}" matInput type="">
                        </mat-form-field>
                    </td>
                    <td *matFooterCellDef mat-footer-cell></td>
                </ng-container>
                <!-- <ng-container>
                    <th *matHeaderCellDef mat-header-cell> {{'voucherNumber' | translate}} </th>
                    <td *matCellDef="let element" class="text-center" mat-cell>
                        <mat-form-field class="w-full pt-2">
                            <input [(ngModel)]="element.voucherNumber" [ngModelOptions]="{standalone: true}" matInput>
                        </mat-form-field>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> ok </td>
                </ng-container> -->

                <!-- Initialized Table Header And Dataset-->
                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                <tr *matFooterRowDef="displayedColumns" class="example-first-footer-row" mat-footer-row></tr>
            </table>

            <!-- </form> -->
        </div>

    </div>
    <!-- Bottom Button -->
    <div class="flex justify-end mt-8 mb-8">
        <button (click)="previousTab()" class="px-3 mr-2 toggle-sidebar-folded nextBtn" color="primary" mat-flat-button
                style="background: #4c72c7 !important;color: white;" type="button">
            <mat-icon *ngIf="nextIcon" class="mr-1">{{previousIcon}}</mat-icon>
            {{ "previous" | translate }}
        </button>
        <button (click)="save(false)" [disabled]="isButtonOk" class="px-3 mr-2 toggle-sidebar-folded saveBtn" color="primary"
                mat-flat-button
                style="background-color: green; color: #FFFFFF" type="submit">
            <mat-icon *ngIf="saveIcon" class="mr-1">{{saveIcon}}</mat-icon>
            <span *ngIf="!isEditable">{{ "save" | translate }}</span>
            <span *ngIf="isEditable">{{ "update" | translate }}</span>
        </button>

        <button (click)="saveAndNext()" [disabled]="isButtonOk" class="px-3 mr-2 toggle-sidebar-folded saveAndNextBtn"
                color="primary" mat-flat-button
                type="button">
            <mat-icon *ngIf="saveIcon" class="mr-1">{{saveIcon}}</mat-icon>
            <span *ngIf="!isEditable">{{ "save_and_next" | translate }}</span>
            <span *ngIf="isEditable">{{ "update_and_next" | translate }}</span>
        </button>

        <!--        <button (click)="nextTab()" class="px-3 mr-2 toggle-sidebar-folded nextBtn" color="primary" mat-flat-button-->
        <!--                style="background-color: green; color: #FFFFFF" type="button">-->
        <!--            {{ "next" | translate }}-->
        <!--            <mat-icon *ngIf="nextIcon" class="mr-1">{{nextIcon}}</mat-icon>-->
        <!--        </button>-->
    </div>
    <!-- </form> -->
</div>
