<div id="planning" style="width: 100%;user-select: none;" class="relative">
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between border-b bg-card top-banner">
        <div class="flex-1 min-w-0" style="user-select: none">
            <div class="flex flex-col w-full mx-auto">
                <div class="m-2">
                    <div class="flex flex-col min-w-0">
                        <!--Alternative Header-->
                        <!--<div class="flex-auto sm:flex">
                            <div id="top-lbl" class="flex-1 w 4/5">
                                <div class="flex-auto sm:flex sm:justify-start sm:items-center">
                                    &lt;!&ndash;<div fxFlex="15%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                                        <img id="bd-logo" style="height: 70px;width: 70px;" src="assets/images/logos/bd_gov_logo.png">
                                    </div>
                                    <div fxFlex="85%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                                        <h1 style="padding-top: 5px;" class="banner-lbl">Planning Division & Planning Commission</h1>
                                        <p class="sddp-lbl">Integrated Digital Service Delivery Platform (IDSDP)</p>
                                    </div>&ndash;&gt;
                                    <div>
                                        <img id="bd-logo" style="height: 70px;width: 70px;"
                                             src="assets/images/logos/bd_gov_logo.png">
                                    </div>
                                    <div class="ml-4">
                                        <h1 style="padding-top: 5px;"
                                            class="banner-lbl text-xl sm:text-2xl md:text-3xl">Planning Division &
                                            Planning
                                            Commission</h1>
                                        <p class="sddp-lbl text-sm sm:text-base md:text-lg">Integrated Digital Service
                                            Delivery Platform (IDSDP)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-1 w 1/5">
                                <div class="flex justify-end items-center" style="width: 100%; text-align: right;">
                                    <div style="display: inline-block; margin-right: 10px;vertical-align: text-bottom;">
                                        <img class="w-10 h-10 sm:w-14 sm:h-14"
                                             src="assets/images/avatars/user_profile_icon.png">
                                    </div>
                                    <div style="display: inline-block;vertical-align: super;">
                                        <p class="text-sm sm:text-base"
                                           style="text-align: left; font-weight: 500; color: #396b4e;">{{userName}}</p>
                                        <p class="text-sm sm:text-base"
                                           style="font-weight: 500; text-align: left">{{designation}}</p>
                                    </div>
                                    <div style="display: inline-block; vertical-align: super;">
                                        <user-menu></user-menu>
                                    </div>
                                </div>
                                &lt;!&ndash;<div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="25%">
                                        <img style="height: 60px;width: 60px;" src="assets/images/avatars/user_profile_icon.png">
                                    </div>
                                    <div fxFlex="60%" fxFlex.md="65%" fxFlex.sm="65%" fxFlex.xs="65%">
                                        <p class="profile-lbl1">{{userName}}</p>
                                        <p style="font-weight: 500">{{designation}}</p>
                                    </div>
                                    <div fxFlex="20%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="10%">
                                        <user-menu></user-menu>
                                    </div>
                                </div>&ndash;&gt;
                            </div>
                        </div>-->

                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                            <!--<div id="top-lbl" fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                                <div fxLayout="row wrap" fxLayoutAlign="start center">
                                    &lt;!&ndash;<div fxFlex="15%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                                        <img id="bd-logo" style="height: 70px;width: 70px;" src="assets/images/logos/bd_gov_logo.png">
                                    </div>
                                    <div fxFlex="85%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                                        <h1 style="padding-top: 5px;" class="banner-lbl">Planning Division & Planning Commission</h1>
                                        <p class="sddp-lbl">Integrated Digital Service Delivery Platform (IDSDP)</p>
                                    </div>&ndash;&gt;
                                    <div>
                                        <img id="bd-logo" style="height: 70px;width: 70px;"
                                             src="assets/images/logos/bd_gov_logo.png">
                                    </div>
                                    <div class="ml-4">
                                        <h1 style="padding-top: 5px;" class="banner-lbl">Planning Division & Planning
                                            Commission</h1>
                                        <p class="sddp-lbl">Integrated Digital Service Delivery Platform (IDSDP)</p>
                                    </div>
                                </div>
                            </div>-->

                            <!--MR customization-->
                            <div id="top-lbl" fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                                <div class="flex-auto sm:flex sm:justify-start sm:items-center">
                                    <!--<div fxFlex="15%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                                        <img id="bd-logo" style="height: 70px;width: 70px;" src="assets/images/logos/bd_gov_logo.png">
                                    </div>
                                    <div fxFlex="85%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                                        <h1 style="padding-top: 5px;" class="banner-lbl">Planning Division & Planning Commission</h1>
                                        <p class="sddp-lbl">Integrated Digital Service Delivery Platform (IDSDP)</p>
                                    </div>-->
                                    <div>
                                        <img id="bd-logo" style="height: 70px;width: 70px;"
                                             src="assets/images/logos/bd_gov_logo.png">
                                    </div>
                                    <div class="ml-4">
                                        <h1 style="padding-top: 5px;"
                                            class="banner-lbl text-xl sm:text-2xl md:text-3xl">Planning Division & Planning Commission</h1>
                                        <p class="sddp-lbl text-sm sm:text-base md:text-lg">Strengthening Digital Processing Of Projects (SDPP)</p>
                                    </div>
                                </div>
                            </div>
                            <!--<div fxFlex="20%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%"></div>-->
                            <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                                <div class="flex justify-end items-center mt-3 sm:mt-0"
                                     style="width: 100%; text-align: right;">
                                    <div style="display: inline-block; margin-right: 10px;vertical-align: text-bottom;">
                                        <img class="w-10 h-10 sm:w-14 sm:h-14"
                                             src="assets/images/avatars/user_profile_icon.png">
                                    </div>
                                    <div class="hidden sm:block" style="display: inline-block;vertical-align: super;">
                                        <p class="text-sm sm:text-base"
                                           style="text-align: left; font-weight: 500; color: #396b4e;">{{userName}}</p>
                                        <p class="text-sm sm:text-base"
                                           style="font-weight: 500; text-align: left">{{designation}}</p>
                                    </div>
                                    <div style="display: inline-block; vertical-align: super;">
                                        <user-menu></user-menu>
                                    </div>
                                </div>
                                <!--<div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div fxFlex="20%" fxFlex.md="25%" fxFlex.sm="25%" fxFlex.xs="25%">
                                        <img style="height: 60px;width: 60px;" src="assets/images/avatars/user_profile_icon.png">
                                    </div>
                                    <div fxFlex="60%" fxFlex.md="65%" fxFlex.sm="65%" fxFlex.xs="65%">
                                        <p class="profile-lbl1">{{userName}}</p>
                                        <p style="font-weight: 500">{{designation}}</p>
                                    </div>
                                    <div fxFlex="20%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="10%">
                                        <user-menu></user-menu>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--My customization-->
    <div class="w-full flex items-center justify-center mt-24 sm:mt-16 md:mt-6">
        <div class="w-1/4 h-1/4">
            <mat-card class="mat-elevation-z4" style="background: transparent;box-shadow: none;">
                <img mat-card-image src="/assets/images/landing-page/landingpage_left.png">
            </mat-card>
        </div>
        <div class="w-1/4 h-1/4">
            <a href="{{ ppsUrl }}?p={{sessionId}}"><img *ngIf="appAccess && appAccess?.includes('PPS')"
                                                        class="btn-component"
                                                        src="/assets/images/landing-page/pps_blue.png"></a>

            <img *ngIf="appAccess && !appAccess?.includes('PPS')" class="btn-component"
                 src="/assets/images/landing-page/pps_gray.png">

            <!--pps End-->


            <a href="{{ npmFrontendApp}}?p={{sessionId}}">
                <img *ngIf="appAccess && appAccess?.includes('NPM')" class="btn-component"
                     src="/assets/images/landing-page/npm_blue.png">
            </a>


            <img *ngIf="appAccess && !appAccess?.includes('NPM')" class="btn-component"
                 src="/assets/images/landing-page/npm_gray.png">

            <!--Npm End-->


            <!--<img *ngIf="appAccess && !appAccess?.includes('NPM')" class="btn-component"
                 src="/assets/images/landing-page/npm_gray.png">
            <a href="{{ npmFrontendApp }}"><img *ngIf="false" class="btn-component"
                                                src="/assets/images/landing-page/npm_blue.png"></a>
            <img *ngIf="false" class="btn-component" src="/assets/images/landing-page/npm_gray.png">-->

            <a id="g" (click)="sendAccessTokens()">
                <img *ngIf="appAccess && appAccess?.includes('PPS')" class="btn-component"
                     src="/assets/images/landing-page/gis_blue.png">
            </a>
            <img *ngIf="appAccess && !appAccess?.includes('PPS')" class="btn-component"
                 src="/assets/images/landing-page/gis_gray.png">

            <!--GIS End-->

            <a href="{{ rmsFrontendApp }}?p={{sessionId}}"><img *ngIf="appAccess && appAccess?.includes('SSRC')"
                                                                class="btn-component"
                                                                src="/assets/images/landing-page/rms_blue.png"></a>
            <img *ngIf="appAccess && !appAccess?.includes('SSRC')" class="btn-component"
                 src="/assets/images/landing-page/rms_gray.png">

            <!--SSRC End-->

            <a href="{{ commonServiceUrl}}?p={{sessionId}}"><img
                *ngIf="appAccess && appAccess?.includes('Common Service')"
                class="btn-component"
                src="/assets/images/landing-page/cs_blue.png"></a>
            <img *ngIf="appAccess && !appAccess?.includes('Common Service')" class="btn-component"
                 src="/assets/images/landing-page/cs_gray.png">
        </div>
    </div>
    <!--//My customization-->

    <!--<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="mt-6">
        <div fxFlex="25%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%"></div>
        <div class="hidden sm:block" fxFlex="25%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-card class="mat-elevation-z4" style="background: transparent;box-shadow: none;">
                <img mat-card-image src="/assets/images/landing-page/landingpage_left.png">
            </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <a href="{{ ppsUrl }}"><img *ngIf="appAccess && appAccess?.includes('PPS')" class="btn-component"
                                        src="/assets/images/landing-page/pps_blue.png"></a>
            <img *ngIf="appAccess && !appAccess?.includes('PPS')" class="btn-component"
                 src="/assets/images/landing-page/pps_gray.png">
            <a href="{{ npmFrontendApp }}"><img *ngIf="true" class="btn-component"
                                                src="/assets/images/landing-page/npm_blue.png"></a>
            <img *ngIf="false" class="btn-component" src="/assets/images/landing-page/npm_gray.png">
            <a href="#"><img *ngIf="appAccess && appAccess?.includes('GIS')" class="btn-component"
                             src="/assets/images/landing-page/gis_blue.png"></a>
            <img *ngIf="appAccess && !appAccess?.includes('GIS')" class="btn-component"
                 src="/assets/images/landing-page/gis_gray.png">
            <a href="{{ rmsFrontendApp }}"><img *ngIf="appAccess && appAccess?.includes('SSRC')" class="btn-component"
                                                src="/assets/images/landing-page/rms_blue.png"></a>
            <img *ngIf="appAccess && !appAccess?.includes('SSRC')" class="btn-component"
                 src="/assets/images/landing-page/rms_gray.png">
            <a href="{{ commonServiceUrl }}"><img *ngIf="appAccess && appAccess?.includes('Common Service')"
                                                  class="btn-component"
                                                  src="/assets/images/landing-page/cs_blue.png"></a>
            <img *ngIf="appAccess && !appAccess?.includes('Common Service')" class="btn-component"
                 src="/assets/images/landing-page/cs_gray.png">
        </div>
        <div fxFlex="25%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%"></div>
    </div>-->

    <!--    <div id="navigation-footer" class="flex flex-col flex-auto sm:justify-center min-w-0 ml-8 mr-8 mt-6 mb-2" style="width: 98%;bottom: 0;position:fixed;">
            <div class="w-full sm:w-auto">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%">
                        <h3 style="font-weight: 400;">Copyright <span>&copy;</span> 2021, Planning Division</h3>
                    </div>
                    <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%">
                        <img style="width: 80px;float: right" src="assets/images/logos/sdpp.png">
                    </div>
                </div>
            </div>
        </div>-->
    <div id="navigation-footer" fxLayout="row wrap" class=""
         style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: center space-between;
         align-items: center; width: 97% !important; position: absolute !important; bottom: 6px !important; left: 11px !important;">
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%">
            <img style="width: 220px" src="assets/images/logos/ibcs_akr_logo.png">
        </div>
        <div fxFlex="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="50%">
            <img style="width: 90px;float: right" src="assets/images/logos/sdpp.png">
        </div>
    </div>
</div>

