<!-- Header-->
<div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
        <!-- Header -->
        <div class="dark bg-card dark:border-b">
            <div
                class="flex flex-col w-full max-w-screen-xl">
                <div class="m-1">
                    <!-- Avatar and name -->
                    <div class="flex flex-auto items-center min-w-0">
                        <div class="flex flex-col min-w-0 ml-4">
                            <div
                                class="header-font-title font-semibold tracking-tight leading-7 md:leading-10 truncate">
                                <mat-icon class="headerMatIcon mr-1">post_add</mat-icon>  <span [innerHTML] = "title"></span>
                            </div>
                            <div class="flex items-center">
                                <div
                                    class="leading-5 truncate text-secondary">
                                    <span [innerHTML] = "subTitle"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Actions -->
                </div>
            </div>
        </div>
    </div>
</div>
