//.body {
//    width: 100%;
//    background-color: #FFFFFF;
//}

.ck-editor-header {
    background-color: #0d9488;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 10px;
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 31.5%;
    float: right;
}

.custom-image-icon {
   margin-left: -10px;
}

.custom-file-upload-div{
    width: 100%;
    position: absolute;
    margin-top: -25%;    
}
