table {
    border-radius: 25px;
}

th {
    background: #b8e0da !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

td, th {
    border: 1px solid #b3b3b3 !important;
}

tr:nth-child(even) {
    background-color: #dddddd !important;
}
