.OrganizationTbl{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.OrganizationTbl th, .OrganizationTbl td{
    border: 1px solid #CCC;
    // line-height: 38px;
    padding: 0px 4px;
}
.OrganizationTbl td{
    padding: 4px 7px;
}
.OrganizationTbl tr td:first-child{
    width: 40px !important;
}
ol li{
    list-style: auto !important;
    padding-left:4px !important;
}
ul li {
    list-style: disc !important;
    padding-left:4px !important;
}