th {
    background: #dcefec !important;
}

td, th {
    border: 1px solid #dddddd !important;
}

tr:nth-child(even) {
    background-color: #dddddd !important;
}

.card-background {
    //background: #e6ffe3 !important;
}

.float-right {
    float: right !important;
}

.btn-bg-color {
    background: none !important;
}
