table {
    width: 100%;

    th {
        font-size: small;
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF !important;
        text-align: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 3px;
    }

    td {
        text-align: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px;
    }
}

mat-form-field {
    width: 140px !important;
    font-size: 11px;
}

.required {
    color: red
}

.buttons {
    display: flex;
    align-items: center;
}
