//.forbidden{
//    //background: url('~assets/images/logo/403forbiddenerror.jpg') no-repeat center;
//    background: url('assets/images/logo/403forbiddenerror.jpg') no-repeat center;
//    background-size: 45% 60%;
//}

.redtext{
    text-align: center;
    padding: 1%;
    font-variant: all-small-caps;
    font-weight: bold;
    color: orangered;
    font-size: x-large;
}
