<div class="flex flex-col" style="width:100%;">
    <img src="assets/images/logo/403forbiddenerror.jpg"
         style="height: 40%;width: 45%;margin: 0 auto;margin-top: 40px;">
    <p style="text-align: center;margin-top: 25px;">
        <a [routerLink]="['/']">
            <button type="button" class="fuse-mat-button-large w-full" mat-flat-button class="btn btn-primary"
                  style="background-color: rgb(65, 98, 209);color: white;" >
                Back To Home
            </button>
        </a>
    </p>
    <div class="redtext">You are not supposed to be here</div>
</div>
