.spinner-position{

    position: fixed !important;
    bottom: 50% !important;
    right: 50%!important;
    //width: 35px !important;
    //height: 35px !important;
    border-radius: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    //font-size: 35px !important;
    //color: #1f1f1f !important;
    //text-decoration: none;
    ////opacity: 0;
    //pointer-events: none;
    z-index: 1;
    transition: all 0.4s !important;
}
