.body {
    width: 100%;
    padding: 20px;
    background-color: #FFFFFF;
}

.tables{
    border: darkgray;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.txt-left{
    text-align: left !important;
}

th{
    border: 1px solid rgb(250, 248, 248);
    background-color: #2D9588;
    color: #FFFFFF;
    padding: 4px;
    text-align: center;
}
td{
    border-right: 1px solid rgb(252, 248, 248);
   text-align: right;
    padding: 4px;
}
.cards{
    width: 100%;
    background-color: rgb(247, 247, 247);
    border-radius: 7px;
    margin-bottom: 20px;
}

tr:nth-child(odd){background-color: #d8d5d5}










