.boxInfo{
    border: 1px solid #CCC;
    padding: 4px;
    border-radius: 4px;
}
.feedbackTitle{
    font-weight: bold;
}

.border-r{
    border-right: 1px solid #CCC;
}
.border-b{
    border-bottom: 1px solid #CCC;
}