.body {
    width: 100%;
    padding: 20px;
    background-color: #FFFFFF;
}

.sub-item {
    margin: 0px 10px 5px 10px;
}

a {
    color: #1E96F7;
}

.ck-editor {
    border: 1px dotted #69B899;
    margin: 0px 10px 10px 10px;
}

.ckEditorHeader {
    margin: 0px 10px 0px 10px;
}
.header-title{
    font-weight: bold;
}
.exp-icon {
    color: white;
    cursor: pointer;
    float:right
}
.te18{
    font-size: 18px !important;
    font-weight: bold !important;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 3.5%;
    float: right;
}

.custom-image-icon {
   margin-left: -10px;
}

.custom-file-upload-div{
    width: 100%;
    position: absolute;
    margin-top: 0%;
}
