th {
    background: #b8e0da !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

td, th {
    border: 1px solid #b3b3b3 !important;
}

tr:nth-child(even) {
    background-color: #d9d9d9 !important;
}

tr:nth-child(odd) {
    background-color: #f2f2f2 !important;
}

.col-1 {
    width: 6%;
}

.col-2 {
    width: 42%;
}

.col-3 {
    width: 42%;
}

.col-4 {
    width: 10%;
}

.tbl-details th {
    background: none !important;
}

.title-table-width-15 {
    width: 15%;
}

.title-table-width-35 {
    width: 35%;
}

.publication {
    padding: 2px;
    cursor: pointer;
}

.editDeleteButton {
    float: right !important;
    background: none !important;
    border: none !important;
    padding: 0 !important;
}

.editMatIcon {
    color: #343a40 !important;
}

.deleteMatIcon {
    color: red !important;
}

.exp-icon {
    color: white;
    cursor: pointer;
    float:right
}

.OrganizationTbl{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.OrganizationTbl th, .OrganizationTbl td{
    border: 1px solid #CCC;
    line-height: 38px;
    padding: 0px 4px;
}
@media print {
    .displayNone {
        display: none;
    }
}
