<div class="width-100">
    <!-- Header -->
    <app-form-header [title]="'headerTitle' | translate" [subTitle]="'headerSubTitle' | translate"></app-form-header>

    <div *ngIf="spinner" class="flex items-center justify-center">
        <div style="border-top-color:transparent; position: absolute;z-index: 9999;"
            class="absolute top-1/2 left-1/2 w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin">
        </div>
    </div>


    <div *ngIf="spinner2" class="flex items-center justify-center">
        <div class="absolute z-40 top-40 animate-spin rounded-full h-32 w-32 border-b-2 border-gray-900"></div>
    </div>


    <!-- Main Start -->
    <div class="body m-5">


        <!-- CARD ONE-->
        <div class="width-100" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-label class="heading w-full">
                {{'FeedbackList' | translate}}
            </mat-label>
        </div>
        <mat-card class="tab-color">
            <div class="flex md:justify-end md:mr-3 mt-1 mb-3">

                <button class="px-3 mr-2 previousIcon" mat-flat-button color="accent" type="button"
                    (click)="goPrevious()">
                    <mat-icon *ngIf="previousIcon" class="mr-1">{{previousIcon}}</mat-icon>
                    {{'previous' | translate}}
                </button>

                <!--                <button class="px-3 mr-2 printBtn" mat-flat-button color="accent" type="button">-->
                <!--                    <mat-icon *ngIf="printIcon" class="mr-1">{{printIcon}}</mat-icon>-->
                <!--                    {{'print' | translate}}-->
                <!--                </button>-->

                <button [useExistingCss]="true" printTitle="Feedback List" class="px-3 mr-2 printBtn" mat-flat-button
                    color="accent" printSectionId="print" ngxPrint type="button">
                    <mat-icon *ngIf="printIcon" class="mr-1">{{printIcon}}</mat-icon>
                    {{'print' | translate}}
                </button>

                <button [disabled]="spinner2" class="px-3 mr-2 downloadBtn"  mat-flat-button
                    color="accent" (click)="download()" type="button">
                    <mat-icon *ngIf="downloadIcon" class="mr-1">{{downloadIcon}}</mat-icon>
                   {{'download' | translate}}
                </button>
            </div>
            <div id="print">
                <div class="w-full sm:w-auto md:w-full lg:w-full">

                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <div class="pb-2" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <mat-label fxFlex="30%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                                    <strong>{{'ResearcherTitle' | translate}} :</strong>
                                </mat-label>
                                <span fxFlex="70%" fxFlex.md="60%" fxFlex.sm="60%" fxFlex.xs="100%">
                                    {{proposal?.researchTitle}}
                                </span>
                            </div>
                        </div>

                        <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <div class="pb-2" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <mat-label fxFlex="30%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                                    <strong>{{'ResearcherName' | translate}} :</strong>
                                </mat-label>
                                <span fxFlex="70%" fxFlex.md="60%" fxFlex.sm="60%" fxFlex.xs="100%">
                                    {{proposal?.researcherProfilePersonalInfoDto?.userDto?.name}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <div class="pb-2" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <mat-label fxFlex="30%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                                    <strong>{{'Category' | translate}} :</strong>
                                </mat-label>
                                <span fxFlex="70%" fxFlex.md="60%" fxFlex.sm="60%" fxFlex.xs="100%">
                                    {{proposal?.researchCategoryType?.categoryName}}
                                </span>
                            </div>
                        </div>

                        <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <div class="pb-2" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <mat-label fxFlex="30%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                                    <strong>{{'Designation' | translate}} :</strong>
                                </mat-label>
                                <span fxFlex="70%" fxFlex.md="60%" fxFlex.sm="60%" fxFlex.xs="100%">
                                    {{proposal?.researcherProfilePersonalInfoDto?.userDto?.designation}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <div class="pb-2" fxLayout="row wrap" fxLayoutAlign="space-between center">
                                <mat-label fxFlex="30%" fxFlex.md="40%" fxFlex.sm="40%" fxFlex.xs="100%">
                                    <strong>{{'FiscalYear' | translate}} :</strong>
                                </mat-label>
                                <span fxFlex="70%" fxFlex.md="60%" fxFlex.sm="60%" fxFlex.xs="100%">
                                    {{proposal?.fiscalYear?.fiscalYear}}
                                </span>
                            </div>
                        </div>

                        <div fxFlex="50%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%"></div>
                    </div>
                </div>

                <div class="mt-2">
                    <table class="width-100">

                        <tr>
                            <th class="col-1">
                                {{'Sl' | translate}}
                            </th>
                            <th class="col-2">
                                {{'EvaluatorName/Feedback' | translate}}
                            </th>
                            <th class="col-3">
                                {{'ResearcherFeedback' | translate}}
                            </th>
                            <th class="col-4">
                                {{'Completed' | translate}}
                            </th>
                        </tr>

                        <tr *ngFor="let item of feedbackList; let i = index ">

                            <td class="col-1 text-align-centre">{{i + 1}}</td>

                            <td class="col-2">
                                <!--                            {{onShowEvaluator(item.stProfileOfExpertEvaluatorsId)}}<br />-->
                                {{item.expertEvaluatorResponseDto?.name}}<br />
                                {{'PageNo' | translate}}: {{item.pageNo1 ? item.pageNo1 : 0}}<br />
                                <span [innerHTML]="item.evaluatorFeedback"></span>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <p fxFlex="80%">{{'Date' | translate}}: {{item.createdOn}}</p>
                                    <button *ngIf="item.evaluatorAction" fxFlex="10%"
                                        class="displayNone editDeleteButton" (click)="onEditEvaluatorFeedback(item)">
                                        <mat-icon class="editMatIcon">edit</mat-icon>
                                    </button>
                                    <button *ngIf="item.evaluatorAction" fxFlex="10%" class="editDeleteButton"
                                        (click)="delete(item)">
                                        <mat-icon class="deleteMatIcon">delete</mat-icon>
                                    </button>
                                    <span *ngIf="!item.evaluatorAction" fxFlex="20%"></span>
                                </div>
                            </td>

                            <td class="col-3">
                                {{'PageNo' | translate}}: {{item.pageNo2 ? item.pageNo2 : 0}}<br />
                                <span [innerHTML]="item.researcherFeedback"></span>

                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <p fxFlex="80%">{{'Date' | translate}}: {{item.createdOn}}</p>
                                    <button *ngIf="item.researcherAction" fxFlex="10%"
                                        class="displayNone editDeleteButton" (click)="onEditResearcherFeedback(item)">
                                        <mat-icon class="editMatIcon">edit</mat-icon>
                                    </button>
                                    <button *ngIf="item.researcherAction" fxFlex="10%"
                                        class="displayNone editDeleteButton" (click)="delete(item)">
                                        <mat-icon class="deleteMatIcon">delete</mat-icon>
                                    </button>
                                    <span *ngIf="!item.researcherAction" fxFlex="20%"></span>
                                </div>
                            </td>
                            <td class="col-4 text-align-centre">
                                <mat-checkbox class="displayNone" [(ngModel)]="item.feedbackCompleted"
                                    [ngModelOptions]="{standalone: true}"
                                    (change)="onChangeFeedbackCompleted($event, item, i)"
                                    [disabled]="saveDisable || !item.completeAction">
                                </mat-checkbox>

                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <!--- Research Information -->
            <!--<div class="mt-6 font-semibold text-gray-700">
                <div class="tblTitle relative">
                    <mat-icon class="text-gray-900 absolute inset-1 flex items-center">perm_data_setting</mat-icon>
                    <div class="ml-7 text-gray-900">{{'researchInfo' | translate}}</div>
                </div>
                <mat-card>

                </mat-card>
            </div>-->
            <!--- /Research Information -->



            <br />

            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <mat-label class="p-2 sub-heading" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%">
                    {{'UploadDocument' | translate}}:
                    <span *ngIf="!canExpand" (click)="expand(true)">
                        <mat-icon class="exp-icon" matTooltip="{{'ClickToExpand' | translate}}"
                            matTooltipPosition="above">expand_more</mat-icon>
                    </span>
                    <span *ngIf="canExpand" (click)="expand(false)">
                        <mat-icon class="exp-icon" matTooltip="{{'ClickToCollapse' | translate}}"
                            matTooltipPosition="above">expand_less</mat-icon>
                    </span>
                </mat-label>
            </div>

            <div *ngIf="canExpand">
                <br />

                <div class="flex-auto mt-6 body-color">

                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <mat-label class="heading w-full">
                            {{'UploadFileList' | translate}}
                        </mat-label>
                    </div>

                    <mat-card>
                        <form #f="ngForm">

                            <!-- Row 1-->
                            <div class="md:flex">
                                <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                                    <span class="text-gray-700">
                                        {{'DocumentType' | translate}}<strong class="required">*</strong>
                                    </span>
                                </div>
                                <div class="w-full sm:w-auto md:w-30 lg:w-30">
                                    <mat-form-field class="w-full">

                                        <mat-select [(ngModel)]="uploadDoc.stDocumentTypeId"
                                            [ngModelOptions]="{standalone: true}" required #stDocumentTypeId="ngModel">
                                            <mat-option *ngFor="let i of documentTypeList" [value]="i.id">{{i.typeName}}
                                            </mat-option>
                                        </mat-select>

                                        <!-- <mat-error>Document Type is required!</mat-error> -->
                                        <mat-hint
                                            *ngIf="(stDocumentTypeId.touched || f.submitted) && stDocumentTypeId.errors?.required"
                                            style="color: crimson !important;">
                                            {{'Document Type is required!' | translate}}
                                        </mat-hint>

                                    </mat-form-field>
                                </div>

                                <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                                    <span class="text-gray-700">
                                        {{'DocName' | translate}}<strong class="required">*</strong>
                                    </span>
                                </div>

                                <div class="w-full sm:w-auto md:w-30 lg:w-30">
                                    <mat-form-field class="w-full">
                                        <input matInput [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="uploadDoc.docName" required #docName="ngModel">
                                        <!-- <mat-error>Document Name is required!</mat-error> -->
                                        <mat-hint
                                            *ngIf="(docName.touched || f.submitted) && docName.errors?.required"
                                            style="color: crimson !important;">
                                            {{'Document Name is required!' | translate}}
                                        </mat-hint>
                                    </mat-form-field>
                                </div>

                            </div>
                            <!-- Row 1-->

                            <!-- Row 2-->
                            <div class="md:flex">

                                <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                                    <span class="text-gray-700">
                                        {{'BriefOnDocument' | translate}}<strong class="required">*</strong>
                                    </span>
                                </div>

                                <div class="w-full sm:w-auto md:w-80 lg:w-80">
                                    <ckeditor [(ngModel)]="uploadDoc.briefOnDocument"
                                        [ngModelOptions]="{standalone: true}" [config]="mediumEditorConfig" fxFlex="100%" fxFlex.md="100%"
                                        fxFlex.sm="100%" fxFlex.xs="100%" required #briefOnDocument="ngModel">

                                        <mat-hint
                                            *ngIf="(briefOnDocument.touched || f.submitted) && briefOnDocument.errors?.required"
                                            style="color: crimson !important;">
                                            {{'Brief On Document is required!' | translate}}
                                        </mat-hint>

                                    </ckeditor>
                                </div>

                            </div>
                            <br />
                            <!-- Row 2-->

                            <!-- Row 3-->
                            <div class="md:flex">

                                <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                                    <span class="text-gray-700">
                                        {{'FileName' | translate}}<strong class="required">*</strong>
                                    </span>
                                </div>

                                <div class="w-full sm:w-auto md:w-30 lg:w-30">
                                    <mat-form-field class="w-full" id="fileName">
                                        {{uploadDoc?.fileName}}
                                        <ngx-mat-file-input [accept]="'.pdf'" (change)="uploadFile($event.target.files)"
                                            required>
                                        </ngx-mat-file-input>
                                        <mat-icon matSuffix>folder</mat-icon>
                                        <mat-error>File is required!</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                            <!-- Row 3-->

                            <!-- button area -->
                            <div class="flex justify-end mt-3 mr-2">
                                <button mat-flat-button type="submit" (click)="onSaveFileDoc(f)" color="primary"
                                    class="px-3 mr-2 toggle-sidebar-folded">
                                    <!-- <mat-icon class="mr-1">saveIcon</mat-icon> -->
                                    <span>{{'save' | translate }}</span>
                                </button>
                            </div>
                            <!-- button area -->

                        </form>
                    </mat-card>
                </div>


                <div class="flex-auto mt-6 body-color">

                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <mat-label class="heading w-full">
                            {{'UploadFileList' | translate}}
                        </mat-label>
                    </div>

                    <mat-card>
                        <table class="OrganizationTbl">
                            <tr>
                                <th class="text-alignment text-center" style="width: 3% !important;">
                                    {{'SL' | translate}}
                                </th>
                                <th class="text-alignment" style="width: 10% !important;">
                                    {{'DocumentType' | translate}}
                                </th>
                                <th class="text-alignment" style="width: 10% !important;">
                                    {{'DocName' | translate}}
                                </th>
                                <th class="text-alignment" style="width: 65% !important;">
                                    {{'BriefOnDocument' | translate}}
                                </th>
                                <th class="text-alignment" style="width: 10% !important;">
                                    {{'UploadedDate' | translate}}
                                </th>
                                <th class="text-alignment" style="width: 2% !important;">
                                    {{'Download'| translate}}
                                </th>
                            </tr>

                            <tr *ngFor="let item of docFileList; let i = index">
                                <td class="text-center">{{(i + 1)}}</td>
                                <td>{{showDocumentTypeName(item.stDocumentTypeId)}}</td>
                                <td>{{ item.docName }}</td>
                                <td>
                                    <p [innerHTML]="item?.briefOnDocument"></p>
                                </td>
                                <td>
                                    {{item['createdOn']}}
                                </td>
                                <td style="text-align: center;">
                                    <button (click)="downloadFile(item)" mat-icon-button matTooltip="Download"
                                        fxHide.lt-lg>
                                        <mat-icon color="warn">get_app</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </mat-card>
                </div>
            </div>

        </mat-card>
    </div>
    <!-- Main End -->
</div>
