#profileOuterBody {
    background: url('/assets/images/logos/div_outer.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}

.tbl-details{
    width: 100%;
    border-collapse: collapse;
}
.tbl-details th{
    font-weight: bold;
    padding: 5px;
    text-align: left;
    background:none !important;
}
.tbl-details td{
    // text-align: justify;
}
.tbl-details th, .tbl-details td{
    border: 1px solid #CCC;
    padding: 8px;
}
.educationTbl th{
    background: #6fada2 !important;
    color: #FFFFFF !important;
}
.AwardLetter{
    border-collapse: collapse;
    width: 100%;
}
.AwardLetter td{
    // border: 1px solid #CCC;
}
.AwardLetter td:nth-child(1){
    width: 120px;
    font-weight: 500;
}
.AwardLetter td:nth-child(3){
    width: 150px;
    font-weight: 500;
}

/*
table , td, th {
    border: 1px solid #595959;
    border-collapse: collapse;
}
td, th {
    padding: 3px;
    width: 30px;
    height: 25px;
}
th {
    background: #f0e6cc;
}
.even {
    background: #fbf8f0;
}
.odd {
    background: #fefcf9;
}
*/

table.info-table {
    th {
        background: none !important;
        vertical-align: top;
    }

    td{
        vertical-align: top;
    }
}

table , td, th {
    width: 100%;
    //border: 1px solid #595959;
    border-collapse: collapse;
}
td, th {
    padding: 3px;
    width: 30px;
    height: 25px;
}
th {
    background: #f0e6cc;
}
.even {
    background: #fbf8f0;
}
.odd {
    background: #fefcf9;
}
