table {
    width: 100%;

    th {
        font-size: small;
        font-weight: bold;
        background-color: #0d9488;
    }
}

.div1 {
    background-color: darkslateblue;
    padding: 10px;
}

.header1 {
    color: #FFFFFF
}
.required{
    color: red
}

.mat-flat-button.mat-back {
    color: #f0fff3;
    background-color: black;
}

.tab-color {
    background-color: #F0FDF4 !important;
}
