table {
    width: 100%;

    th {
        font-size: small;
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF !important;
        text-align: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 3px;
    }

    td {
        text-align: center;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        padding: 5px;
    }
}

.header1 {
    color: #000000;
}

.required {
    color: red
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
.amount-value {
    text-align: right !important;
    padding-right: 4px !important;
}
