table, th, td {
    border: 1px solid #CCC;
    border-collapse: collapse;
    height:35px;
}
table th{
    color: #FFF !important;
}

.font-size-10px {
    font-size: 10px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.number-input-field {
    text-align: center;
    width: 80px !important;
    border-radius: 5px;
    height: 25px;
    border-color: #ccc;
}

.text-input-field {
    width: 120px !important;
    border-radius: 5px;
    height: 25px;
    border-color: #ccc;
    text-align: center;
}

.number-input-field-two {
    border: 1px solid #CCC;
    text-align: right;
    width: 50px !important;
    border-radius: 5px;
    height: 25px;
    border-color: #ccc;
}
.inputBorder{
    border: 1px solid #CCC !important;
}
.totalSumValueRow {    
    background-color: #61706e;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: #FFF;
}
.grantTotalNumber{
     @apply bg-red-300 font-bold text-white;
}
.textLeft td:nth-child(1){
    @apply pl-3 text-left;
}
.showInfor{
    background: radial-gradient(circle, #2e98ad, #7d9fce, #e7e9ec, #0a3bb8);
    border-radius: 86%;
    border: 1px solid #CCC;
    padding: 10px 14px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}
.showInfor:hover{
    background: radial-gradient(circle, #0a3bb8, #e7e9ec, #7d9fce, #2e98ad);
    color:#333;
}

.textRight td:nth-child(1){
    @apply pr-3 text-right;
}
.modalTbl td, .modalTbl th{
    padding: 0px 6px;
}