.RevenueTbl {
    // width: 150%;
    border-collapse: collapse;
    display: inline-block;
    vertical-align: top !important;
}
:host ::ng-deep .mat-horizontal-content-container{
    padding:0 !important;
}
.card-bg-color {
    background: #f0fdf4;
}
.RevenueTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}
.RevenueTbl tr:nth-child(odd) {
    background-color: #ffffff;
}

.RevenueTbl th {
    text-align: center;
    background: #0d9488 !important;
    color: #ffffff;
}

.RevenueTbl tr.text-center td,
.RevenueTbl td.text-center {
    text-align: center;
}

.RevenueTbl th,
.RevenueTbl td {
    border: 1px solid #ccc;
    width: 40px;
}

.RevenueTbl td {
    vertical-align: top !important;
}
// .RevenueTbl td:nth-child(1) {
//     vertical-align: middle !important;
// }
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
.field-size-right,
.fiscal-year-field-size {
    padding: 0px !important;
    margin: 1.5px !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 34px;
    background: #ffffff;
}

.field-size-right {
    text-align: right;
    width: 70px !important;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.field-size-left,
.fiscal-year-field-size {
    padding: 0px !important;
    margin: 1.5px !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 34px;
    background: #ffffff;
}
.field-size-left {
    text-align: left;
    width: 70px !important;
}

// scrollbar
.wrapper {
    border: 1px solid #ddd;
    width: 100%;
    // height: 500px;
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px 10px 10px
}
.readOnly {
    background-color: #e4e4e4 !important;
}
.RevenueTbl {
    th,
    thead tr:nth-child(5) td {
        text-align: center;
        // position: sticky;
        z-index: 999999 !important;
    }

    thead tr:nth-child(1) th {
        top: 0px;
    }

    thead tr:nth-child(2) th {
        top: 40px;
    }

    thead tr:nth-child(3) th {
        top: 64px;
    }

    thead tr:nth-child(4) th {
        top: 88px;
    }

    thead tr:nth-child(5) td {
        top: 112px;
        background: #e8f1eb;
        color: #000000;
        font-weight: bold;
    }
}

//.RevenueTbl {
//    thead tr{
//        top: 0;
//        position: sticky;
//        //z-index: 50;
//    }
//
//}

.field-size {
    width: 70px !important;
}

.fiscal-year-field-size {
    width: 50% !important;
    background: #FFFFFF;

}

.rev-description{
    width: 200px;
    text-align: left;
    padding: 0px !important;
    margin: 1.5px !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 34px;
    background: #ffffff;
}

.text-border {
    border: 1px solid #cccccc;
    border-radius: 6px;
    height: 40px;
    margin-bottom:14px;
    text-overflow: ellipsis;
    overflow: hidden;
}