.example-container {
    min-height: 293px;
    overflow: auto;
}

table {
    width: 100%;
}
.cardList {
    display: flex;
    flex-direction: column;
}

/* Row Gap */
.cardList > *:not(:last-child) {
    margin-bottom: 32px;
}

.training-inst-status {
    color: white;
    font-weight: 800;
    height: 50px;
    width: 50px;
}

#profileOuterBody {
    background: url('/assets/images/logos/div_outer.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}

#SDGs_0{ background: #E3493B; }
#SDGs_1{ background: #DCA63A; }
#SDGs_2{ background: #5FA145; }
#SDGs_3{ background: #CA402E; }
#SDGs_4{ background: #E3482F; }
#SDGs_5{ background: #5FC0E4; }
#SDGs_6{ background: #F7C411; }
#SDGs_7{ background: #A43643; }
#SDGs_8{ background: #E6652D; }
#SDGs_9{ background: #E25066; }
#SDGs_10{ background: #EE9B24; }
#SDGs_11{ background: #B58811; }
#SDGs_12{ background: #497F46; }
#SDGs_13{ background: #409DE5; }
#SDGs_14{ background: #70BC47; }
#SDGs_15{ background: #2A6C9B; }
#SDGs_16{ background: #1B496A; }

