.tbl-details{
    width: 100%;
    border-collapse: collapse;
}
.tbl-details th{
    font-weight: bold;
    padding: 5px;
    text-align: left;
    background:none !important;
}
.tbl-details td{
    // text-align: justify;
}
.tbl-details th, .tbl-details td{
    // border: 1px solid #CCC;
    padding: 8px;
}
.educationTbl th{
    background: #6fada2 !important;
    color: #FFFFFF !important;
}
.profileBg{
    background: url('/assets/images/profile_bg.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}
table.tbl-files{
    width: 100%;
    border-collapse: collapse;
    th, td{
        border: 1px solid #CCC;
        padding:0px 5px;
    }
    tr td:nth-child(1) {
        width: auto;
    }
    tr td:nth-child(2) {
        width: 70%;
    }
}
table.party-tbl{
    width: 100%;
    border-collapse: collapse;
    th, td{
        border: 1px solid #CCC;
        padding:0px 6px;
        line-height: 28px;
    }
}

.bg-card{
    background-color: #F0FDF4 !important;
}

@media print {
    .displayNone {
        display: none;
    }
}
