table, th, td {
    border: 1px solid #CCC;
    border-collapse: collapse;
    height:35px;
}

.mat-select-field {
    border: 1px solid #CCC;
    //width: 120px !important;
}

.font-size-10px {
    font-size: 10px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.number-input-field {
    text-align: center;
    width: 80px !important;
    border-radius: 5px;
    height: 25px;
    border-color: #ccc;
}

.text-input-field {
    width: 120px !important;
    border-radius: 5px;
    height: 25px;
    border-color: #ccc;
    text-align: center;
}

.number-input-field-two {
    border: 1px solid #CCC;
    text-align: right;
    width: 50px !important;
    border-radius: 5px;
    height: 25px;
    border-color: #ccc;
}
.inputBorder{
    border: 1px solid #CCC !important;
}
.totalSumValueRow {    
    background-color: #61706e;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: #FFF;
}
.grantTotalNumber{
     @apply bg-red-300 font-bold text-white;
}
.textLeft td:nth-child(1){
    @apply pl-3 text-left;
}
.textRight td:nth-child(1){
    @apply pr-3 text-right;
}