.sign-box {
    border: 2px solid gray;
    // width: 200px;
    // height: 100px;
    // float: right;
}

.table-inside tr,
.table-inside td {
    border: 0px solid gray !important;
}

.table-ins tr,
.table-ins td {
    border: 0px solid gray !important;
    background-color: transparent !important;
}

.table-inside th {
    background-color: white !important;
    height: 30px;
}

.pic-box {
    border: 2px solid gray;
    height: 200px;
}

.outerDiv {
    background: url('/assets/images/profile_bg.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}

.contentDiv {
    margin: 0 auto;
    background-color: white;
    height: 100%;
    max-width: 1040px;
}

.tbl-details th {
    background-color: none !important;
}

.personalInfoTbl {
    td:nth-child(1) {}
}

.researchInfo {
    width: 100%;
    td {
        border: 1px solid #CCC;
        padding: 3px;
    }
    th {
        border: 1px solid #CCC;
        background-color: #d8d8d8 !important;
    }
}

.publication {
    padding: 2px;
    cursor: pointer;
}

.tblTitle {
    border: 1px solid #90cec5;
    padding: 3px;
    background-color: #90cec5 !important;
}

.grantTotal td {
    background-color: #f6f7c6;
}

.editButton {
    border: 1px solid;
    width: 108px;
    padding: 3px;
    background: #4b60bd;
    text-align: center;
    border: 1px solid #4b60bd;
    border-radius: 4px;
}

table.researchInfo tr:nth-child(odd) td {
    background: #f7f5f5;
}

table.researchInfo tr:nth-child(even) td {
    background: #ffffff;
}

// .pi th {
//     height: 80px;
// }