<div id="loginPage" class="w-full pr-4 pl-4">

    <div id="topImageWrap" class="top-image-wrapperX" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="33%">
            <mat-card class="mat-elevation-z4" style="background: transparent;box-shadow: none;">
                <img mat-card-image style="height: 65px;width: 100px" src="assets/images/logos/suborno-joyonto-logo.png">
            </mat-card>
        </div>
        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="33%">
            <mat-card class="mat-elevation-z4" style="background: transparent;box-shadow: none;">
                <img mat-card-image style="height: 65px;width: 65px;margin: 0 auto;" src="assets/images/logos/bd_gov_logo.png">
            </mat-card>
        </div>
        <div fxFlex="33%" fxFlex.md="33%" fxFlex.sm="33%" fxFlex.xs="33%">
            <mat-card class="mat-elevation-z4" style="background: transparent;box-shadow: none;">
                <img mat-card-image style="height: 65px;width: 80px;float: right" src="assets/images/logos/mujib_100_logo.png">
            </mat-card>
        </div>
    </div>

    <div class="text-center md:mt-25 pl-4 pr-4" >
        <h1 class="banner-lbl">Planning Division & Planning Commission</h1>
        <p class="sddp-lbl">Strengthening Digital Processing Of Projects (SDPP)</p>
<!--        <div class="font-bold text-2xl text-yellow-700">Social Science Research Council (SSRC). Research Management System (RMS)</div>-->

        <div class="font-bold text-2xl text-yellow-700">Research Management System (RMS). <span style="color:#3e97d7 ">Social Science Research Council (SSRC).</span></div>
    </div>

    <div class="w-full sm:w-auto px-4" style="user-select: none">
        <div class="flex justify-center">

            <div class="mt-6 body-color w-full md:w-2/5">
                <mat-card class="tab-color">
                    <div class="text-center font-bold text-lg text-gray-900 mb-3">Training Institute Login Form</div>
                    <!-- Alert -->
                    <fuse-alert
                        class="mt-8 -mb-4"
                        *ngIf="showAlert"
                        [appearance]="'outline'"
                        [showIcon]="false"
                        [type]="alert.type"
                        [@shake]="alert.type === 'error'">
                        {{alert.message}}
                    </fuse-alert>
                    <form #signInNgForm="ngForm" [formGroup]="signInForm">

                        <div class="md:flex">

                            <div class="w-full sm:w-auto md:w-100/100 lg:w-100/100 md:text-left md:pt-3">
                                <mat-form-field class="w-full">
                                    <mat-label>Email/Phone</mat-label>
                                    <input id="email" matInput placeholder="Email/Mobile No." formControlName="email">
                                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                                    <mat-error *ngIf="signInForm.get('email').hasError('required')">
                                        Email  or phone number is required
                                    </mat-error>
                                    <mat-error *ngIf="signInForm.get('email').hasError('email')">
                                        Please enter a valid email address or phone number
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="md:flex">
                            <div class="w-full md:w-100/100 lg:w-100/100 sm:w-auto md:pt-3">
                                <mat-form-field class="w-full fuse-mat-dense flex-auto">
                                    <mat-label>Password</mat-label>
                                    <input id="password" matInput type="password" placeholder="password"
                                           formControlName="password" #passwordField>
                                    <button mat-icon-button type="button"
                                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                            matSuffix>
                                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                                  [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                                  [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                    </button>
                                    <mat-error *ngIf="signInForm.get('password').hasError('required')">
                                        Password is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-2">
                            <div class="text-green-600 cursor-pointer ">Forgot Password?</div>
                            <div>&nbsp;</div>
                            <div>
                                <button type="button" (click)="tiSignUp()" class="mt-1 px-3" mat-flat-button [color]="'primary'" style="border-radius: 5px;">
                                    <mat-icon matSuffix class="secondary-text">person_add_alt</mat-icon>
                                    &nbsp; Sign Up
                                </button>
                            </div>
                            <div>
                                <div class="flex justify-end">
                                    <button class="mt-2 px-3" mat-flat-button [color]="'primary'" [disabled]="signInForm.disabled"
                                            (click)="signIn()" style="background: #4b60bd;border-radius: 5px;">
                                        <mat-icon matSuffix class="secondary-text">person</mat-icon>
                                        <span *ngIf="!signInForm.disabled">&nbsp; Login</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-2 mt-10 mb-4">
            <div>
                <img style="width: 220px" src="assets/images/logos/ibcs_akr_logo.png">
            </div>

            <div class="flex justify-end">
                <img style="width: 90px;float: right" src="assets/images/logos/sdpp.png">
            </div>
        </div>

    </div>
</div>
