<!-- body -->
<div class="body">
    <!--============================== transaction spinner ===================-->
    <div *ngIf="spinner">
        <app-common-loader-spinner></app-common-loader-spinner>
    </div>
    <!--============================== // transaction spinner ===================-->
    <form [formGroup]="formGroup" name="formGroup">
        <div *ngIf="isParipatra2016" class="sub-heading">
            <p>{{'EI_24.0' | translate}}</p>
        </div>
        <div *ngIf="!isParipatra2016" class="sub-heading">
            <p>{{'EI_24.0_22' | translate}}</p>
        </div>

        <mat-card>
            <div class="ck-editor">
                <div class="sub-heading">
                    <p>
                        <span *ngIf="isParipatra2016">{{'EI_24.1' | translate}}</span>
                        <span *ngIf="!isParipatra2016">{{'EI_24.1_22' | translate}}</span>
                        <span *ngIf="!editor1" (click)="toggleShow1()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                matTooltipPosition="above">expand_more</mat-icon>
                        </span>
                        <span *ngIf="editor1" (click)="toggleShow1()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                matTooltipPosition="above">expand_less</mat-icon>
                        </span>

                        <span style="float: right">
                            <label for="file-upload0">
                                <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                    matTooltipPosition="above">image</mat-icon>
                            </label>
                            <input #file0 type="file" accept='image/*'
                                (change)="uploadImageAsBase64(file0.files,'otherProjectInstallations')"
                                id="file-upload0" />
                        </span>
                    </p>
                </div>
                <div *ngIf="editor1" style="position: relative;">
                    <ckeditor [config]="mediumEditorConfig" formControlName="otherProjectInstallations">
                    </ckeditor>
                </div>
            </div>
            <br>
            <div class="ck-editor">
                <div class="sub-heading">
                    <p>
                        <span *ngIf="isParipatra2016">{{'EI_24.2' | translate}}</span>
                        <span *ngIf="!isParipatra2016">{{'EI_24.2_22' | translate}}</span>
                        <span *ngIf="!editor2" (click)="toggleShow2()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                matTooltipPosition="above">expand_more</mat-icon>
                        </span>
                        <span *ngIf="editor2" (click)="toggleShow2()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                matTooltipPosition="above">expand_less</mat-icon>
                        </span>
                        <span style="float: right">
                            <label for="file-upload1">
                                <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                    matTooltipPosition="above">image</mat-icon>
                            </label>
                            <input #file1 type="file" accept='image/*'
                                (change)="uploadImageAsBase64(file1.files,'envSustainabilityLand')" id="file-upload1" />
                        </span>
                    </p>
                </div>
                <div *ngIf="editor2" style="position: relative;">
                    <ckeditor [config]="mediumEditorConfig" formControlName="envSustainabilityLand">
                    </ckeditor>
                </div>
            </div>
            <br>
            <div class="ck-editor">
                <div class="sub-heading">
                    <p>
                        <span *ngIf="isParipatra2016">{{'EI_24.3' | translate}}</span>
                        <span *ngIf="!isParipatra2016">{{'EI_24.3_22' | translate}} </span>
                        &nbsp;&nbsp;
                        <a (click)="navigateToPILS()" class="btn btn-default btn-lg active" style="color: #fff;" role="button">PLIS/CCM Analysis</a>

                        <span *ngIf="!editor3" (click)="toggleShow3()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                matTooltipPosition="above">expand_more</mat-icon>
                        </span>
                        <span *ngIf="editor3" (click)="toggleShow3()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                matTooltipPosition="above">expand_less</mat-icon>
                        </span>

                        <span style="float: right">
                            <label for="file-upload1">
                                <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                    matTooltipPosition="above">image</mat-icon>
                            </label>
                            <input #file1 type="file" accept='image/*'
                                (change)="uploadImageAsBase64(file1.files,'futureDisasterManagement')"
                                id="file-upload1" />
                        </span>
                    </p>
                </div>
                <div *ngIf="editor3" style="position: relative;">
                    <ckeditor [config]="mediumEditorConfig" formControlName="futureDisasterManagement">
                    </ckeditor>
                </div>
            </div>
            <br>
            <div class="ck-editor">
                <div class="sub-heading">
                    <p>
                        <span *ngIf="isParipatra2016">{{'EI_24.4' | translate}}</span>
                        <span *ngIf="!isParipatra2016">{{'EI_24.4_22' | translate}}</span>
                        <span *ngIf="!editor4" (click)="toggleShow4()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                matTooltipPosition="above">expand_more</mat-icon>
                        </span>
                        <span *ngIf="editor4" (click)="toggleShow4()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                matTooltipPosition="above">expand_less</mat-icon>
                        </span>

                        <span style="float: right">
                            <label for="file-upload3">
                                <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                    matTooltipPosition="above">image</mat-icon>
                            </label>
                            <input #file3 type="file" accept='image/*'
                                (change)="uploadImageAsBase64(file3.files,'genderDisabilityGroups')"
                                id="file-upload3" />
                        </span>
                    </p>
                </div>
                <div *ngIf="editor4" style="position: relative;">
                    <ckeditor [config]="mediumEditorConfig" formControlName="genderDisabilityGroups">
                    </ckeditor>
                </div>
            </div>
            <br>
            <div class="ck-editor">
                <div class="sub-heading">
                    <p>
                        <span *ngIf="isParipatra2016">{{'EI_24.5' | translate}}</span>
                        <span *ngIf="!isParipatra2016">{{'EI_24.5_22' | translate}}</span>
                        <span *ngIf="!editor5" (click)="toggleShow5()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                matTooltipPosition="above">expand_more</mat-icon>
                        </span>
                        <span *ngIf="editor5" (click)="toggleShow5()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                matTooltipPosition="above">expand_less</mat-icon>
                        </span>
                        <span style="float: right">
                            <label for="file-upload5">
                                <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                    matTooltipPosition="above">image</mat-icon>
                            </label>
                            <input #file5 type="file" accept='image/*'
                                (change)="uploadImageAsBase64(file5.files,'employment')" id="file-upload5" />
                        </span>
                    </p>
                </div>
                <div *ngIf="editor5" style="position: relative;">
                    <ckeditor [config]="mediumEditorConfig" formControlName="employment">
                    </ckeditor>
                </div>
            </div>
            <br>
            <div class="ck-editor">
                <div class="sub-heading">
                    <p>
                        <span *ngIf="isParipatra2016">{{'EI_24.6' | translate}}</span>
                        <span *ngIf="!isParipatra2016">{{'EI_24.6_22' | translate}}</span>
                        <span *ngIf="!editor6" (click)="toggleShow6()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                matTooltipPosition="above">expand_more</mat-icon>
                        </span>
                        <span *ngIf="editor6" (click)="toggleShow6()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                matTooltipPosition="above">expand_less</mat-icon>
                        </span>

                        <span style="float: right">
                            <label for="file-upload7">
                                <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                    matTooltipPosition="above">image</mat-icon>
                            </label>
                            <input #file7 type="file" accept='image/*'
                                (change)="uploadImageAsBase64(file7.files,'provertySituation')" id="file-upload7" />
                        </span>
                    </p>
                </div>
                <div *ngIf="editor6" style="position: relative;">
                    <ckeditor [config]="mediumEditorConfig" formControlName="provertySituation">
                    </ckeditor>
                </div>
            </div>
            <br>
            <div class="ck-editor">
                <div class="sub-heading">
                    <p>
                        <span *ngIf="isParipatra2016">{{'EI_24.7' | translate}}</span>
                        <span *ngIf="!isParipatra2016">{{'EI_24.7_22' | translate}}</span>
                        <span *ngIf="!editor7" (click)="toggleShow7()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                matTooltipPosition="above">expand_more</mat-icon>
                        </span>
                        <span *ngIf="editor7" (click)="toggleShow7()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                matTooltipPosition="above">expand_less</mat-icon>
                        </span>

                        <span style="float: right">
                            <label for="file-upload8">
                                <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                    matTooltipPosition="above">image</mat-icon>
                            </label>
                            <input #file8 type="file" accept='image/*'
                                (change)="uploadImageAsBase64(file8.files,'organizationalArrangement')"
                                id="file-upload8" />
                        </span>
                    </p>
                </div>
                <div *ngIf="editor7" style="position: relative;">
                    <ckeditor [config]="mediumEditorConfig" formControlName="organizationalArrangement">
                    </ckeditor>
                </div>
            </div>
            <br>
            <div class="ck-editor">
                <div class="sub-heading">
                    <p>
                        <span *ngIf="isParipatra2016">{{'EI_24.8' | translate}}</span>
                        <span *ngIf="!isParipatra2016">{{'EI_24.8_22' | translate}}</span>
                        <span *ngIf="!editor8" (click)="toggleShow8()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                matTooltipPosition="above">expand_more</mat-icon>
                        </span>
                        <span *ngIf="editor8" (click)="toggleShow8()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                matTooltipPosition="above">expand_less</mat-icon>
                        </span>
                        <span style="float: right">
                            <label for="file-upload9">
                                <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                    matTooltipPosition="above">image</mat-icon>
                            </label>
                            <input #file9 type="file" accept='image/*'
                                (change)="uploadImageAsBase64(file9.files,'institutionalProductivity')"
                                id="file-upload9" />
                        </span>
                    </p>
                </div>
                <div *ngIf="editor8" style="position: relative;">
                    <ckeditor [config]="mediumEditorConfig" formControlName="institutionalProductivity">
                    </ckeditor>
                </div>
            </div>
            <br>
            <div class="ck-editor">
                <div class="sub-heading">
                    <p>
                        <span *ngIf="isParipatra2016">{{'EI_24.9' | translate}}</span>
                        <span *ngIf="!isParipatra2016">{{'EI_24.9_22' | translate}}</span>
                        <span *ngIf="!editor9" (click)="toggleShow9()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                matTooltipPosition="above">expand_more</mat-icon>
                        </span>
                        <span *ngIf="editor9" (click)="toggleShow9()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                matTooltipPosition="above">expand_less</mat-icon>
                        </span>

                        <span style="float: right">
                            <label for="file-upload10">
                                <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                    matTooltipPosition="above">image</mat-icon>
                            </label>
                            <input #file10 type="file" accept='image/*'
                                (change)="uploadImageAsBase64(file10.files,'regionalDisparity')" id="file-upload10" />
                        </span>
                    </p>
                </div>
                <div *ngIf="editor9" style="position: relative;">
                    <ckeditor [config]="mediumEditorConfig" formControlName="regionalDisparity">
                    </ckeditor>
                </div>
            </div>
            <br>
            <div class="ck-editor">
                <div class="sub-heading">
                    <p>
                        <span *ngIf="isParipatra2016">{{'EI_24.10' | translate}}</span>
                        <span *ngIf="!isParipatra2016">{{'EI_24.10_22' | translate}}</span>
                        <span *ngIf="!editor10" (click)="toggleShow10()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                matTooltipPosition="above">expand_more</mat-icon>
                        </span>
                        <span *ngIf="editor10" (click)="toggleShow10()">
                            <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                matTooltipPosition="above">expand_less</mat-icon>
                        </span>

                        <span style="float: right">
                            <label for="file-upload11">
                                <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                    matTooltipPosition="above">image</mat-icon>
                            </label>
                            <input #file11 type="file" accept='image/*'
                                (change)="uploadImageAsBase64(file11.files,'population')" id="file-upload11" />
                        </span>
                    </p>
                </div>
                <div *ngIf="editor10" style="position: relative;">
                    <ckeditor [config]="mediumEditorConfig" formControlName="population">
                    </ckeditor>
                </div>
            </div>
        </mat-card>
        <br>
        <div *ngIf="!isParipatra2016">
            <div *ngIf="!isParipatra2016" class="sub-heading">
                <p>{{'EI_25.0_22' | translate}}</p>
            </div>
            <mat-card>
                <div class="ck-editor">
                    <div class="sub-heading">
                        <p>
                            <span>{{'EI_25.1_22' | translate}}</span>
                            <span *ngIf="!editor1" (click)="toggleShow1()">
                                <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                    matTooltipPosition="above">expand_more</mat-icon>
                            </span>
                            <span *ngIf="editor1" (click)="toggleShow1()">
                                <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                    matTooltipPosition="above">expand_less</mat-icon>
                            </span>
                        </p>
                    </div>
                    <div *ngIf="editor1" style="position: relative;">
                        <ckeditor [config]="mediumEditorConfig" formControlName="environmentalProjectCategory">
                        </ckeditor>
                    </div>
                </div>
                <br>
                <div class="ck-editor">
                    <div class="sub-heading">
                        <p>
                            <span>{{'EI_25.2_22' | translate}}</span><br>
                            <mat-radio-button (click)="toggleShow2('yes')">
                                <b>{{ 'yes' | translate }}</b>
                            </mat-radio-button>
                            &nbsp;&nbsp;
                            <mat-radio-button (click)="toggleShow2('no')">
                                <b>{{ 'no' | translate }}</b>
                            </mat-radio-button>
                            <span *ngIf="!editor2" (click)="toggleShow2()">
                                <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                    matTooltipPosition="above">expand_more</mat-icon>
                            </span>
                            <span *ngIf="editor2" (click)="toggleShow2()">
                                <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                    matTooltipPosition="above">expand_less</mat-icon>
                            </span>
                            <span style="float: right">
                                <label for="file-upload1">
                                    <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                        matTooltipPosition="above">image</mat-icon>
                                </label>
                                <input #file1 type="file" accept='image/*'
                                    (change)="uploadImageAsBase64(file1.files,'whetherEnvironmentClearance')"
                                    id="file-upload12" />
                            </span>
                        </p>
                    </div>
                    <div *ngIf="editor2" style="position: relative;">
                        <ckeditor [config]="mediumEditorConfig" formControlName="whetherEnvironmentClearance">
                        </ckeditor>
                    </div>
                </div>
            </mat-card>
            <br>
        </div>
        <div *ngIf="isParipatra2016">
            <mat-card>
                <div class="ck-editor ">
                    <div class="sub-heading">
                        <p>
                            <span>{{'EI_25.0' | translate}}</span>
                            <span><i>{{'EI_25.0_sub' | translate}}</i></span>
                            <span *ngIf="!editor11" (click)="toggleShow11()">
                                <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToExpand"
                                    matTooltipPosition="above">expand_more</mat-icon>
                            </span>
                            <span *ngIf="editor11" (click)="toggleShow11()">
                                <mat-icon style="color: white;cursor: pointer;float:right" matTooltip="ClickToCollapse"
                                    matTooltipPosition="above">expand_less</mat-icon>
                            </span>

                            <span style="float: right">
                                <label for="file-upload12">
                                    <mat-icon matTooltip="{{'Upload_Image' | translate}}"
                                        matTooltipPosition="above">image</mat-icon>
                                </label>
                                <input #file12 type="file" accept='image/*'
                                    (change)="uploadImageAsBase64(file12.files,'whetherEnvironmentClearance')"
                                    id="file-upload12" />
                            </span>
                        </p>
                    </div>
                    <div *ngIf="editor11" style="position: relative;">
                        <ckeditor [config]="mediumEditorConfig" formControlName="whetherEnvironmentClearance">
                        </ckeditor>
                    </div>
                </div>
            </mat-card>
            <br>
        </div>
        <mat-card>
            <div style="margin-top: 18px;">
                <p class="head">{{'ECA' | translate}}</p>
            </div>
            <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%" class="fileInput"
                style="margin-left: 30px; margin-top: 18px;">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field fxFlex="88%" fxFlex.xs="100%" fxFlex.sm="70%" style="margin-right: 2%;">
                        <label *ngIf="effectImpactAttachmentId">{{envClearenceAttachment}}</label>
                        <ngx-mat-file-input (change)="selectFile($event.target.files)" [accept]="'.pdf'"
                            formControlName="envClearenceAttachment"
                            placeholder="Basic outline placeholder"></ngx-mat-file-input>
                        <mat-icon matSuffix>folder</mat-icon>
                    </mat-form-field>

                    <button *ngIf="isAttachmentEnable" fxFlex="5%" fxFlex.md="2%" fxFlex.sm="2%" fxFlex.xs="2%">
                        <mat-icon matTooltip="{{'down' | translate}}" (click)="download()"
                            color="primary">file_download</mat-icon>
                    </button>

                    <button *ngIf="isAttachmentEnable" fxFlex="5%" fxFlex.md="4%" fxFlex.sm="4%" fxFlex.xs="4%">
                        <mat-icon (click)="deleteAttachment()" class="pb-2 ml-2 warn">delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card>
    </form>
    <!-- save, back button -->
    <div class="flex justify-end mt-8">
        <button class="px-8 mr-2" mat-flat-button [color]="'accent'" type="button" matStepperPrevious>
            {{'back' | translate}}
        </button>
        <button [disabled]="buttonDisable || spinner" class="px-8 mr-2" mat-flat-button [color]="'primary'"
                type="button" (click)="onSubmit()">
            {{'save' | translate}}
        </button>
        <button [disabled]="buttonDisable || spinner" class="px-8 mr-2" mat-flat-button [color]="'primary'"
            type="button" (click)="onSubmit()" matStepperNext>
            {{'saveNext' | translate}}
        </button>
        <button (click)="onSubmitAndExit()" class="px-8 mr-2" [disabled]="buttonDisable || spinner" mat-flat-button
            style="background-color: green; color: #FFFFFF" type="button">
            {{'saveExit' | translate}}
        </button>
        <button class="px-8 mr-2 toggle-sidebar-folded" :matTooltip="{{ 'Next' | translate }}" mat-flat-button
            style="background-color: green; color: #FFFFFF" matStepperNext type="button">
            {{ "Next" | translate }}
        </button>
    </div>
</div>
