$base-color: #90cec5;
.form-header {
    height: 40px;
    width: 20%;
    padding: 10px;
    font-weight: bold;
    color: #000000 !important;
    background-color: $base-color;
}

.form-header1{
    height: 40px;
    width: 20%;
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
    color: #000000 !important;
    background-color: $base-color;
}

table {
    width: 100%;

    th {
        font-size: small;
        font-weight: bold;
        background-color: #0d9488;
        color: #FFFFFF !important;
        text-align: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 3px;
    }

    td {
        text-align: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px;
    }
}

mat-form-field {
    width: 180px !important;
    font-size: 12px;
    margin-top: 7%;
}

.buttons {
    display: flex;
    align-items: center;
}

.padding1{
    margin-left: 20px;
    padding: 10px;
}

.padding2{
    margin-left: 13px;
    padding: 20px;
}

.mat-radio-button{
    margin-left: 15px;
}

.table1{
    margin-top: 5px;
}

.attachment-msg{
    display: block !important;
}

.text-red{
    color: red;
}

