.b-fieldset {
    border: 1px solid gray;
    padding: 30px 10px 0px 0px;
    margin: 0px 0px 10px 0px;
}

.fieldsetc {
    border: 1px solid gray;
    padding: 10px 10px px 0px 0px;
    margin: 0px 0px 10px 0px;
}

.b-text {
    position: absolute;
    top: 87px;
    font-size: large;
}
