.back-button {
    float: right !important;
}

.propose-body {
    background-color: #ffffb2 !important;
}

.OrganizationTbl{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.OrganizationTbl th, .OrganizationTbl td{
    border: 1px solid #CCC;
    padding: 0px 4px;
}

