.exp-icon {
    color: red;
    cursor: pointer;
    float:right
}

table.actionTbl{
    border-collapse: collapse;
}
.actionTbl tr th{
    color: #FFFFFF !important;
}
table.actionTbl th, 
table.actionTbl td {
    border: 1px solid #CCC;
}
.actionTbl tr td:first-child{
    padding-left: 15px;
}
.actionTbl tr td:last-child{
    text-align: center;
}