

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
::ng-deep .readonly 
    .mat-form-field-flex {
	background-color: #dfdfdf !important;
    color: #000000;
}
::ng-deep .mat-optgroup-label {
    border-bottom: 1px solid #CCC;
    background: #53b8eb;
    color: #FFF !important;
}