table {
    width: 100%;

    th {
        //font-size: small;
        color: white;
        font-weight: bold;
        //background-color: #0d9488;
    }
    //th, td{
    //    border: 1px solid #e2e8f0;
    //    padding: 0px 4px;
    //    width: 28%;
    //}
    th:nth-child(1), td:nth-child(1)
    {
        width: 10%;
        text-align: center;
    }
    th:nth-child(2), td:nth-child(2)
    {
        width: 30%;
    }
    th:nth-child(3), td:nth-child(5)
    {
        width: 40%;
    }
    th:last-child, td:last-child {
        width: 20%;
        text-align: center;
    }
}

.upload-width {
    width: 80%
}
