.exp-icon {
    color: white;
    cursor: pointer;
    float:right
}

.OrganizationTbl{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}
.OrganizationTbl th, .OrganizationTbl td{
    border: 1px solid #CCC;
    line-height: 38px;
    padding: 0px 4px;
}
.bkcr {
    background-color: rgb(174, 245, 174);
}