.header-v2 {
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
}

.legend {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid rgb(18, 16, 16);
    border-radius: 5px;
    font-weight: bold;
}

.fieldset {
    border: 2px solid rgb(2, 2, 2);
    padding: 50px;
    border-radius: 5px;
}
