td {
    padding-top: 12px;
}
#t1{
    border: 1px solid black !important;width: 100%;text-align: center;
}
#tr1{
    border: 1px solid black !important;
}
#td1{
    border: 1px solid black !important;
}  


#s {
    padding-top: 80px;
}

#s1 {
    padding-left: 130px;
    padding-top: 65px;
}
#s2{
   padding-left: 340px;
   padding-top: 65px;
   padding-bottom: 10px;
}

span {
    border-top: 1px solid #000;
}


.head{
    font-weight: bold;
    text-decoration: underline;
    width: 100%;text-align:  center;
    font-size: 16pt;
}

.estimatedCostTable{
    
}