.body-log {
    width: 100%;
    background-color: #FFFFFF;
}

.input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.required{
    color: red
}

.padding1{
    padding-right: 10px
}

table {
    width: 100%;
    border: 1px solid #ccc;
    th {
        font-weight: bold;
        background-color: #0d9488 !important;
        color: #FFFFFF;
        text-align: center;
        align-items: center;
        border: 1px solid #ccc;
        padding: 1%;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        border: 1px solid #ccc;
    }
    body {
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }
}
.w-full-td{
    padding: 15px;
    margin-top: 10px;
}
mat-form-field {
    width: 90% !important;
    font-size: 12px;
}
