@import '../../../../../project-concept-management/features/project-concepts/project-concept-view-dashboard/movement-status.scss';
table {
    th {
        color: white !important;
    }
}

table.proSummary {
    width: 100%;

    th {
        font-size: small;
    }
    th, td{
        border: 1px solid #e2e8f0;
        padding: 0px 4px;
    }
    th:nth-child(1), td:nth-child(1)
    {
        width: 8%;
        text-align: center;
    }
    th:nth-child(3), td:nth-child(3)
    {
        width: 20%;
        text-align: center;
    }
    th:last-child, td:last-child {
        width: 20%;
        text-align: center;
    }
}

table.attachment-table {
    width: 100% !important;

    th {
        font-size: small;
    }
    th, td{
        border: 1px solid #e2e8f0;
        padding: 0px 4px;
        text-align: center !important;
    }
    th:nth-child(1), td:nth-child(1)
    {
        width: 8%;
        text-align: center;
    }
    th:nth-child(3), td:nth-child(3)
    {
        width: 20%;
        text-align: center;
    }
    th:last-child, td:last-child {
        width: 20%;
        text-align: center;
    }
}

.buttons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.text-alignment {
    text-align: center;
}

.btn-comment-agency {
    margin: 10px;
    padding-top: 18px;
    min-height: 60px;
    max-height: 60px;
    color: #ffffff !important;
    font-size: 15px;
    border-radius: 0%;
    background-color: #7657a8 !important;
}

.btn-comment-ministry {
    margin: 10px;
    padding-top: 18px;
    min-height: 60px;
    max-height: 60px;
    color: #ffffff !important;
    font-size: 15px;
    border-radius: 0%;
    background-color: deepskyblue !important;
}

.btn-comment-commission {
    margin: 10px;
    padding-top: 18px;
    min-height: 60px;
    max-height: 60px;
    color: #ffffff !important;
    font-size: 15px;
    border-radius: 0%;
    background-color: #9e79a8 !important;
}


.btn-movement {
    margin: 10px;
    min-height: 50px;
    max-height: 50px;
    color: #ffffff !important;
    font-size: 17px;
    border-radius: 0%;
    background-color: #40b7b7 !important;
}

.btn-project-concept-edit {
    margin: 5px;
    min-height: 40px;
    max-height: 40px;
    color: #ffffff !important;
    font-size: 15px;
    border-radius: 0%;
    background-color:  #424f9e !important;
}

.btn-report {
    margin: 10px;
    min-height: 40px;
    max-height: 40px;
    color: #ffffff !important;
    font-size: 15px;
    border-radius: 0%;
}
.btn-project-concept-delete {
    margin: 5px;
    min-height: 40px;
    max-height: 40px;
    color: #ffffff !important;
    font-size: 15px;
    border-radius: 0%;
    background-color:  #424f9e !important;
}
.mtbf-btn {
    -webkit-border-radius: 60px;
}
@keyframes glowing {
    0% {
        background-color: #035d92;
        box-shadow: 0 0 5px #035d92;
    }
    50% {
        background-color: #047984;
        box-shadow: 0 0 20px #047984;
    }
    100% {
        background-color: #035d92;
        box-shadow: 0 0 5px #035d92;
    }
}
.mtbf-btn {
    animation: glowing 1300ms infinite;
}
.info-summary-odd{
    width: 100%;
    background-color: #8B9FC1;
    margin: 1px;
    padding: 2px;
}
.info-summary-even{
    width: 100%;
    background-color: #76b89a;
    margin: 1px;
    padding: 2px;
}
.left-info-td{
    text-align: left !important;
    width: 47% !important;
    border: none !important;
}
.right-info-td{
    text-align: left !important;
    width: 60% !important;
    border: none !important;
}
.info-tr-odd{
    background-color: #e0effd;
    height: 49px !important;
}
.info-tr-even{
    background-color: #fbdef8;
    height: 49px !important;
}
table.infoSummary tr td{
    border-bottom: 5px solid white !important
}
.required {
    color: red;
}

.icon {
    color: #FFFFFF !important;
}
.dashboard-features{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-align: left !important;
    display: flex;
    background:#3b9c9c;// #368BC1;
    font-size: 15px;
    padding: 4px;
    min-height: 85px;
    cursor: pointer;
}
.icons, .f-title{
    float: left;
    padding-top: 4px;
}
.icons{
    margin-right: 8px;
}
.white{
    color: #FFFFFF;
    font-size: 30px;
}

.dashboard-features:hover {
    opacity: 0.6 !important;
}


.close-button{
    float: right;
    margin-top: -15px;
    margin-right: -10px;
    padding-top: 13px;
}

.close-icon {
    transition: 1s ease-in-out;
}

.close-icon:hover {
    transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset
}

.potroUrlLink:hover{
    color: black;
}


table.project-details{
    width: 100% !important;
    td{
        width: 50%;
        border: 4px solid #fff;
        padding: 5px;
    }
}

.blink {
    display: inline;
    color: inherit;
    animation: blink 1s steps(1) infinite;
    -webkit-animation: blink 1s steps(1) infinite;
}
@keyframes blink { 50% { color: transparent; } }
@-webkit-keyframes blink { 50% { color: transparent; } }


.basic-info-row{
    margin: 5px;
    background-color: #ededed;
    border: 1px solid #c7c7c7;
}

.basic-info-left-lbl{
    display: inline-block;
    text-align: left;
    width: 30%;
    padding: 8px;
    vertical-align: middle;
}

.basic-info-right-lbl{
    display: inline-block;
    border-left: 1px solid #c7c7c7;
    font-weight: 500;
    text-align: left;
    width: 70%;
    padding: 8px;
    vertical-align: middle;
}


.comment-btn{
    margin: 15px;
    box-shadow: 3px 3px 3px 3px #757677;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

table.project-details-report{
    width: 100%;
    td{
        width: 50%;
        border: 4px solid #fff;
        padding: 5px;
        cursor: pointer;
    }
}

.stick-line{
    display: inline-block;
    height: 80px;
    width: 20px;
    vertical-align: top;
    margin-right: 15px;
}

.project-movement-status-div{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: #0d9488;
    display: inline-block;
    color: #fff;
    height: 60px;
    width: 170px;
    margin: 10px;
    padding-top: 9px;
    padding-left: 10px;
    margin-right: 15px;
}

.balance-label {
    display: inline-block;
    margin: 5px;
    font-size: 13px;
    background-color: #4338CA;
    color: white;
    padding: 5px;

}

.multi-line-text{
    height: unset !important;
    white-space: normal !important;
}

.float-left{
    width: 80%;
    display: inline-block;
}

.fs-repo-btn{
    display: inline-block;
    margin: 5px;
    background-color: #4b60bd;
    color: white;
    padding: 7px;
    border-radius: 10px;
}

.timer {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    letter-spacing: -1px;
}
.timer span {
    font-size: 2em;
    margin: 0 3px 0 15px;
}

.dropdown-class {
    height: 40px;
    color: #fff;
    background-color: #d2691e;
    font-weight: normal;
    text-transform: none;
    padding-left: 2rem;
    padding-right: 2rem;
}
.dropdown-menu {
    display: block;
    background-color: #d2691e;
}
.dropdown-menu li {
    border-top: 1px solid #ccc;
}
.dropdown-menu li a{
    color: #fff;
}
.dropdown-menu li a:hover {
    color: #fff;
    background-color: #bb550c;
}
.dropdown-toggle::after {
    display:none;
}
