.required {
    color: red
}

.mat-label-padding {
    padding-bottom: 15px;
}

.mat-label-padding-2 {
    padding-top: 15px;
}

.card-background {
    background: #c6c6c6;
}

.header1 {
    color: #FFFFFF
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 3%;
    float: right;
}

.custom-image-icon {
   margin-left: -10px;
}

.custom-file-upload-div{
    width: 100%;
    position: absolute;
    margin-top: -25%;    
}
