#imageDiv {
    background: url('/assets/images/logos/div_outer.png') no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}

table.information-details{
    width: 100%;
    tr{
        background-color: #e0effd;
        border: 4px solid #fff;
        padding: 4px;
    }
    td{
        padding: 10px;
    }
}

table.presentation {
    width: 100% !important;

    thead{
        background-color: #c7c7c7 !important;
    }

    th {
        font-size: small;
        background-color: #c7c7c7 !important;
    }
    tr{
        background-color: #ededed !important;
        border: 2px solid #FFFFFF !important;
    }
    th, td{
        border: 1px solid #e2e8f0;
        //padding: 0px 4px;
        //text-align: center !important;
    }
}

table.grandInfo {
    width: 100% !important;

    thead{
        background-color: #c7c7c7 !important;
    }

    th {
        font-size: small;
        background-color: #f545bd !important;
    }
    tr{
        background-color: #f664c8 !important;
        border: 2px solid #FFFFFF !important;
    }
    td{
        border: 1px solid #e2e8f0;
        //padding: 0px 4px;
        //text-align: center !important;
    }
}
