.cap-description{
    width: 200px;
    text-align: left;
    padding: 0px !important;
    margin: 1.5px !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 34px;
    background: #ffffff;
}
