.firstTbl th{
    text-align: center;
    background: #0d9488 !important;
    color: #ffffff;
}
table.firstTbl td {
    border: 1px solid #CCC !important;
}
.RevenueTbl {
    // width: 150%;
    border-collapse: collapse;
    display: inline-block;
    vertical-align: top !important;
}

:host ::ng-deep .mat-horizontal-content-container {
    padding: 0 !important;
}

.card-bg-color {
    background: #f0fdf4;
}

.RevenueTbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

.RevenueTbl tr:nth-child(odd) {
    background-color: #ffffff;
}

.RevenueTbl th {
    text-align: center;
    background: #0d9488 !important;
    color: #ffffff;
}

.RevenueTbl tr.text-center td,
.RevenueTbl td.text-center {
    text-align: center;
}

.RevenueTbl th,
.RevenueTbl td {
    border: 1px solid #ccc;
    width: 40px;
}

.RevenueTbl td {
    vertical-align: top !important;
}

.RevenueTbl td:nth-child(1) {
    vertical-align: middle !important;
}

.RevenueTbl {

    th,
    thead tr:nth-child(5) td {
        text-align: center;
        // position: sticky;
        z-index: 999999 !important;
    }

    thead tr:nth-child(1) th {
        top: 0px;
    }

    thead tr:nth-child(2) th {
        top: 40px;
    }

    thead tr:nth-child(3) th {
        top: 64px;
    }

    thead tr:nth-child(4) th {
        top: 88px;
    }

    thead tr:nth-child(5) td {
        top: 112px;
        background: #e8f1eb;
        color: #000000;
        font-weight: bold;
    }
}

.status-done {
    background-color: green;
    height: 23px;
}

.status-progress {
    background-color: darkkhaki;
    height: 23px;
}

.status-notdone {
    background-color: chocolate;
    height: 23px;
}

.default {
    background-color: rgb(255, 252, 250);
    height: 23px;
}
