table {
    width: 100%;

    th {
        font-size: small;
        font-weight: bold;
        background-color: #0d9488;
    }
}

.div1 {
    background-color: darkslateblue;
    padding: 10px;
}

.header1 {
    color: #FFFFFF
}
.required{
    color: red
}

.mat-flat-button.mat-back {
    color: #f0fff3;
    background-color: black;
}


.mat-label-padding {
    padding-bottom: 15px;
}

.mat-label-padding-2 {
    padding-top: 15px;
}

.card-background {
    background: #c6c6c6;
}
/*------For Animation-----*/
.wrapper {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 885px;
    //border: 1px solid black;
}
#slide {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 500px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 1s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
/*------/For Animation-----*/

.tab-color {
    background-color: #F0FDF4 !important;
}

