.project-status-top {
    padding: 5px;
   // border-radius: 5%;
    height: 100px;
   // border: 3px solid #e2e8f0;
}

.project-status-number {
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 50%;
   // margin: 5px;
    font-weight: 600;
    font-size: 27px;
    text-align: center;
    padding: 25px 5px 5px;
}

.project-status-lbl {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    margin: auto;
}

.mat-form-field {
    font-size: 14px;
}

table {
    width: 100%;

    th {
        font-size: small;
        color: white;
        font-weight: bold;
        background-color: #0d9488;
    }
    th, td{
        border: 1px solid #e2e8f0;
        padding: 0px 4px;
        width: 19%;
    }
    th:nth-child(1), td:nth-child(1)
    {
        width: 5%;
        text-align: center;
    }
    th:nth-child(3), td:nth-child(3)
    {
        width: 10%;
        text-align: center;
    }
    th:last-child, td:last-child {
        width: 10%;
        text-align: center;
    }
}

.header1 {
    font-size: 16px;
    color: black;
}

.required {
    color: red
}

.tab-color {
    background-color: #F0FDF4 !important;
}

.text-alignment {
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#timepicker-example-1 {
    max-width: 200px;
}

#timepicker-example-2 {
    max-width: 178px;
}

#timepicker-example-3 {
    max-width: 178px;
}
.btn-min-height {
    min-height: 90px !important;
    background-color: #800080 !important;
}

.btn-min-height-green {
    min-height: 70px !important;
    background-color: #619e68 !important;
}

.sector-status-number {
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 50%;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
.font-text-12 {
    font-size: 12px;
    font-weight: bold;
}

table, td, th {
    width: 100%;
    //border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

th {
    background-color: #0d9488;
    color: #000000 !important;
    font-weight: bold;
}

td, th {
    padding: 3px;
    width: 30px;
    height: 25px;
    text-align: center;
    align-items: center;
}

thead {
    background-color: #0d9488;
    color: #FFFFFF;
}

.searchRow {
    display: flex;
    justify-content: space-between;
    height: 50px;
    text-align: center;
    align-items: center
}

.btn-movement {
    margin: 8px;
    min-height: 70px;
    max-height: 70px;
    color: #ffffff !important;
    font-size: 17px;
    border-radius: 5%;
}

.close-button{
    float: right;
    margin-top: -15px;
    margin-right: -10px;
    padding-top: 13px;
}
.close-icon {
    transition: 1s ease-in-out;
}

.close-icon:hover {
    transform: rotate(180deg);
}


.table-head-style {
    color: #000000 !important;
    text-align: center;
}

.amount-value {
    text-align: right;
    padding-right: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mtbf-btn {
    -webkit-border-radius: 60px;
}
@keyframes glowing {
    0% {
        background-color: #035d92;
        box-shadow: 0 0 5px #035d92;
    }
    50% {
        background-color: #047984;
        box-shadow: 0 0 20px #047984;
    }
    100% {
        background-color: #035d92;
        box-shadow: 0 0 5px #035d92;
    }
}
.mtbf-btn {
    animation: glowing 1300ms infinite;
}
