<div class="pl-10 p-5 flex justify-between header items-center">
    <div>
        <p class="text-xl sm:text-3xl font-semibold tracking-tight leading-7 md:leadinflex justify-center items-centerg-10 truncate pt-1">
            <span [innerHTML]="title"></span>
        </p>
        <p class="text-white pt-2">
            <span [innerHTML]="subTitle"></span>
        </p>
    </div>

    <div class="mr-6">
        <button class="btn btn-home flex justify-center items-center" (click)="goBackToHome()" type="button">
            <mat-icon class="text-white" aria-hidden="true" data-mat-icon-type="font">home</mat-icon>
            HOME
        </button>
    </div>
</div>
