/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.

 */
/* ----------------------------------------------------------------------------------------------------- */
$base-color: #588c7e; //#90cec5;
$form-bg-color: white;
$tab-bg-color: #F0FDF4;


.mat-button-wrapper{
    font-weight: 600;
}

.mat-step-header[ng-reflect-selected="true"] {
    background: #aec6dd !important;
    border-radius: 4px;
}
.mat-step-header[aria-selected="true"] { 
    background-color: #aec6dd !important;
    border-radius: 4px;
}
.mat-step-header .mat-step-icon-selected {
    background-color: #6289af !important;
}
/*----------------- Colors--------------------*/

/*-----------Button color-----------*/
// .saveBtn{}
// .saveAndNextBtn{}
// .updateBtn{}
// .deleteBtn{}
// .previousBtn{}
// .nextBtn{}
// .backBtn{}
// .addNewBtn

.primaryBtn,
.saveBtn,
.addNewBtn {
    background: #0d9488 !important;
}

.editBtn {
    background: #4aaf68 !important;
}

.resetBtn {
    background: #1e293b !important;
}

.nextBtn {
    background: #39a2c1 !important;
}

.previousBtn {
    background: #4c72c7 !important;
}

.sendBtn {
    background: #7e3adc !important;
}

.successBtn,
.saveAndNextBtn .saveAndExitBtn {
    background: #28a745 !important;
}

.infoBtn,
.downloadBtn {
    background: #17a2b8 !important;
}

.secondaryBtn,
.printBtn {
    background: #6c757d !important;
}

.warningBtn {
    background: #ffc107 !important;
}

.updateBtn{
    background: #ffc107 !important;
}

.backBtn,
.darkBtn {
    background: #343a40 !important;
}

.closeBtn {
    background: #FEF2F2 !important;
}

.yellow-color {
    @apply text-yellow-500;
}

.text-green {
    @apply text-green-400;
}

.viewBtn {
    color: #0d9488;
}

.text-blue{
    @apply text-blue-700;
}

.deleteBtm {
    color: #dc2626;
}

.addBtn {
    @apply text-green-500;
}

.addMoreBtn{
    display: flex;
    border: 1px solid green;
    padding: 7px;
    border-radius: 4px !important;
    background-color: #0d9488;
    color: white;
    cursor: pointer;
}

/*-----------/Button color-----------*/

.header1 {
    font-weight: bold;
}

.padding19 {
    padding: 0px 19px !important;
}

.header-font-title {
    font-size: 1.40rem;
    padding-bottom: 2px;
}

.heading {
    background-color: $base-color;
    color: #FFFFFF !important;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-heading {
    background-color: #b8e0da;
    color: #000000 !important;
    padding: 10px;
    border-radius: 3px;
}

.required {
    color: red !important;
}

.success-snackbar {
    background: #008000 !important;
    color: #ffffff !important;
    font-weight: bold;
}

.error-snackbar {
    background: #ff0000 !important;
    color: #ffffff !important;
    font-weight: bold;
}

.warn-snackbar {
    background: #d79121 !important;
    color: #ffffff !important;
    font-weight: bold;
}

.dialog-background {
    mat-dialog-container {
        background: #F0FDF4 !important;
    }
}

.save-button {
    background: #008000 !important;
    color: #ffffff !important;
}

.cancel-button {
    background: #ff2f25 !important;
    color: #ffffff !important;
}

.previous-button {
    //
}

.back-button {
    //
}

.border3 {
    border-left: 1px solid #cccccc85;
    border-right: 1px solid #cccccc85;
    border-bottom: 1px solid #cccccc85;
}

.border4 {
    border-top: 1px solid #cccccc85;
    border-left: 1px solid #cccccc85;
    border-right: 1px solid #cccccc85;
    border-bottom: 1px solid #cccccc85;
}

.border5 {
    border-top: 1px solid #cccccc85;
    border-left: 1px solid #cccccc85;
    border-right: 1px solid #cccccc85;
}

.headerMatIcon {
    vertical-align: middle;
    font-size: 27px !important;
    color: #FFFFFF;
    opacity: 0.8;
}

.tblMatIcon {
    vertical-align: middle;
    font-size: 27px !important;
    color: #000000;
    opacity: 0.8;
}

.mat-header-cell {
    color: #36393e !important;
}

.active {
    color: green;
}

.inactive {
    color: #d79121;
}

.mat-elevation-z8 th {
    font-size: small;
    color: white !important;
    font-weight: bold;
    background-color: #0d9488;
    text-align: center !important;
}

.mat-elevation-z8 th,
.mat-elevation-z8 td {
    border: 1px solid #e2e8f0;
    padding: 0px 3px !important
}

.form-bg-color {
    background-color: $form-bg-color;
}

.tab-color {
    background-color: $tab-bg-color !important;
}

a.fuse-vertical-navigation-item.ng-star-inserted {
    padding-left: 35px !important;
}

.mat-icon.notranslate.fuse-vertical-navigation-item-icon {
    margin-right: 3px !important;
}

.tbl-title {
    margin-top: 8px;
}

.fuse-mat-rounded .mat-flat-button,
.mat-raised-button {
    border-radius: 5px !important;
}

.dark.bg-card.dark\:border-b {
    background: radial-gradient(circle, #b7bfe5 0%, #9fd3d0 100%);
    color: #333333 !important;
}

table {
    th {
        background-color: #579b90 !important;
        color: #000000 !important;
    }
}

.leading-5.truncate.text-secondary {
    color: #333333 !important;
}

//.fuse-vertical-navigation-item-wrapper > a.fuse-vertical-navigation-item-active {
//    background-color:blue !important;
//}
a.fuse-vertical-navigation-item-active {
    background-color: #0d9388 !important;
    color: #FFFFFF !important;
}

.fuse-vertical-navigation-wrapper {
    background-color: #FFFFFF !important;
    color: #333333 !important;
}

.list-page-outside-body {
    background-color: #F0FDF4;
    margin: 20px;
    border: 1px solid #e2e8f0;
}

.read-only {
    background-color: #cccccc;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.text-align-centre {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.width-100 {
    width: 100%;
}

.ck_border_color1 .ng-invalid .cke_wysiwyg_frame {
    height: 200px !important;
    border: 1px solid red !important;
}

.ck_border_color2 .ng-invalid .cke_wysiwyg_frame {
    height: 200px !important;
    border: 1px solid red !important;
}

.ck_border_color3 .ng-invalid .cke_wysiwyg_frame {
    height: 200px !important;
    border: 1px solid red !important;
}

.ck_border_color4 .ng-invalid .cke_wysiwyg_frame {
    height: 200px !important;
    border: 1px solid red !important;
}

.ck_border_color5 .ng-invalid .cke_wysiwyg_frame {
    height: 200px !important;
    border: 1px solid red !important;
}
