
.text-color {
    color: #145a32;
    font-weight: bold;
    font-size: 20px;
}
.a{
    background-color: #90CEC5 !important;
    font-weight: bold;
}
.f{
    margin-left: 30%;
    margin-right: 30%;
}

#countdown{
    font-size: 15px;
}

.ac{
   padding-left: 10%;
   padding-right: 10%;
    padding-top: 2%;
    font-weight: bold;
}
.v{
    color: #376092 !important;
    margin-top: 20px;
    font-weight: bold;
    font-size: 22px;
}

.v2{
    color: #000000 !important;
    margin-top: 1px;
    font-weight: bold;
    font-size: 15px;
}
.card {
    width: auto;
    padding: 10px;
    border-radius: 20px;
    background: #d4efdf;
    border: none;
    position: relative;
}
.container {
    height: 100vh;
}
.link {
    color: green;
    font-size: 18px;
    font-weight: bold;
}
.form-control {
    margin-right: 12px !important;
}
.form-control:focus {
    color: #495057;
    background-color: #d4efdf;
    border-color: #c0392b;
    outline: 0;
    box-shadow: none !important;
}
.cursor {
    cursor: pointer;
}

.yes-button {
    background: #008000 !important;
    color: #ffffff !important;
    width: 70px;
    height: 35px;
    border-radius: 10px;

}

.no-button  {
    background: #ff2f25 !important;
    color: #ffffff !important;
    width: 70px;
    height: 35px;
    border-radius: 10px;
    margin-right: 5px;
}
