.contentDiv {
    // background: url('/assets/images/profile_bg.png') no-repeat;
    background-color: white;
    -webkit-print-color-adjust: exact;
    background-size: cover;
    height: 100%;
    width: auto;
}

.tbl-details th {
    background-color: transparent !important;
    -webkit-print-color-adjust: exact;
    text-align: left;
}

.tbl-details td,
.tbl-details th {
    padding: 6px 0;
}

.tbl-details td {
    padding-left: 10px;
}

.personalInfoTbl {
    td:nth-child(1) {}
}

.researchInfo {
    width: 100%;
    td {
        border: 1px solid #CCC;
        padding: 3px;
        -webkit-print-color-adjust: exact;
    }
    th {
        border: 1px solid #CCC;
        background-color: #d8d8d8 !important;
        -webkit-print-color-adjust: exact;
    }
}

.publication {
    padding: 2px;
    cursor: pointer;
}

.tblTitle {
    border: 1px solid #90cec5;
    padding: 3px;
    background-color: #90cec5 !important;
    -webkit-print-color-adjust: exact;
}

.grantTotal td {
    background-color: #f6f7c6;
    -webkit-print-color-adjust: exact;
}

.editButton {
    border: 1px solid;
    width: 108px;
    padding: 3px;
    background: #4b60bd;
    text-align: center;
    border: 1px solid #4b60bd;
    border-radius: 4px;
}

table.researchInfo tr:nth-child(odd) td {
    background: #f7f5f5;
    -webkit-print-color-adjust: exact;
}

table.researchInfo tr:nth-child(even) td {
    background: #ffffff;
    -webkit-print-color-adjust: exact;
}

@media print {
    .tblTitle {
        border: 1px solid #90cec5;
        padding: 3px;
        background-color: #90cec5 !important;
        -webkit-print-color-adjust: exact;
    }
  .no-print {
    display: none !important;
  }
  .pp {
    padding-left: 4px;
  }
  .mat-card {
    box-shadow: none !important;
  }
}

.pointer {
  cursor: pointer;
}
