table.researchInfo{
 border-collapse: collapse;
 font-weight: normal;
 width: 100%;

 th {
        font-weight: bold !important;
        border: 1px solid #CCC;
    }

 td {
        border: 1px solid #CCC;
        padding: 3px 4px;
    }

}
.mainDiv {
    border: 1px solid #CCC;
    margin-top: 10px;
}
.titleDiv {
    border-bottom: 1px solid #CCC;
    padding: 3px 8px;
}
.bodyDiv {
    padding: 2px 8px;
}