.label1 {
    background: #BAE6FD;
    color: #000000;
}

.check {
    background: #FFFFFF;
    color: #000000;
}

.mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0px !important
}

.font {
    font-size: 12px !important;
}
