table, td, th {
    width: 100%;
    //border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    font-size: 14px;
}
tr:nth-child(even) {
    background-color: #e5e5e5;
}

th {
    background-color: #0d9488;
    color: #000000 !important;
    font-weight: bold;
}
.actionBtn{
    margin: 4px 0px;
    border-top: 1px solid #CCC;
    padding-top: 4px;
}
.action2 {
    display: inline-block;
    padding: 6px;
}

td, th {
    padding: 3px;
    width: 30px;
    height: 25px;
    text-align: center;
    align-items: center;
}

thead {
    background-color: #0d9488;
    color: #FFFFFF;
}

.searchRow {
    display: flex;
    justify-content: space-between;
    height: 50px;
    text-align: center;
    align-items: center
}

.btn-movement {
    margin: 10px;
    min-height: 70px;
    max-height: 70px;
    color: #ffffff !important;
    font-size: 17px;
    border-radius: 5%;
}

.btn-approval-status {
    margin: 10px;
    min-height: 47px;
    max-height: 47px;
    color: #ffffff !important;
    font-size: 15px;
}

.table-head-style {
    //color: #000000 !important;
    color: white !important;
    text-align: center;
}

.amount-value {
    text-align: right;
    padding-right: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.white-icon {
    color: white;
}
.white-icon svg {
    fill: white;
}
