#planning{
    background: url('/assets/images/logos/login_cover_page.png') no-repeat;
    background-size: cover;
}
#e-nothi{
    background: url('/assets/images/logos/nothi_logo_login.png') no-repeat;
    //background-size: cover;
    background-size: 100% 0%;
}