.tbl-details{
    width: 100%;
}
.tbl-details td{    
    text-align: justify;
    padding: 5px;
}
.text-center{
    text-align: center;
}
.text-bold{
    font-weight: bold;
}
.fieldTbl{
    width: 60%;
    margin: 0 auto;
}
.fieldTbl td{
    text-align: center;
    border: 1px solid #CCC;
}

.subFielbTbl{
    width: 100%;
}
.subFielbTbl td{
    border: 1px solid #CCC;
    text-align: justify;
}
.budgetAmount {
    color: green;
    font-weight: bold;
    text-decoration: underline;
}