/* ----------------------------------------------------------------------------------------------------- */
/*  @ Main Tailwind file for injecting utilities.
/* ----------------------------------------------------------------------------------------------------- */
@tailwind utilities;


@font-face {
  font-family: 'nikosh';
  src: local('nikosh'), url(Nikosh.ttf) format('ttf');
}

@font-face {
  font-family: 'nikoshFont';
  src: url('AdorshoLipi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.nikoshFont {
  font-family: 'Arial', 'Times New Roman', serif, 'nikoshFont' !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-17 {
  font-size: 17px !important;
}

body {
  @apply nikoshFont
}

table.tbl-details th,
table.tbl-details td {
  font-family: 'Arial', 'Times New Roman', serif, nikoshFont !important;
  @apply font-16;
}

.header1,
.heading {
  @apply nikoshFont
}

.field-selection-tbl th,
.field-selection-tbl td {
  @apply nikoshFont
}

.field-selection-tbl td {
  @apply font-16;
}

table th {
  @apply nikoshFont;
  @apply font-16;
}

.fuse-vertical-navigation-item {
  @apply nikoshFont;
  @apply font-16;
}