.text-gray-700 {
    text-transform: capitalize;
}

.mat-hint,
mat-error {
    text-transform: lowercase;
}

.mat-hint:first-letter,
mat-error:first-letter {
    text-transform: uppercase;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}